{{page-title "Formulier aanmaken"}}
{{breadcrumb "Formulier aanmaken" route="custom-form.new"}}
<AuToolbar @size="large" @border="bottom" class="au-u-margin-bottom" as |Group|>
  <Group>
    <AuHeading @skin="2">Formulier aanmaken</AuHeading>
  </Group>
  <Group>
    <AuButtonGroup>
      <AuButton
        @disabled={{this.isSaving}}
        @skin="secondary"
        {{on "click" this.onCancel}}
      >Annuleer</AuButton>
      <Shared::Tooltip
        @showTooltip={{not this.isValidName}}
        @alignment="right"
        @tooltipText="Geef een naam aan het formulier."
      >
        <AuButton
          @disabled={{not this.isValidName}}
          @skin="primary"
          @loading={{this.isSaving}}
          @loadingMessage="Formulier aan het creëren"
          {{on "click" this.saveForm}}
        >Opslaan</AuButton>
      </Shared::Tooltip>
    </AuButtonGroup>
  </Group>
</AuToolbar>

<div class="au-o-box au-u-1-3@medium au-u-flex au-u-flex--column">
  <AuLabel @error={{this.errorMessage}} @required={{true}}>Naam van het
    formulier</AuLabel>
  <AuInput
    @error={{this.errorMessage}}
    value={{this.name}}
    @width="block"
    placeholder="Formulier naam"
    {{on "input" this.onFormNameUpdate}}
  />
  {{#if this.errorMessage}}
    <AuHelpText @error={{true}}>{{this.errorMessage}}</AuHelpText>
  {{/if}}
  <AuLabel class="au-u-margin-top">Beschrijving</AuLabel>
  <AuTextarea
    @width={{this.width}}
    value={{this.description}}
    placeholder="Formulier beschrijving"
    {{on "input" this.onFormDescriptionUpdate}}
  />
</div>