{{page-title "Overzicht"}}
{{breadcrumb "Overzicht" route="custom-forms.overview"}}
<AuToolbar
  @size="large"
  class="au-u-padding-bottom-none au-u-margin-bottom"
  as |Group|
>
  <Group>
    <AuHeading @skin="2">Eigen gegevens</AuHeading>
  </Group>
  <Group>
    <AuButtonGroup>
      {{#if (is-feature-enabled "show-codelijsten-module")}}
        <AuLink @route="codelijsten.overzicht" @skin="button-secondary">Beheer
          codelijsten</AuLink>
      {{/if}}
      <AuLink @route="custom-forms.new" @skin="button">Nieuw formulier aanmaken</AuLink>
    </AuButtonGroup>
  </Group>
</AuToolbar>
<AuDataTable
  @content={{this.model.formDefinitions}}
  @noDataMessage="Geen formulieren gevonden"
  @sort={{this.sort}}
  @page={{this.page}}
  @size={{this.size}}
  as |t|
>
  <t.content as |c|>
    <c.header>
      <AuDataTableThSortable
        @field="targetLabel"
        @currentSorting={{this.sort}}
        @label="Formulier"
      />
      <AuDataTableThSortable
        @field="description"
        @currentSorting={{this.sort}}
        @label="Beschrijving"
      />
      <AuDataTableThSortable
        @field="createdAt"
        @currentSorting={{this.sort}}
        @label="Aangemaakt op"
      />
      <AuDataTableThSortable
        @field="modifiedAt"
        @currentSorting={{this.sort}}
        @label="Laatst bewerkt"
      />
    </c.header>
    <c.body as |form|>
      <td class="au-u-1-5">
        <LinkTo
          @route="custom-forms.instances.index"
          @model={{form.id}}
          class="au-c-link au-u-medium"
        >
          {{form.targetLabel}}
        </LinkTo>
      </td>
      <td>
        {{form.description}}
      </td>
      <td class="au-u-1-5">{{form.displayCreatedDate}}</td>
      <td class="au-u-1-5">{{form.displayModifiedDate}}</td>
    </c.body>
  </t.content>
</AuDataTable>