<div {{did-update this.checkIfMandateAlreadyExists @recentUpdate}}>
  <AuModal
    @title={{this.doubleMandateTitle}}
    @modalOpen={{this.isModalOpen}}
    @closable={{true}}
    @closeModal={{this.closeModal}}
    as |Modal|
  >
    <Modal.Body>
      <p>
        {{this.doubleMandateText}}
      </p>
    </Modal.Body>
    <Modal.Footer>
      <AuToolbar as |Group|>
        <Group>
          <AuButtonGroup>
            <AuButton {{on "click" this.updateStateDoubleMandataris}}>
              Ja
            </AuButton>
            <AuButton @skin="secondary" {{on "click" this.closeModal}}>
              Nee
            </AuButton>
          </AuButtonGroup>
        </Group>
      </AuToolbar>
    </Modal.Footer>
  </AuModal>
</div>