<AuToolbar @border="bottom" @size="large" as |Group|>
  <Group>
    <AuHeading @skin="2">Bewerk aanstellingsperiode voor
      {{@model.functionaris.isBestuurlijkeAliasVan.gebruikteVoornaam}}
      {{@model.functionaris.isBestuurlijkeAliasVan.achternaam}}
      als
      {{@model.functionaris.bekleedt.rol.label}}</AuHeading>
  </Group>
</AuToolbar>

<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box">
    <Person::Card @persoon={{@model.functionaris.isBestuurlijkeAliasVan}} />

    <div class="au-u-margin-top">
      <Form::Instance
        @instanceId={{@model.instanceId}}
        @form={{@model.form}}
        @onSave={{this.save}}
      />
    </div>
  </div>
</div>

<div class="au-o-box">
  <AuAlert @icon="info-circle">
    <AuContent @skin="small">
      <p>Hou de
        <strong>historiek</strong>
        van afgelopen aanstellingsperiodes bij.</p>
      <ul>
        <li>Nieuwe aanstellingsperiode of status:
          <AuLink
            @route="leidinggevendenbeheer.bestuursfunctie.functionarissen"
          >voeg een nieuwe aanstellingsperiode toe</AuLink>.</li>
        <li>Aanstellingsperiode verwijderen:
          <a
            href="mailto:LoketLokaalBestuur@vlaanderen.be?subject=Leidinggevendenbeheer - Loket Lokaal Bestuur"
            class="au-c-link"
          >neem contact op met ons</a>.</li>
      </ul>
    </AuContent>
  </AuAlert>
</div>

<AuToolbar @border="top" @size="large" as |Group|>
  <Group>
    <Form::CancelWithConfirm
      @cancel={{this.cancel}}
    >Annuleer</Form::CancelWithConfirm>
  </Group>
</AuToolbar>