<AuToolbar @border="bottom" @size="large" as |Group|>
  <Group>
    <AuHeading @skin="2">Bewerk aanstellingsperiode voor
      {{@model.isBestuurlijkeAliasVan.gebruikteVoornaam}}
      {{@model.isBestuurlijkeAliasVan.achternaam}}
      als
      {{@model.bekleedt.rol.label}}</AuHeading>
  </Group>
</AuToolbar>

<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box">
    <Person::Card @persoon={{@model.isBestuurlijkeAliasVan}} />

    <Tmp::Todo>Add edit aanstellingsperiode form!</Tmp::Todo>
  </div>
</div>

<div class="au-o-box">
  <AuAlert @icon="info-circle">
    <AuContent @skin="small">
      <p>Hou de
        <strong>historiek</strong>
        van afgelopen aanstellingsperiodes bij.</p>
      <ul>
        <li>Nieuwe aanstellingsperiode of status:
          <AuLink
            @route="leidinggevendenbeheer.bestuursfunctie.functionarissen"
          >voeg een nieuwe aanstellingsperiode toe</AuLink>.</li>
        <li>Aanstellingsperiode verwijderen:
          <a
            href="mailto:LoketLokaalBestuur@vlaanderen.be?subject=Leidinggevendenbeheer - Loket Lokaal Bestuur"
            class="au-c-link"
          >neem contact op met ons</a>.</li>
      </ul>
    </AuContent>
  </AuAlert>
</div>

<AuToolbar @border="top" @size="large" as |Group|>
  <Group>
    <AuButton {{on "click" this.cancel}} @skin="secondary">
      Annuleer
    </AuButton>
  </Group>
</AuToolbar>