{{breadcrumb
  "Bekrachtigen mandatarissen"
  route="organen.orgaan.bulk-bekrachtiging"
}}
<AuToolbar
  @size="large"
  class="au-u-padding-bottom-none au-u-margin-bottom-none"
  as |Group|
>
  <Group class="au-u-margin-bottom-none">
    <AuHeading @skin="2">
      Bekrachtig Mandatarissen
    </AuHeading>
  </Group>
  <Group>
    <AuButton {{on "click" this.openModal}} @disabled={{this.isDisabled}}>
      Pas publicatiestatus aan
    </AuButton>
  </Group>
</AuToolbar>
<AuHeading @skin="3" class="au-u-regular au-u-padding-left">
  {{this.model.bestuursorgaan.naam}}
</AuHeading>

<Organen::BekrachtigMandatarisTable
  @content={{@model.mandatarissen}}
  @bestuursperiode={{@model.selectedBestuursperiode}}
  @sort={{this.sort}}
  @page={{this.page}}
  @size={{this.size}}
  @onCheck={{this.checkBox}}
  @checkAll={{this.checkAll}}
  @checkedByDefault={{this.allChecked}}
/>

{{outlet}}

<AuModal
  @title="Pas publicatiestatus aan"
  @modalOpen={{this.modalOpen}}
  @closable={{true}}
  @closeModal={{this.closeModal}}
>
  <div class="au-o-box au-o-flow">
    <AuAlert @icon="info-circle" @closable={{false}}>
      De publicatiestatus
      <strong>bekrachtigd</strong>
      is definitief. Indien je mandatarissen hebt geselecteerd met deze
      publicatiestatus, het is niet mogelijk deze terug naar effectief te
      zetten.
    </AuAlert>
    <AuToolbar class="au-u-margin-top" as |Group|>
      <Group>
        <AuButtonGroup>
          <AuButton {{on "click" this.setEffectief}}>
            Maak effectief
          </AuButton>
          <AuButton {{on "click" this.bekrachtig}}>
            Bekrachtig
          </AuButton>
          <AuButton {{on "click" this.closeModal}} @skin="secondary">
            Annuleer
          </AuButton>
        </AuButtonGroup>
      </Group>
    </AuToolbar>
  </div>
</AuModal>