{{breadcrumb
  "Wijzig rangorde mandatarissen"
  route="organen.orgaan.edit-rangorde"
}}
<AuToolbar
  @size="large"
  class="au-u-padding-bottom-none au-u-margin-bottom-none"
  as |Group|
>
  <Group class="au-u-margin-bottom-none">
    <AuHeading @skin="2">
      Wijzig rangorde mandatarissen
    </AuHeading>
  </Group>
  <Group>
    <Shared::Tooltip
      @showTooltip={{this.openModalDisabled}}
      @alignment="right"
      @tooltipText="Er werden nog geen wijzigingen gevonden."
    >
      <AuButton
        {{on "click" this.openModal}}
        @disabled={{this.openModalDisabled}}
      >
        Pas rangorde aan
      </AuButton>
    </Shared::Tooltip>
  </Group>
</AuToolbar>

<AuHeading @skin="3" class="au-u-regular au-u-padding-left au-u-padding-bottom">
  {{this.model.bestuursorgaan.naam}}
  {{this.model.selectedBestuursperiode.label}}
</AuHeading>

<div class="au-u-padding au-u-padding-top-none">
  <p class="au-u-margin-bottom">
    Deze pagina laat je toe om de rangorde van de mandatarissen aan te passen.
  </p>
</div>

<Organen::EditMandatarisRangordeTable
  @mandatarissen={{@model.mandatarisStruct}}
  @orderedMandatarissen={{this.orderedMandatarissen}}
  @updateMandatarisList={{this.updateOrderedMandatarisList}}
  @bestuursperiode={{@model.selectedBestuursperiode}}
/>

{{outlet}}

<AuModal
  @title={{this.modalTitle}}
  @modalOpen={{this.modalOpen}}
  @closable={{true}}
  @closeModal={{this.closeModal}}
>
  <div class="au-o-box au-o-flow">
    {{#if this.initial}}
      <div>
        Is de aanpassing het resultaat van een mandatenwissel, waardoor de
        rangorde van verschillende mandatarissen aangepast is, ga dan verder met
        <strong>wijzig rangorde</strong>.
        <br />
        Is de data foutief en wens je fouten te corrigeren dan dien je
        <strong>corrigeer rangorde</strong>te gebruiken.
      </div>
      <AuToolbar class="au-u-margin-top" as |Group|>
        <Group>
          <AuButtonGroup>
            <AuButton
              @loading={{this.loading}}
              @loadingMessage="Bezig met opslaan"
              {{on "click" this.startChangeRangorde}}
            >
              Wijzig rangorde
            </AuButton>
            <AuButton
              @alert={{true}}
              @loading={{this.loading}}
              @loadingMessage="Bezig met opslaan"
              {{on "click" this.startCorrectingRangorde}}
            >
              Corrigeer rangorde
            </AuButton>
            <AuButton {{on "click" this.closeModal}} @skin="secondary">
              Annuleer
            </AuButton>
          </AuButtonGroup>
        </Group>
      </AuToolbar>
    {{else}}
      {{#if this.correcting}}
        <div>
          <strong>correctie</strong>
          van de rangorde betekent dat de rangorde van deze mandatarissen
          verkeerd ingevuld stond. Je aanpassing corrigeert dan deze
          mandatarissen. Als er een
          <strong>wissel is in de rangordes van verschillende mandatarissen</strong>
          gebruik dan
          <strong>wijzig rangorde</strong>.
        </div>

      {{else}}
        <div>
          <p>
            Een
            <strong>wijziging</strong>
            van de rangorde betekent dat de rangorde van deze mandatarissen
            <strong>doorheen de bestuursperiode</strong>
            aangepast moet worden, bijvoorbeeld nadat een mandataris verhinderd
            werd en er een vervanger werd aangesteld met een andere rangorde.</p>
          <p>
            Als dit niet de aanpassing is die je wil doen, maar je een fout wil
            rechtzetten, gebruik dan
            <strong>corrigeer rangorde</strong>.

          </p>
          <p>
            Vul een datum in waarop de wijziging van de rangorde dient in
            werking te treden.
          </p>
          <DateInput
            @label="Datum van aanpassing"
            @value={{this.momentizedDate}}
            @from={{this.model.bestuursorgaanInTijd.bindingStart}}
            @to={{this.model.bestuursorgaanInTijd.bindingEinde}}
            @onChange={{fn (mut this.dateOfChange)}}
            @isRequired={{true}}
          />
        </div>
      {{/if}}
      <AuToolbar class="au-u-margin-top" as |Group|>
        <Group>
          <AuButtonGroup>
            <AuButton
              @skin="secondary"
              @loading={{this.loading}}
              @loadingMessage="Bezig met opslaan"
              {{on "click" this.goBack}}
            >
              Ga terug
            </AuButton>
            <AuButton
              @loading={{this.loading}}
              @loadingMessage="Bezig met opslaan"
              {{on "click" this.changeRangorde}}
              @disabled={{this.confirmDisabled}}
            >
              Bevestig
            </AuButton>
            <AuButton {{on "click" this.closeModal}} @skin="secondary">
              Annuleer
            </AuButton>
          </AuButtonGroup>
        </Group>
      </AuToolbar>
    {{/if}}
  </div>
</AuModal>

<Shared::UnsavedChangesModal
  @isModalOpen={{this.interceptedTransition}}
  @closeModal={{this.cancelLoseChanges}}
  @onCancel={{this.cancelLoseChanges}}
  @onDiscard={{this.confirmLoseChanges}}
/>