<div class="au-c-body-container au-c-body-container--scroll">

  <AuToolbar @size="large" class="au-u-padding-bottom-none" as |Group|>
    <Group>
      <AuHeading @skin="5">Details</AuHeading>
    </Group>
  </AuToolbar>

  <div class="au-o-box">
    <Form::Instance
      @instanceId={{this.model.instanceId}}
      @form={{this.model.bestuursorgaanFormDefinition}}
      @isEditable={{false}}
    />

    {{#unless (await this.model.bestuursorgaan.isDecretaal)}}
      <AuToolbar class="au-u-margin-top" as |Group|>
        <Group>
          <AuLink
            @route="organen.orgaan.edit"
            @model={{this.model.instanceId}}
            @skin="button-secondary"
          >Pas aan</AuLink>
        </Group>
      </AuToolbar>
    {{/unless}}
  </div>

  <AuToolbar @size="large" class="au-u-padding-bottom-none" as |Group|>
    <Group>
      <AuHeading @skin="5">Mandaten</AuHeading>
    </Group>
  </AuToolbar>

  <Mandatenbeheer::BestuursorgaanMandaten
    @orderedMandaten={{this.model.orderedMandaten}}
    @availableBestuursfuncties={{this.model.availableBestuursfuncties}}
    @bestuursorgaanIT={{this.model.currentBestuursorgaan}}
  />
</div>