<AuToolbar
  @size="large"
  @nowrap="true"
  class="au-u-padding-bottom-none"
  as |Group|
>
  <Group>
    <AuHeading @skin="3">Mandatarissen</AuHeading>
  </Group>
  <Group class="au-u-1-3@medium">
    <AuInput
      value={{this.filter}}
      @icon="search"
      @iconAlignment="left"
      @width="block"
      placeholder="Zoek mandataris"
      {{on "input" (perform this.search value="target.value")}}
    />
  </Group>
  <Group>
    <AuButton {{on "click" this.addMandataris}}>
      Voeg mandataris toe
    </AuButton>
  </Group>
</AuToolbar>

<div class="au-o-box">
  <Organen::DraftMandatarisList
    @mandatarissen={{@model.mandatarissen}}
    @content={{@model.mandatarissen}}
    @sort={{this.sort}}
    @page={{this.page}}
    @size={{this.size}}
    @title=""
    @showVoornaam={{true}}
    @showNaam={{true}}
    @showFractie={{true}}
    @showFunctie={{true}}
    @showRangorde={{false}}
    @showBevoegdheid={{false}}
    @showStartMandaat={{true}}
    @showEindeMandaat={{true}}
  />
</div>

{{outlet}}