{{breadcrumb "Mandatarissen" route="organen.orgaan.mandatarissen"}}
<AuToolbar
  @size="large"
  class="au-u-padding-bottom-none au-u-margin-bottom-none"
  as |Group|
>
  <Group class="au-u-margin-bottom-none">
    <AuHeading @skin="2">
      Mandatarissen
    </AuHeading>
  </Group>
  <Group>
    <Shared::Tooltip
      @showTooltip={{@model.legislatuurInBehandeling}}
      @tooltipText={{this.toolTipText}}
    >
      <AuButton
        {{on "click" (fn this.setIsCreatingMandataris true)}}
        @disabled={{@model.legislatuurInBehandeling}}
      >
        Voeg nieuwe mandataris toe
      </AuButton>
    </Shared::Tooltip>
  </Group>
</AuToolbar>
<AuHeading @skin="3" class="au-u-regular au-u-padding-left">
  {{this.model.bestuursorgaan.naam}}
</AuHeading>

<div class="au-o-box">
  <AuInput
    value={{this.filter}}
    @icon="search"
    @iconAlignment="right"
    placeholder="Zoek mandataris"
    {{on "input" (perform this.search value="target.value")}}
  />
</div>
<div class="au-o-box au-u-padding-top-none">
  <AuToggleSwitch
    @checked={{this.activeOnly}}
    @onChange={{this.toggleActiveOnly}}
  >Verberg niet actieve mandatarissen</AuToggleSwitch>
</div>
<Organen::MandatarisTable
  @content={{@model.mandatarissen}}
  @bestuursperiode={{@model.selectedBestuursperiode}}
  @sort={{this.sort}}
  @page={{this.page}}
  @size={{this.size}}
  @personRoute="mandatarissen.persoon.mandaten"
  @mandaatRoute="mandatarissen.persoon.mandataris"
  @hidePublicationStatus={{(not (await this.model.bestuursorgaan.isDecretaal))}}
/>

{{outlet}}

<AuModal
  @title="Voeg nieuwe mandataris toe"
  @modalOpen={{this.isCreatingMandataris}}
  @closable={{true}}
  @closeModal={{(fn this.setIsCreatingMandataris false)}}
>
  {{#if @model.bestuurseenheid.isOCMW}}
    <AuAlert @skin="warning" @icon="alert-triangle" @closable={{false}}>
      Mandatarissen in het OCMW hebben vaak een corresponderend mandaat in de
      gemeente. Om deze automatisch aan te maken is het gemakkelijker dit te
      doen vanuit de gemeente. Daar kan je beide aanmaken met een enkel
      formulier. Als je beslist dit in het OCMW te doen zul je ook nog manueel
      de corresponderende mandataris moeten aanmaken in de gemeente.
    </AuAlert>
  {{/if}}
  <div class="au-o-box">
    <Form::NewInstance
      @onCreate={{this.onCreate}}
      @form={{@model.mandatarisNewForm}}
      @buildSourceTtl={{this.buildSourceTtl}}
      @buildMetaTtl={{this.buildMetaTtl}}
    />
  </div>
</AuModal>

<Mandatarissen::Linked::Modal
  @recentUpdate={{this.createdMandataris}}
  @mandataris={{this.newestMandatarisId}}
  @create="true"
/>