<AuToolbar
  @size="large"
  class="au-u-padding-bottom-none au-u-margin-bottom-none"
  as |Group|
>
  <Group class="au-u-margin-bottom-none">
    <AuHeading @skin="2">
      Mandatarissen
    </AuHeading>
  </Group>
  <Group>
    <AuButton {{on "click" (fn this.setIsCreatingMandataris true)}}>
      Voeg nieuwe mandataris toe
    </AuButton>
  </Group>
</AuToolbar>
<AuHeading @skin="3" class="au-u-regular au-u-padding-left">
  {{this.model.bestuursorgaan.naam}}
</AuHeading>

<div class="au-o-box">
  <AuInput
    value={{this.filter}}
    @icon="search"
    @iconAlignment="right"
    placeholder="Zoek mandataris"
    {{on "input" (perform this.search value="target.value")}}
  />
</div>

<Organen::MandatarisTable
  @content={{@model.mandatarissen}}
  @sort={{this.sort}}
  @page={{this.page}}
  @size={{this.size}}
  @personRoute="mandatarissen.persoon"
  @mandaatRoute="mandatarissen.mandataris"
/>

{{outlet}}

<AuModal
  @title="Voeg nieuwe mandataris toe"
  @modalOpen={{this.isCreatingMandataris}}
  @closable={{true}}
  @closeModal={{(fn this.setIsCreatingMandataris false)}}
>
  <div class="au-o-box">
    <Form::NewInstance
      @onCreate={{this.onCreate}}
      @form={{@model.mandatarisNewForm}}
      @buildSourceTtl={{this.buildSourceTtl}}
      @buildMetaTtl={{this.buildMetaTtl}}
    />
  </div>
</AuModal>