<AuToolbar
  @size="large"
  class="au-u-padding-bottom-none au-u-margin-bottom-none"
  as |Group|
>
  <Group class="au-u-margin-bottom-none">
    <AuHeading @skin="2">
      Mandatarissen
    </AuHeading>
  </Group>
  <Group>
    <AuLink @route="organen.orgaan.mandataris.new" @skin="button">
      Voeg mandataris toe
    </AuLink>
  </Group>
</AuToolbar>
<AuHeading @skin="3" class="au-u-regular au-u-padding-left">
  {{this.model.bestuursorgaan.naam}}
</AuHeading>

<div class="au-o-box">
  <AuInput
    value={{this.filter}}
    @icon="search"
    @iconAlignment="left"
    @width="block"
    placeholder="Zoek mandataris"
    {{on "input" (perform this.search value="target.value")}}
  />
</div>

<Organen::MandatarisTable
  @content={{@model.mandatarissen}}
  @sort={{this.sort}}
  @page={{this.page}}
  @size={{this.size}}
  @personRoute="mandatarissen.persoon"
  @mandaatRoute="mandatarissen.mandataris"
/>

{{outlet}}