{{breadcrumb "Mandatarissen" route="organen.orgaan.mandatarissen"}}
<AuToolbar
  @size="large"
  class="au-u-padding-bottom-none au-u-margin-bottom-none"
  as |Group|
>
  <Group class="au-u-margin-bottom-none">
    <AuHeading @skin="2">
      Mandatarissen
    </AuHeading>
  </Group>
  <Group>
    {{! template-lint-disable require-context-role }}
    <AuDropdown
      @title="Meer Acties"
      @skin="secondary"
      @icon="three-dots"
      @iconAlignment="right"
    >
      {{#if (await this.model.bestuursorgaan.hasRangorde)}}
        {{#if this.isDisabled}}
          <Shared::Tooltip
            role="menuitem"
            @showTooltip={{true}}
            @tooltipText="Het is niet mogelijk de rangorde van mandatarissen te wijzigen in een bestuursperiode waarvan de voorbereiding van de legislatuur nog actief is."
          >
            <AuButton @disabled={{true}} @skin="link" role="menuitem">
              Wijzig rangorde
            </AuButton>
          </Shared::Tooltip>
        {{else}}
          <Shared::Tooltip
            role="menuitem"
            @showTooltip={{true}}
            @tooltipText="Pas de rangorde aan van meerdere mandatarissen tegelijkertijd."
          >
            <AuLink
              role="menuitem"
              @route="organen.orgaan.edit-rangorde"
              @skin="link"
            >Wijzig rangorde
            </AuLink>
          </Shared::Tooltip>
        {{/if}}
      {{/if}}
      {{#unless this.model.isEigenOrgaan}}
        {{#if this.isDisabled}}
          <Shared::Tooltip
            @showTooltip={{true}}
            role="menuitem"
            @tooltipText="Het is niet mogelijk mandatarissen te bekrachtingen in een bestuursperiode waarvan de voorbereiding van de legislatuur nog actief is."
          >
            <AuButton @disabled={{true}} @skin="link" role="menuitem">
              Bekrachtig mandatarissen
            </AuButton>
          </Shared::Tooltip>
        {{else}}
          <Shared::Tooltip
            role="menuitem"
            @showTooltip={{true}}
            @tooltipText="Bekrachtig meerdere mandatarissen tegelijkertijd."
          >
            <AuLink
              role="menuitem"
              @skin="link"
              @route="organen.orgaan.bulk-bekrachtiging"
            >Bekrachtig mandatarissen
            </AuLink>
          </Shared::Tooltip>
        {{/if}}
      {{/unless}}
      <DownloadMandatarissenFromTable
        @bestuursperiode={{@model.selectedBestuursperiode}}
        @activeOnly={{this.activeFilter}}
        @bestuursorgaan={{this.model.bestuursorgaan}}
        @bestuursorgaanInTijdId={{this.model.bestuursorgaanInTijd.id}}
        @sort={{this.sort}}
        @skin="link"
        @role="menuitem"
      />
    </AuDropdown>
    <Shared::Tooltip
      @showTooltip={{this.isDisabled}}
      @tooltipText="Het is niet mogelijk mandatarissen toe te voegen aan een bestuursperiode terwijl de voorbereiding van de legislatuur actief is."
    >
      <AuButton
        {{on "click" (fn this.setIsCreatingMandataris true)}}
        @disabled={{this.isDisabled}}
      >
        Voeg nieuwe mandataris toe
      </AuButton>
    </Shared::Tooltip>
  </Group>
</AuToolbar>
<div class="au-u-flex au-u-flex--between">
  <AuHeading @skin="3" class="au-u-regular au-u-padding-left">
    {{this.model.bestuursorgaan.naam}}
    {{this.model.selectedBestuursperiode.detailedViewLabel}}
  </AuHeading>

</div>
<ValidatieTable
  @instance={{this.model.bestuursorgaanInTijd}}
  class="au-u-padding-bottom-none"
/>
<div
  class="au-o-box au-u-flex au-u-flex--row au-u-flex--vertical-center au-u-flex--between"
>
  <AuInput
    value={{this.filter}}
    @icon="search"
    @iconAlignment="right"
    placeholder="Zoek mandataris"
    {{on "input" (perform this.search value="target.value")}}
  />
  <div class="au-u-muted au-u-bold">{{this.personCount}}
    {{if (eq this.personCount 1) "Persoon" "Personen"}}</div>
</div>
{{#if this.selectedPeriodIsCurrent}}
  <div class="au-o-box au-u-padding-top-none">
    <AuToggleSwitch
      @checked={{this.activeOnly}}
      @onChange={{this.toggleActiveOnly}}
    >Verberg niet actieve mandatarissen</AuToggleSwitch>
  </div>
{{/if}}

{{#unless (is-feature-enabled "shacl-report")}}
  <MinMaxMandatarisWarning
    @bestuursorgaanInTijd={{this.model.bestuursorgaanInTijd}}
    @mandatarissen={{this.model.mandatarissen}}
  />
{{/unless}}

<Organen::MandatarisTable
  @content={{@model.mandatarissen}}
  @bestuursperiode={{@model.selectedBestuursperiode}}
  @sort={{this.sort}}
  @page={{this.page}}
  @size={{this.size}}
  @bestuursorgaan={{this.model.bestuursorgaan}}
  @personRoute="mandatarissen.persoon.mandaten"
  @mandaatRoute="mandatarissen.persoon.mandataris"
  @showRangorde={{await @model.bestuursorgaan.hasRangorde}}
/>

{{outlet}}

<AuModal
  @title="Voeg nieuwe mandataris toe"
  @modalOpen={{this.isCreatingMandataris}}
  @closable={{true}}
  @closeModal={{fn this.setIsCreatingMandataris false}}
>
  {{#if @model.bestuurseenheid.isOCMW}}
    <AuAlert @skin="warning" @icon="alert-triangle" @closable={{false}}>
      Mandatarissen in het OCMW hebben vaak een corresponderend mandaat in de
      gemeente. Om deze automatisch aan te maken is het gemakkelijker dit te
      doen vanuit de gemeente. Daar kan je beide aanmaken met een enkel
      formulier. Als je beslist dit in het OCMW te doen zul je ook nog manueel
      de corresponderende mandataris moeten aanmaken in de gemeente.
    </AuAlert>
  {{/if}}
  <div class="au-o-box">
    <SemanticForms::NewInstance
      @onCreate={{this.onCreate}}
      @form={{@model.mandatarisNewForm}}
      @buildSourceTtl={{this.buildSourceTtl}}
      @buildMetaTtl={{this.buildMetaTtl}}
    />
  </div>
</AuModal>

<Mandatarissen::Linked::Modal
  @recentUpdate={{this.createdMandataris}}
  @mandataris={{this.newestMandatarisId}}
  @create="true"
/>