<AuModal @modalOpen={{@isOpen}} @closable={{true}} @closeModal={{this.cancel}}>
  <:title>
    Bewerk mandaat
    <p class="au-u-h4 au-u-regular">
      {{@bestuursorganenTitle}}
    </p>

  </:title>
  <:body>
    <div>
      <AuLabel @required={{true}}>
        Nieuwe Status
      </AuLabel>
      <PowerSelect
        @allowClear={{false}}
        @selected={{this.status}}
        @options={{this.statusOptions}}
        @onChange={{this.updateStatus}}
        @searchEnabled={{true}}
        @searchField="label"
        @noMatchesMessage="Geen resultaten"
        as |status|
      >
        {{status.label}}
      </PowerSelect>
    </div>
    {{#if this.showRangordeField}}
      <div>
        <AuLabel>
          Rangorde
        </AuLabel>
        <RangordeDropdown
          id="mandataris-rangorde"
          @selected={{this.rangorde}}
          @placeholder={{this.rangordePlaceholder}}
          @mandaatLabel={{this.mandaatLabel}}
          @onNewRangorde={{this.updateRangorde}}
        />
      </div>
    {{/if}}
  </:body>
  <:footer>
    <AuToolbar as |Group|>
      <Group>
        <AuButtonGroup>
          <Shared::Tooltip
            @showTooltip={{this.disabled}}
            @tooltipText={{this.toolTipText}}
            @alignment="left"
          >
            <AuButton
              {{on "click" this.confirmMandatarisChanges}}
              @disabled={{this.disabled}}
            >
              {{if this.hasChanges "Pas aan" "Onveranderd"}}
            </AuButton>
          </Shared::Tooltip>
          <AuButton {{on "click" this.cancel}} @skin="secondary">
            Annuleer
          </AuButton>
        </AuButtonGroup>
      </Group>
    </AuToolbar>
  </:footer>
</AuModal>

<AuModal
  @modalOpen={{this.isSecondModalOpen}}
  @closable={{true}}
  @closeModal={{this.cancelSecondModal}}
>
  <:title>
    Bewerk mandaat
    <p class="au-u-h4 au-u-regular">
      {{@bestuursorganenTitle}}
    </p>

  </:title>
  <:body>
    <div>
      <AuLabel @required={{true}}>
        Reden van aanpassing
      </AuLabel>
      <PowerSelect
        @allowClear={{false}}
        @selected={{this.reasonForChange}}
        @options={{this.reasonForChangeOptions}}
        @onChange={{this.selectReasonForChange}}
        @searchEnabled={{true}}
        @noMatchesMessage="Geen resultaten"
        as |reason|
      >
        {{reason}}
      </PowerSelect>
    </div>
  </:body>
  <:footer>
    <AuToolbar as |Group|>
      <Group>
        <AuButtonGroup>
          <AuButton {{on "click" this.saveForm}}>
            Opslaan
          </AuButton>
          <AuButton {{on "click" this.cancelSecondModal}} @skin="secondary">
            Annuleer
          </AuButton>
        </AuButtonGroup>
      </Group>
    </AuToolbar>
  </:footer>
</AuModal>