<div class="au-u-flex au-u-flex--column au-o-flow">
  <div>
    <AuLabel @required={{true}}>
      Status
    </AuLabel>
    <PowerSelect
      @allowClear={{false}}
      @selected={{this.status}}
      @options={{this.statusOptions}}
      @onChange={{this.updateStatus}}
      @searchEnabled={{true}}
      @searchField="label"
      @noMatchesMessage="Geen resultaten"
      as |status|
    >
      {{status.label}}
    </PowerSelect>
  </div>
  {{#if this.isStatusVerhinderd}}
    <div>
      <AuLabel>
        Vervanger
      </AuLabel>
      <Mandatarissen::ReplacementSelect
        @mandataris={{@mandataris}}
        @selected={{this.replacementPerson}}
        @onSelect={{this.updateReplacement}}
        @bestuursorgaanIT={{@bestuursorgaanIT}}
        @inline={{true}}
      />
      {{#if this.hasReplacementError}}
        <AuAlert @skin="error" @icon="alert-triangle" class="au-u-margin-top">
          Dit is dezelfde persoon als de oorspronkelijke mandataris, het is niet
          mogelijk een mandataris te laten vervangen door zichzelf.
        </AuAlert>
      {{/if}}
    </div>
  {{/if}}
  {{#unless this.isTerminatingMandate}}
    {{#if this.showRangordeField}}
      <div>
        <AuLabel>
          Rangorde
        </AuLabel>
        <RangordeDropdown
          id="mandataris-rangorde"
          @selected={{this.rangorde}}
          @placeholder={{this.rangordePlaceholder}}
          @mandaatLabel={{this.mandaatLabel}}
          @onNewRangorde={{this.updateRangorde}}
        />
      </div>
    {{/if}}
    {{#unless (await this.hideFractieField)}}
      <Mandatarissen::FractieSelector
        @fractie={{this.fractie}}
        @isRequired={{@isFractieRequired}}
        @onSelect={{this.updateFractie}}
        @bestuurseenheid={{@bestuurseenheid}}
        @bestuursperiode={{@bestuursorgaanIT.heeftBestuursperiode}}
        @mandataris={{@mandataris}}
        {{! TODO this should be generalised somehow }}
        @isUpdatingState={{false}}
      />
    {{/unless}}
    {{#if this.startDate}}
      <Mandataris::Edit::StartEndDate
        @startDate={{this.startDate}}
        @endDate={{this.endDate}}
        @from={{@bestuursorgaanIT.bindingStart}}
        @to={{@bestuursorgaanIT.bindingEinde}}
        @onChange={{this.updateStartEndDate}}
        @onErrorStateUpdated={{this.updateErrorMap}}
      />
    {{/if}}
  {{/unless}}
</div>