<AuModal
  @modalOpen={{@startFlow}}
  @closable={{true}}
  @closeModal={{this.onCloseModal}}
>
  <:title>
    <p class="au-u-h4 au-u-regular">
      {{this.activeStep.label}}
    </p>
  </:title>
  <:body>
    {{#if this.activeStep.isMandatarisStep}}
      <Mandataris::Edit::Form
        @toggleModal={{this.nextStep}}
        @bestuurseenheid={{@bestuurseenheid}}
        @bestuursorgaanIT={{@bestuursorgaanIT}}
        @mandataris={{@mandataris}}
        @linkedMandataris={{@linkedMandataris}}
        @bestuursorganenTitle={{this.mandatarisTitle}}
        @isFractieRequired={{@isFractieRequired}}
        @onFormIsValid={{this.updateMandatarisStepCompleted}}
      />
    {{/if}}

    {{#if this.activeStep.isReasonStep}}
      <div>
        <AuLabel @required={{true}}>
          Reden van aanpassing
        </AuLabel>
        <PowerSelect
          @allowClear={{false}}
          @selected={{this.reasonForChange}}
          @options={{this.reasonForChangeOptions}}
          @onChange={{this.selectReasonForChange}}
          @searchEnabled={{true}}
          @noMatchesMessage="Geen resultaten"
          as |reason|
        >
          {{reason}}
        </PowerSelect>
      </div>
    {{/if}}
  </:body>
  <:footer>
    <AuToolbar as |Group|>
      <Group>
        <AuButtonGroup>
          <AuButton
            {{on "click" this.nextStep}}
            @disabled={{not this.activeStep.canContinueToNextStep}}
          >
            {{this.nextButtonText}}
          </AuButton>
          {{#unless this.activeStepIsFirstStep}}
            <AuButton {{on "click" this.previousStep}} @skin="secondary">
              Vorige stap
            </AuButton>
          {{/unless}}
        </AuButtonGroup>
      </Group>
    </AuToolbar>
  </:footer>
</AuModal>