<AuModal
  class="wizard-modal"
  @modalOpen={{@isWizardOpen}}
  @closable={{true}}
  @closeModal={{this.closeWizardSafely}}
>
  <:title>
    {{this.activeStep.label}}
  </:title>
  <:body>
    {{#if this.activeStep.isMandatarisStep}}
      <Mandataris::Edit::Form
        @bestuurseenheid={{@bestuurseenheid}}
        @bestuursorgaanIT={{@bestuursorgaanIT}}
        @formValues={{@mandatarisFormValues}}
        @isFractieRequired={{@isFractieRequired}}
        @onFormIsValid={{this.updateMandatarisStepCompleted}}
        @onChange={{this.updateMandatarisFormValues}}
        @onReplacementChange={{this.updateReplacement}}
      />
    {{/if}}

    {{#if this.activeStep.isReplacementStep}}
      <Mandataris::Edit::ReplacementForm
        @person={{this.replacementPerson}}
        @prefillStart={{this.startForReplacement}}
        @prefillEinde={{this.eindeForReplacement}}
        @bestuursorgaanIT={{@bestuursorgaanIT}}
        @bestuurseenheid={{@bestuurseenheid}}
        @onFormIsValid={{this.updateReplacementStepCompleted}}
      />
    {{/if}}

    {{#if this.activeStep.isReasonStep}}
      <div>
        <AuLabel @required={{true}}>
          Reden van aanpassing
        </AuLabel>
        <PowerSelect
          @allowClear={{false}}
          @selected={{this.reasonForChange}}
          @options={{this.reasonForChangeOptions}}
          @onChange={{this.selectReasonForChange}}
          @searchEnabled={{true}}
          @searchField="label"
          @noMatchesMessage="Geen resultaten"
          as |reason|
        >
          {{reason.label}}
        </PowerSelect>
      </div>

      {{#if (and this.isCorrecting (not this.hideCorrectionWarning))}}
        <AuAlert @skin="info" @icon="alert-triangle" class="au-u-margin-top">
          Bij een correctie worden de bestaande gegevens
          <strong>overschreven</strong>
          door de nieuwe informatie die je ingegeven hebt. Gebruik dit dus niet
          als de mandataris een verandering doormaakt zoals een verandering van
          rangorde of een verhindering, maar enkel om gegevens te corrigeren die
          eerder verkeerd ingegeven werden.
        </AuAlert>
      {{else if (and (not this.isCorrecting) this.reasonForChange)}}
        <div class="au-u-margin-top">
          De nieuwe toestand voor deze mandataris geldt vanaf
          <strong>{{moment-format this.formValues.start "DD-MM-YYYY"}}</strong>.
          Als deze datum verkeerd is, pas dan de startdatum aan in de vorige
          stap.
        </div>

      {{/if}}
      <Mandatarissen::WizardDiff
        @diffs={{this.getShownWizardDiffs}}
        @isCorrecting={{this.isCorrecting}}
        @replacement={{this.replacementPerson}}
      />

    {{/if}}
  </:body>
  <:footer>
    <AuToolbar as |Group|>
      <Group class="flex-grow">
        <AuButtonGroup>
          {{#if this.activeStepIsFinalStep}}
            <AuButton
              {{on "click" this.saveChanges}}
              @loading={{this.isSaving}}
              @loadingMessage="Opslaan"
              @disabled={{this.isSaveButtonDisabled}}
            >
              Pas aan
            </AuButton>
          {{else}}
            <AuButton
              {{on "click" this.nextStep}}
              @loadingMessage="Aan het laden..."
              @loading={{this.checkingMandatarisInput}}
              @disabled={{not this.activeStep.canContinueToNextStep}}
            >
              Volgende
            </AuButton>
          {{/if}}
          {{#unless this.activeStepIsFirstStep}}
            <AuButton
              {{on "click" this.previousStep}}
              @disabled={{this.isSaving}}
              @skin="secondary"
            >
              Vorige
            </AuButton>
          {{/unless}}
        </AuButtonGroup>
        {{#if (and this.activeStepIsFinalStep this.canMirrorToOCMW)}}
          <AuButtonGroup class="flex-grow au-u-flex--end">
            <div class="au-u-margin-top">
              <AuToggleSwitch
                @checked={{this.mirrorToOCMW}}
                @onChange={{this.toggleMirrorToOCMW}}
              >Spiegel deze aanpassing naar OCMW</AuToggleSwitch>
            </div>
          </AuButtonGroup>
        {{/if}}
      </Group>
    </AuToolbar>
  </:footer>
</AuModal>

<Shared::UnsavedChangesModal
  @isModalOpen={{this.isUnsavedChangesModalOpen}}
  @closeModal={{fn (mut this.isUnsavedChangesModalOpen) false}}
  @onCancel={{fn (mut this.isUnsavedChangesModalOpen) false}}
  @onDiscard={{this.closeWizard}}
/>

<AuModal
  @modalOpen={{this.isRangordeModalOpen}}
  @closable={{true}}
  @closeModal={{fn (mut this.isRangordeModalOpen) false}}
>
  <:title>Rangorde vervanger</:title>
  <:body>
    <p>
      U heeft een mandataris die een rangorde heeft, verhinderd. Deze rangorde
      kan niet automatisch overgenomen worden in de vervanger. Het toewijzen van
      een rangorde kan namelijk gevolgen hebben op de rangorde van andere
      mandatarissen. Wenst u dit nu aan te passen? Het is ook mogelijk dit op
      een later tijdstip aan te passen via de "wijzig rangorde" functie in het
      bestuursorgaan.
    </p>
  </:body>
  <:footer>
    <AuToolbar as |Group|>
      <Group>
        <AuLink
          @skin="button"
          @route="organen.orgaan.edit-rangorde"
          @model={{@bestuursorgaanIT.isTijdsspecialisatieVan.id}}
          @query={{hash
            bestuursperiode=@bestuursorgaanIT.heeftBestuursperiode.id
          }}
        >
          Ja
        </AuLink>
        <AuButton
          @skin="secondary"
          {{on "click" (fn (mut this.isRangordeModalOpen) false)}}
        >Nee</AuButton>
      </Group>
    </AuToolbar>
  </:footer>
</AuModal>