{{page-title "Edit"}}
{{breadcrumb
  this.model.codelijst.label
  route="codelijsten.detail.edit"
  model=this.model.codelijst.id
}}

<AuToolbar @size="large" @border="bottom" class="au-u-margin-bottom" as |Group|>
  <Group>
    <AuHeading @skin="2">Codelijst bewerken</AuHeading>
  </Group>
  <Group>
    <AuButtonGroup>
      <AuButton
        @skin="secondary"
        {{on "click" this.onCancel}}
      >Annuleer</AuButton>
      <Shared::Tooltip
        @showTooltip={{not this.canSave}}
        @alignment="right"
        @tooltipText="De huidige status van de codelijst kan niet worden opgeslagen."
      >
        <AuButton
          @disabled={{not this.canSave}}
          @skin="primary"
          @loading={{this.isSaving}}
          @loadingMessage="Codelijst aan het creëren"
          {{on "click" this.updateCodelist}}
        >Opslaan</AuButton>
      </Shared::Tooltip>
    </AuButtonGroup>
  </Group>
</AuToolbar>

<div class="au-u-1-3@medium au-u-flex au-u-flex--column">
  <Codelijst::NameInput @name={{this.name}} @onUpdate={{this.updateName}} />
</div>
<Codelijst::InstanceTable
  @isReadOnly={{false}}
  @concepten={{this.concepten}}
  @showTotalConcepts={{true}}
/>

<Codelijst::AddConceptModal
  @conceptScheme={{this.model.codelijst}}
  @isModalOpen={{this.isModalOpen}}
  @closeModal={{fn (mut this.isModalOpen) false}}
  @onNewConcept={{this.addConcept}}
  @order={{this.concepten.length}}
/>