{{page-title "View"}}
{{breadcrumb
  this.model.codelijst.label
  route="codelijsten.detail.view"
  model=this.model.codelijst.id
}}
<AuToolbar
  @size="large"
  class="au-u-padding-bottom-none au-u-margin-bottom"
  as |Group|
>
  <Group>
    <AuHeading @skin="2">{{this.model.codelijst.label}}</AuHeading>
  </Group>
  <Group>
    <AuButtonGroup>
      <Shared::Tooltip
        @showTooltip={{this.isReadOnly}}
        @alignment="right"
        @tooltipText="Dit is een basis codelijst die niet verwijderd mag worden."
      >
        <AuButton
          @disabled={{or this.isReadOnly this.isDeleting}}
          @skin="secondary"
          @alert={{true}}
          {{on "click" (fn (mut this.isDeleteModalOpen) true)}}
        >Verwijder</AuButton>
      </Shared::Tooltip>
      <Shared::Tooltip
        @showTooltip={{this.editButtonTooltipText}}
        @alignment="right"
        @tooltipText={{this.editButtonTooltipText}}
      >
        <AuButton
          @disabled={{or this.isReadOnly this.isDeleting}}
          {{on "click" this.editCodelist}}
        >Bewerk</AuButton>
      </Shared::Tooltip>
    </AuButtonGroup>
  </Group>
</AuToolbar>
<div class="no-pagination au-c-body-container au-c-body-container--scroll">
  <div
    class="au-u-flex au-u-flex--end au-u-margin-bottom-small au-u-margin-right"
  >
    <AuHelpText @skin="secondary" @size="large">
      Aantal:
      {{this.model.concepten.length}}
    </AuHelpText>
  </div>
  <AuDataTable
    @content={{this.model.concepten}}
    @noDataMessage="Geen concepten gevonden"
    @page={{0}}
    @size={{9999}}
    as |t|
  >
    <t.content as |c|>
      <c.header>
        <th>Label</th>
        <th>Id</th>
      </c.header>
      <c.body as |concept|>
        <td class="au-u-1-2">
          {{concept.label}}
        </td>
        <td class="au-u-1-2">{{concept.id}}</td>
      </c.body>
    </t.content>
  </AuDataTable>
</div>

<AuModal
  @title="Verwijder codelijst"
  @modalOpen={{this.isDeleteModalOpen}}
  @closable={{true}}
  @closeModal={{fn (mut this.isDeleteModalOpen) false}}
  {{action-on-show this.reset}}
>
  <:body>
    <p>Door verder te gaan zal de huidige codelijst met al zijn concepten
      definitief verwijderd worden.</p>
  </:body>
  <:footer>
    <AuButtonGroup
      class="au-u-flex au-u-flex--between au-u-padding-left au-u-padding-right"
    >
      <AuButton
        @alert={{true}}
        @disabled={{this.isDeleting}}
        @loading={{this.isDeleting}}
        @loadingMessage="Codelijst wordt verwijderen"
        {{on "click" this.deleteCodelist}}
      >Verwijder</AuButton>
      <AuButton
        @skin="secondary"
        {{on "click" (fn (mut this.isDeleteModalOpen) false)}}
      >Annuleer</AuButton>
    </AuButtonGroup>
  </:footer>
</AuModal>