<div
  class="au-u-flex au-u-flex--between au-u-margin-bottom au-u-margin-left au-u-margin-right"
>
  <AuHeading @skin="3" class="au-u-flex-self-start">Ambt Burgemeester</AuHeading>
  {{#unless @readOnly}}
    <AuContent @skin="small" class="au-u-flex-self-end">
      <Shared::Tooltip
        @showTooltip={{not this.hasChanges}}
        @tooltipText={{this.toolTipText}}
        @alignment="right"
      >
        <AuButton
          @icon="add"
          @loading={{this.onUpdate.isRunning}}
          @loadingMessage="laden"
          @disabled={{this.persoon}}
          {{on "click" (fn (mut this.isModalOpen) true)}}
        >
          Toevoegen
        </AuButton>
      </Shared::Tooltip>
    </AuContent>
  {{/unless}}
</div>

<div class="no-pagination au-u-margin-left au-u-margin-right">
  {{#if this.onUpdate.isRunning}}
    <Skeleton::Table @columns={{3}} @rows={{1}} />
  {{else}}
    <AuDataTable
      @content={{this.aangewezenBurgemeesters}}
      @fields="gebruikteVoornaam achternaam actions"
      @noDataMessage="Geen burgemeester aangewezen"
      as |t|
    >
      <t.content as |c|>
        <c.header>
          <th class="au-u-padding-small">Voornaam</th>
          <th>Familienaam</th>
          {{#unless @readOnly}}
            <th>
              {{! actions }}
            </th>
          {{/unless}}
        </c.header>
        <c.body as |persoon|>
          <td>{{persoon.gebruikteVoornaam}}</td>
          <td>{{persoon.achternaam}}</td>
          {{#unless @readOnly}}
            <td class="au-u-text-right">
              {{#if this.persoon}}
                <AuButton
                  @skin="link"
                  @alert={{true}}
                  {{on "click" this.removeBurgemeester}}
                >Verwijder</AuButton>
              {{/if}}
            </td>
          {{/unless}}
        </c.body>
      </t.content>
    </AuDataTable>
  {{/if}}
</div>

<div class="au-o-box">
  {{#if this.errorMessages}}
    <AuAlert @skin="warning" @icon="alert-triangle" @closable={{false}}>
      {{#each this.errorMessages as |message|}}
        <p>{{message}}</p>
      {{/each}}
    </AuAlert>
  {{/if}}
</div>

<AuModal
  @title={{"Selecteer een persoon"}}
  @modalOpen={{this.isModalOpen}}
  @closeModal={{this.closeModal}}
  @closable={{true}}
>
  <div class="au-o-box">
    <div>
      <AuLabel @required={{true}}>
        Persoon
      </AuLabel>
      <div>
        <Person::Selector
          @person={{this.persoon}}
          @onUpdate={{this.selectPerson}}
          @searchElected={{true}}
          @bestuursperiode={{@bestuursperiode}}
          @allowCreate={{false}}
          @inline={{true}}
        />
      </div>
    </div>

    {{#if this.persoon}}
      <Mandatarissen::FractieSelector
        @fractie={{this.selectedFractie}}
        @isRequired={{true}}
        @onSelect={{this.updateFractie}}
        @bestuurseenheid={{@bestuurseenheid}}
        @bestuursperiode={{@bestuursperiode}}
        @person={{this.persoon}}
        @limitPersonFractionsToCurrent={{true}}
      />
    {{/if}}

    <AuToolbar class="au-u-margin-top" as |Group|>
      <Group>
        <AuButtonGroup>
          <Shared::Tooltip
            @showTooltip={{this.disabled}}
            @tooltipText="Het is nodig zowel een persoon als een fractie te selecteren vooraleer het mogelijk is op te slaan."
            @alignment="left"
          >
            <AuButton
              {{on "click" (perform this.updateBurgemeester)}}
              @disabled={{this.disabled}}
              @loading={{this.updateBurgemeester.isRunning}}
            >
              Sla op
            </AuButton>
          </Shared::Tooltip>
          <AuButton {{on "click" this.closeModal}} @skin="secondary">
            Annuleer
          </AuButton>
        </AuButtonGroup>
      </Group>
    </AuToolbar>
  </div>
</AuModal>