<div
  class="au-u-flex au-u-flex--between au-u-margin-bottom au-u-margin-left au-u-margin-right"
>
  <AuHeading @skin="3" class="au-u-flex-self-start">Ambt Burgemeester</AuHeading>
  {{#unless @readOnly}}
    <AuContent @skin="small" class="au-u-flex-self-end">
      <AuButton
        @icon="add"
        @loading={{(or this.setup.isRunning this.onUpdate.isRunning)}}
        @loadingMessage="laden"
        @disabled={{this.persoon}}
        {{on "click" (fn (mut this.isPersonSelectOpen) true)}}
      >
        Toevoegen
      </AuButton>
    </AuContent>
  {{/unless}}
</div>

<div class="no-pagination au-u-margin-left au-u-margin-right">
  {{#if (or this.setup.isRunning this.onUpdate.isRunning)}}
    <Skeleton::Table @columns={{3}} @rows={{1}} />
  {{else}}
    <AuDataTable
      @content={{this.aangewezenBurgemeesters}}
      @fields="gebruikteVoornaam achternaam actions"
      @noDataMessage="Geen burgemeester aangewezen"
      as |t|
    >
      <t.content as |c|>
        <c.header>
          <th class="au-u-padding-small">Voornaam</th>
          <th>Familienaam</th>
          {{#unless @readOnly}}
            <th>
              {{! actions }}
            </th>
          {{/unless}}
        </c.header>
        <c.body as |persoon|>
          <td>{{persoon.gebruikteVoornaam}}</td>
          <td>{{persoon.achternaam}}</td>
          {{#unless @readOnly}}
            <td class="au-u-text-right">
              {{#if (this.persoon)}}
                <AuButton
                  @skin="link"
                  @alert={{true}}
                  {{on "click" this.removeBurgemeester}}
                >Verwijder</AuButton>
              {{/if}}
            </td>
          {{/unless}}
        </c.body>
      </t.content>
    </AuDataTable>
  {{/if}}
</div>

<div class="au-o-box">
  {{#if this.errorMessages}}
    <AuAlert @skin="warning" @icon="alert-triangle" @closable={{false}}>
      {{#each this.errorMessages as |message|}}
        <p>{{message}}</p>
      {{/each}}
    </AuAlert>
  {{/if}}
</div>

<AuModalContainer />
<AuModal
  @title={{"Selecteer een persoon"}}
  @modalOpen={{this.isPersonSelectOpen}}
  @closeModal={{this.closeModal}}
  @closable={{true}}
>
  <div class="au-o-box">

    {{#if this.isCreatingPerson}}
      <Form::NewInstance
        @onCreate={{this.onSelectNewPerson}}
        @form={{this.createPersonFormDefinition}}
        @onCancel={{this.closeModal}}
        @buildSourceTtl={{this.buildSourceTtl}}
      />
    {{else}}
      <Person::SearchForm
        @showDefaultHead={{false}}
        @onSelect={{perform this.onUpdate}}
        @onCreateNewPerson={{this.onCreateNewPerson}}
        @onCancel={{this.closeModal}}
      />
    {{/if}}
  </div>
</AuModal>