<div class="au-u-flex">
  <AuPill
    @skin={{this.skin}}
    @draft={{false}}
    @size="regular"
    @iconAlignment="left"
    @hideText={{false}}
  >
    {{this.label}}
  </AuPill>
  {{#if this.extraText}}
    <span
      class="au-u-muted au-u-italic au-u-margin-left-small"
    >{{this.extraText}}</span>
  {{/if}}
</div>