<div>
  <Shared::Tooltip
    @showTooltip={{this.effectiefIsLastStatus}}
    @tooltipText={{this.lastStatusTooltipText}}
  >
    <AuPill
      @skin={{await this.skin}}
      @draft={{false}}
      @size="regular"
      @iconAlignment="left"
      @hideText={{false}}
    >
      {{or this.status.label "Niet beschikbaar"}}
    </AuPill>
  </Shared::Tooltip>
  {{#if
    (and
      @showBekijkBewijs (await this.linkToDecision) this.isMandatarisBekrachtigd
    )
  }}
    <AuLinkExternal
      href={{await this.linkToDecision}}
      class="au-u-margin-left-tiny"
    >Bekijk besluit</AuLinkExternal>
  {{/if}}
  {{#if (and @showInfoText this.isMandatarisBekrachtigd)}}
    <p
      class="au-u-italic au-u-h-functional au-u-flex au-u-flex--vertical-center"
    >
      <span class="au-u-margin-top-small u-u-margin-right-tiny">Om een
        bekrachtiging terug te trekken moet je de
        <AuLinkExternal
          href="mailto:lokaalmandatenbeheer@vlaanderen.be?subject=Bekrachtiging terugtrekken - Lokaal Mandatenbeheer"
        >technische dienst contacteren</AuLinkExternal>
      </span>
    </p>
  {{/if}}
</div>