<div>
  <AuPill
    @skin={{await this.skin}}
    @draft={{false}}
    @size="regular"
    @iconAlignment="left"
    @hideText={{false}}
  >
    {{or this.status.label "Niet beschikbaar"}}
  </AuPill>
  {{#if @showBekijkBewijs}}
    {{#if (await @mandataris.besluitUri)}}
      <AuLinkExternal
        href={{await @mandataris.besluitUri}}
        class="au-u-margin-left-tiny"
      >Bekijk besluit</AuLinkExternal>
    {{else if @mandataris.linkToBesluit}}
      <AuLinkExternal
        href={{@mandataris.linkToBesluit}}
        class="au-u-margin-left-tiny"
      >Bekijk besluit</AuLinkExternal>
      <AuButton
        @icon="pencil"
        @skin="link-secondary"
        @size="small"
        @hideText={{true}}
        {{on "click" this.editLink}}
      >Pas besluit aan</AuButton>
    {{/if}}
  {{/if}}
  {{#if (and @showInfoText this.isMandatarisBekrachtigd)}}
    <p
      class="au-u-italic au-u-h-functional au-u-flex au-u-flex--vertical-center"
    >
      <span class="au-u-margin-top-small u-u-margin-right-tiny">
        {{await this.besluitIsAddedThrough}}
        Om een bekrachtiging terug te trekken moet je de
        <AuLinkExternal
          href="mailto:lokaalmandatenbeheer@vlaanderen.be?subject=Bekrachtiging terugtrekken - Lokaal Mandatenbeheer"
        >technische dienst contacteren</AuLinkExternal>
      </span>
    </p>
  {{/if}}
</div>
<AuModal
  @title="Link naar besluit aanpassen"
  @modalOpen={{this.showEditLinkModal}}
  @closable={{true}}
  @closeModal={{this.closeModal}}
>
  <div class="au-o-box au-o-flow">
    <p>
      Hier kan je de link naar het besluit aanpassen. De bekrachtiging
      terugtrekken kan je niet in deze applicatie. Daarvoor moet je de
      <AuLinkExternal
        href="mailto:lokaalmandatenbeheer@vlaanderen.be?subject=Bekrachtiging terugtrekken - Lokaal Mandatenbeheer"
      >technische dienst contacteren</AuLinkExternal>
    </p>
    <AuInput
      @error={{this.invalidLink}}
      value={{this.newLink}}
      @width="block"
      {{on "input" this.onEditLink}}
    />
    {{#if this.invalidLink}}
      <AuHelpText @skin="secondary" @error={{true}}>
        Start de url met http:// of https:// om te linken naar de besluit
        pagina.
      </AuHelpText>
    {{/if}}
  </div>
  <AuToolbar class="au-u-padding-top-none au-u-padding" as |Group|>
    <Group>
      <AuButtonGroup>
        <AuButton
          {{on "click" this.updateLink}}
          @disabled={{this.saveDisabled}}
        >
          Sla op
        </AuButton>
        <AuButton {{on "click" this.closeModal}} @skin="secondary">
          Annuleer
        </AuButton>
      </AuButtonGroup>
    </Group>
  </AuToolbar>
</AuModal>