{{page-title "Edit Mandaat"}}
<AuToolbar @border="bottom" @size="large" as |Group|>
  <Group>
    <AuHeading @skin="2">Bewerk Mandaat
      {{this.model.mandaat.bestuursfunctie.label}}</AuHeading>
  </Group>
</AuToolbar>

<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box">
    <Form::Instance
      @instanceId={{this.model.instanceId}}
      @form={{this.model.form}}
      @onSave={{this.onSave}}
      @onCancel={{this.onCancel}}
    />
  </div>
</div>
{{outlet}}