{{page-title "Voorbereiding legislatuur"}}
{{breadcrumb
  this.model.selectedPeriod.label
  route="verkiezingen.installatievergadering"
}}
{{#if (or (not @model.isRelevant) (not @model.installatievergadering))}}
  <div class="au-o-box">
    <div class="au-o-flow">
      <AuHeading @skin="2">Voorbereiding legislatuur</AuHeading>
    </div>
  </div>
  <div class="au-o-box">
    <AuAlert @icon="info-circle" @size="small">
      <p>De voorbereiding van de legislatuur is niet mogelijk in de
        bestuurseenheid
        {{@model.bestuurseenheid.classificatie.label}}
        {{@model.bestuurseenheid.naam}}.</p>
      <p>
        De voorbereiding van de legislatuur gebeurt in de bestuurseenheid
        Gemeente
        {{@model.bestuurseenheid.naam}}</p>
    </AuAlert>
  </div>
{{else}}
  <AuToolbar
    @size="large"
    @nowrap="true"
    class="au-u-padding-bottom-none"
    as |Group|
  >
    <Group>
      <div class="au-o-flow au-u-flex au-u-flex--column">
        <AuHeading @skin="2">
          {{this.title}}
          <AuPill @skin={{this.statusPillSkin}}>
            {{this.statusPillLabel}}
          </AuPill>
        </AuHeading>
        <div class="au-o-grid au-o-grid__item au-u-light">
          <Mandatenbeheer::BestuursperiodenSelector
            @options={{@model.bestuursPeriods}}
            @selected={{@model.selectedPeriod}}
            @onSelect={{this.selectPeriod}}
            @prefix="Bestuursperiode"
          />
        </div>
      </div>
    </Group>
    <Group>
      <AuLink
        @route="verkiezingen.verkiezingsuitslag"
        @model={{@model.selectedPeriod.id}}
        @skin="button-secondary"
      >Bekijk verkiezingsuitslag
        {{this.model.selectedPeriod.start}}
      </AuLink>

      <Shared::Tooltip
        @showTooltip={{this.statusIsDisabled}}
        @tooltipText={{this.statusTooltip}}
      >
        <AuButton
          @disabled={{this.statusIsDisabled}}
          @icon={{this.nextStatus.icon}}
          @loading={{this.setNextStatus.isRunning}}
          @loadingMessage="Volgende status ophalen"
          {{on "click" this.openModal}}
        >
          {{this.nextStatus.label}}
        </AuButton>
      </Shared::Tooltip>
    </Group>
  </AuToolbar>
  <div class="au-c-body-container au-c-body-container--scroll">
    {{#unless @model.isBehandeld}}
      <Verkiezingen::KieslijstSplitter
        @kandidatenlijst={{@model.kandidatenlijsten}}
        @bestuursorgaan={{@model.bestuursorganenInTijd}}
        @bestuurseenheid={{@model.bestuurseenheid}}
      />
    {{/unless}}

    {{#each @model.bestuursorganenInTijd as |bestuursorgaan|}}
      <Verkiezingen::PrepareLegislatuurSection
        @isBehandeld={{@model.isBehandeld}}
        @bestuursorgaan={{bestuursorgaan}}
        @bestuursorganen={{@model.bestuursorganenInTijd}}
        @form={{@model.mandatarisForm}}
        @onUpdateBurgemeester={{this.onUpdateBurgemeester}}
      />
    {{/each}}

    {{! Keeping the selector for development purposes }}
    {{#unless true}}
      <div class="au-o-box">
        <Tmp::Todo>
          <p>Change installatievergadering status:</p>
          <Shared::InstallatievergaderingStatusSelector
            @options={{@model.ivStatuses}}
            @selectedStatus={{@model.installatievergadering.status}}
            @onSelect={{this.selectStatus}}
          />
        </Tmp::Todo>
      </div>
    {{/unless}}
  </div>
  <AuModal
    @title={{this.modalTitle}}
    @modalOpen={{this.isModalOpen}}
    @closable={{true}}
    @closeModal={{this.closeModal}}
    as |Modal|
  >
    <Modal.Body>
      <p>Van
        <AuPill @skin={{this.statusPillSkin}}>
          {{this.statusPillLabel}}
        </AuPill>
        →
        <AuPill @skin={{this.nextStatus.statusPillSkin}}>
          {{this.nextStatus.statusPillLabel}}
        </AuPill></p>
      <br />
      <p>
        {{this.nextStatus.modalMessage}}
      </p>
    </Modal.Body>
    <Modal.Footer>
      <AuToolbar as |Group|>
        <Group class="au-u-1-1">
          <AuButtonGroup class="au-u-flex au-u-flex--between au-u-1-1">
            <AuButton @skin="secondary" {{on "click" this.closeModal}}>
              Annuleer
            </AuButton>
            <AuButton
              {{on "click" (fn this.selectStatus this.nextStatus.status)}}
            >
              Bevestigen
            </AuButton>
          </AuButtonGroup>
        </Group>
      </AuToolbar>
    </Modal.Footer>
  </AuModal>
{{/if}}