<AuDataTable
  @content={{@content}}
  @noDataMessage="Geen bestuursorganen gevonden"
  @sort={{@sort}}
  as |t|
>
  <t.content as |c|>
    <c.header>
      <AuDataTableThSortable
        @field="naam"
        @currentSorting={{@sort}}
        @label="Naam"
      />
      <th>Aantal leden</th>
      <th>{{! Bewerk Action }}</th>
      <th>{{! Archive Action }}</th>
    </c.header>

    <c.body as |row|>
      <td>{{row.naam}}</td>
      <td>{{await row.nbMembers}}</td>
      <td>
        <LinkTo @route={{@editRoute}} @model={{row.id}} class="au-c-link">
          <AuIcon @icon="pencil" @alignment="left" />
          Bewerk
        </LinkTo>
      </td>
      <td>
        {{#if (await row.isDecretaal)}}
          Decretaal
        {{else}}
          <AuButton
            @icon="archive"
            @skin="link"
            {{on "click" (fn @archive row)}}
          >Archiveer</AuButton>
        {{/if}}
      </td>
    </c.body>
  </t.content>
</AuDataTable>