<AuDataTable
  @content={{@content}}
  @noDataMessage="Geen fracties gevonden"
  @sort={{@sort}}
  @page={{@page}}
  @size={{@size}}
  as |t|
>
  <t.content as |c|>
    <c.header>
      <AuDataTableThSortable
        @field="naam"
        @currentSorting={{@sort}}
        @label="Fractienaam"
      />
      <AuDataTableThSortable
        @field="startDate"
        @currentSorting={{@sort}}
        @label="Start"
      />
      <AuDataTableThSortable
        @field="endDate"
        @currentSorting={{@sort}}
        @label="Einde"
      />
      <th>{{!action}}</th>
    </c.header>

    <c.body as |row|>
      <td>
        <strong>{{row.naam}}</strong>
      </td>
      <td>
        {{row.startDateLabel}}
      </td>
      <td>
        {{row.endDateLabel}}
      </td>
      <td>
        <AuButton @skin="link" {{on "click" (fn @edit row.id)}}>
          <AuIcon @icon="pencil" @alignment="left" />
          Bewerk</AuButton>
      </td>
    </c.body>
  </t.content>
</AuDataTable>