<AuDataTable
  @content={{@content}}
  @isLoading={{@isLoading}}
  @noDataMessage="Geen bestuursorganen gevonden"
  @sort={{@sort}}
  as |t|
>
  <t.content as |c|>
    <c.header>
      <AuDataTableThSortable
        @field="naam"
        @currentSorting={{@sort}}
        @label="Naam"
      />
      <th>Aantal leden</th>
      <th>Oprichtingsdatum</th>
      <th>Einddatum</th>
      <th>{{! Actions }}</th>
    </c.header>

    <c.body as |row|>
      <td>{{row.naam}}</td>
      <td>{{await row.nbMembers}}</td>
      <td>
        {{moment-format row.bindingStart "DD-MM-YYYY"}}</td>
      <td>
        {{moment-format row.deactivatedAt "DD-MM-YYYY"}}</td>
      <td>
        <AuButton
          @icon="undo"
          @skin="link"
          {{on "click" (fn @dearchive row)}}
        >Heractiveer</AuButton>
      </td>
    </c.body>
  </t.content>
</AuDataTable>