<AuDataTable
  @content={{@content}}
  @noDataMessage="Geen mandatarissen gevonden"
  @sort={{@sort}}
  @page={{@page}}
  @size={{@size}}
  as |t|
>
  <t.content as |c|>
    <c.header>
      <AuDataTableThSortable
        @field="isBestuurlijkeAliasVan.gebruikteVoornaam"
        @currentSorting={{@sort}}
        @label="Naam"
      />
      <AuDataTableThSortable
        @field="isBestuurlijkeAliasVan.achternaam"
        @currentSorting={{@sort}}
        @label="Familienaam"
      />
      <AuDataTableThSortable
        @field="heeftLidmaatschap.binnenFractie.naam"
        @currentSorting={{@sort}}
        @label="Fractie"
      />
      <AuDataTableThSortable
        @field="bekleedt.bestuursfunctie.label"
        @currentSorting={{@sort}}
        @label="Mandaat"
      />
      <AuDataTableThSortable
        @field="start"
        @currentSorting={{@sort}}
        @label="Start mandaat"
      />
      <AuDataTableThSortable
        @field="einde"
        @currentSorting={{@sort}}
        @label="Einde mandaat"
      />
      <th></th>
    </c.header>

    <c.body as |row|>
      <td>
        {{row.isBestuurlijkeAliasVan.gebruikteVoornaam}}
      </td>
      <td>
        {{row.isBestuurlijkeAliasVan.achternaam}}
      </td>
      <td>
        {{row.heeftLidmaatschap.binnenFractie.naam}}
      </td>
      <td>
        {{row.bekleedt.bestuursfunctie.label}}
      </td>
      <td>
        {{moment-format row.start "DD-MM-YYYY"}}</td>
      <td>
        {{moment-format row.einde "DD-MM-YYYY"}}</td>
      <td><LinkTo
          @route={{@editRoute}}
          @model={{row.isBestuurlijkeAliasVan.id}}
          class="au-c-link"
        >
          <AuIcon @icon="pencil" @alignment="left" />
          Bewerk
        </LinkTo></td>
    </c.body>
  </t.content>
</AuDataTable>