<AuDataTable
  @content={{@content}}
  @noDataMessage="Geen mandatarissen gevonden"
  @sort={{@sort}}
  @page={{@page}}
  @size={{@size}}
  as |t|
>
  <t.content as |c|>
    <c.header>
      <AuDataTableThSortable
        @field="bekleedt.bestuursfunctie.label"
        @currentSorting={{@sort}}
        @label="Mandaat"
      />
      <AuDataTableThSortable
        @field="isBestuurlijkeAliasVan.gebruikteVoornaam"
        @currentSorting={{@sort}}
        @label="Voornaam"
      />
      <AuDataTableThSortable
        @field="isBestuurlijkeAliasVan.achternaam"
        @currentSorting={{@sort}}
        @label="Familienaam"
      />
      {{#if (await this.showFractie)}}
        <AuDataTableThSortable
          @field="heeftLidmaatschap.binnenFractie.naam"
          @currentSorting={{@sort}}
          @label="Fractie"
        />
      {{/if}}
      {{#if this.showOwnership}}
        <th>Beheerder</th>
      {{/if}}
      <AuDataTableThSortable
        @field="status.label"
        @currentSorting={{@sort}}
        @label="Status"
      />
      <AuDataTableThSortable
        @field="start"
        @currentSorting={{@sort}}
        @label="Start mandaat"
      />
      <AuDataTableThSortable
        @field="einde"
        @currentSorting={{@sort}}
        @label="Einde mandaat"
      />
      {{#if @showRangorde}}
        <AuDataTableThSortable
          @field="rangorde"
          @currentSorting={{@sort}}
          @label="Rangorde"
        />
      {{/if}}
      {{#unless (await this.hidePublicationStatus)}}
        <AuDataTableThSortable
          @field="publicationStatus"
          @currentSorting={{@sort}}
          @label="Publicatie Status"
        />
      {{/unless}}
    </c.header>

    <c.body as |row|>
      <td>
        <div class="au-u-flex au-u-flex--vertical-center">
          <LinkTo
            @route={{@mandaatRoute}}
            @models={{array
              row.mandataris.isBestuurlijkeAliasVan.id
              row.mandataris.id
            }}
            class="au-c-link"
          >
            {{row.mandataris.bekleedt.bestuursfunctie.label}}
          </LinkTo>
          {{#if row.validationErrors}}
            <AuPill
              @skin="warning"
              @size="tiny"
              @icon="alert-triangle"
              class="au-u-margin-left-tiny"
            >Validatiefouten</AuPill>
          {{/if}}
        </div>
      </td>
      <td><LinkTo
          @route={{@personRoute}}
          @model={{row.mandataris.isBestuurlijkeAliasVan.id}}
          class="au-c-link"
        >
          {{row.mandataris.isBestuurlijkeAliasVan.gebruikteVoornaam}}
        </LinkTo></td>
      <td><LinkTo
          @route={{@personRoute}}
          @model={{row.mandataris.isBestuurlijkeAliasVan.id}}
          class="au-c-link"
        >
          {{row.mandataris.isBestuurlijkeAliasVan.achternaam}}
        </LinkTo></td>
      {{#if (await this.showFractie)}}
        <td>
          <Mandaat::FoldedFracties
            @persoon={{row.mandataris.isBestuurlijkeAliasVan}}
            @bestuursperiode={{@bestuursperiode}}
            @mandaat={{row.mandataris.bekleedt}}
          />
        </td>
      {{/if}}
      {{#if this.showOwnership}}
        <td>
          <Mandaat::OwnershipTags @owners={{row.owners}} />
        </td>
      {{/if}}
      <td>
        <Mandaat::MandatarisStatusPill @mandataris={{row.mandataris}} />
      </td>
      <td class={{if (is-in-past row.foldedEnd) "au-u-muted"}}>
        {{moment-format row.foldedStart "DD-MM-YYYY"}}</td>
      <td class={{if (is-in-past row.foldedEnd) "au-u-muted"}}>
        {{moment-format row.foldedEnd "DD-MM-YYYY"}}</td>
      {{#if @showRangorde}}
        <td>
          {{#if @editRangorde}}
            <Verkiezingen::RangordeInput
              @mandataris={{row.mandataris}}
              @mandatarissen={{@content}}
            />
          {{else}}
            {{row.mandataris.rangorde}}
          {{/if}}
        </td>
      {{/if}}
      {{#unless (await this.hidePublicationStatus)}}
        <td>
          <Mandaat::PublicatieStatusPill
            @mandataris={{row.mandataris}}
            @showBekijkBewijs={{false}}
          />
        </td>
      {{/unless}}
    </c.body>
  </t.content>
</AuDataTable>