<AuDataTable
  @content={{@content}}
  @noDataMessage="Geen mandatarissen gevonden"
  @sort={{@sort}}
  @page={{@page}}
  @size={{@size}}
  as |t|
>
  <t.content as |c|>
    <c.header>
      <AuDataTableThSortable
        @field="isBestuurlijkeAliasVan.gebruikteVoornaam"
        @currentSorting={{@sort}}
        @label="Voornaam"
      />
      <AuDataTableThSortable
        @field="isBestuurlijkeAliasVan.achternaam"
        @currentSorting={{@sort}}
        @label="Familienaam"
      />
      <AuDataTableThSortable
        @field="heeftLidmaatschap.binnenFractie.naam"
        @currentSorting={{@sort}}
        @label="Fractie"
      />
      <AuDataTableThSortable
        @field="bekleedt.bestuursfunctie.label"
        @currentSorting={{@sort}}
        @label="Mandaat"
      />
      <AuDataTableThSortable
        @field="start"
        @currentSorting={{@sort}}
        @label="Start mandaat"
      />
      <AuDataTableThSortable
        @field="einde"
        @currentSorting={{@sort}}
        @label="Einde mandaat"
      />
    </c.header>

    <c.body as |row|>
      <td><LinkTo
          @route={{@personRoute}}
          @model={{row.mandataris.isBestuurlijkeAliasVan.id}}
          class="au-c-link"
        >
          {{row.mandataris.isBestuurlijkeAliasVan.gebruikteVoornaam}}
        </LinkTo></td>
      <td><LinkTo
          @route={{@personRoute}}
          @model={{row.mandataris.isBestuurlijkeAliasVan.id}}
          class="au-c-link"
        >
          {{row.mandataris.isBestuurlijkeAliasVan.achternaam}}
        </LinkTo></td>
      <td>
        {{row.foldedFracties}}
      </td>
      <td><LinkTo
          @route={{@mandaatRoute}}
          @model={{row.mandataris.id}}
          class="au-c-link"
        >
          {{row.mandataris.bekleedt.bestuursfunctie.label}}
        </LinkTo></td>
      <td>
        {{moment-format row.foldedStart "DD-MM-YYYY"}}</td>
      <td>
        {{moment-format row.foldedEnd "DD-MM-YYYY"}}</td>
    </c.body>
  </t.content>
</AuDataTable>
