<div
  {{did-insert (perform this.setupTable)}}
  class="au-c-body-container au-c-body-container--scroll"
>
  <h1 class="au-u-h2 au-u-margin-bottom-small">{{this.contextTitle}}</h1>

  <AuTable>
    <:title></:title>
    <:header>
      <tr>
        {{#each this.columns as |label|}}
          <th>{{label}}</th>
        {{/each}}
      </tr>
    </:header>
    <:body>
      {{#each this.rows as |row|}}
        <tr>
          {{#if @showVoornaam}}
            <td>
              <LinkTo
                @route={{@personRoute}}
                @model={{row.mandataris.isBestuurlijkeAliasVan.id}}
                class="au-c-link"
              >
                {{row.mandataris.isBestuurlijkeAliasVan.gebruikteVoornaam}}
              </LinkTo>
            </td>
          {{/if}}
          {{#if @showNaam}}
            <td>
              <LinkTo
                @route={{@personRoute}}
                @model={{row.mandataris.isBestuurlijkeAliasVan.id}}
                class="au-c-link"
              >
                {{row.mandataris.isBestuurlijkeAliasVan.achternaam}}
              </LinkTo>
            </td>
          {{/if}}
          {{#if @showFractie}}
            <td>
              {{row.foldedFracties}}
            </td>
          {{/if}}
          {{#if @showFunctie}}
            <td>
              <LinkTo
                @route={{@mandaatRoute}}
                @model={{row.mandataris.id}}
                class="au-c-link"
              >
                {{row.mandataris.bekleedt.bestuursfunctie.label}}
              </LinkTo>
            </td>
          {{/if}}
          {{#if @showRangorde}}<td>RANG PLACEHOLDER</td>{{/if}}
          {{#if @showBevoegdheid}}<td>BEVOEGDHEID PLACEHOLDER</td>{{/if}}
          {{#if @showStartMandaat}}
            <td>{{moment-format row.foldedStart "DD-MM-YYYY"}}</td>
          {{/if}}
          {{#if @showEindeMandaat}}
            <td>{{moment-format row.foldedEnd "DD-MM-YYYY"}}</td>
          {{/if}}
        </tr>
      {{/each}}
    </:body>
  </AuTable>
</div>