<AuDataTable
  @content={{@content}}
  @noDataMessage="Geen bestuursorganen gevonden"
  @sort={{@sort}}
  as |t|
>
  <t.content as |c|>
    <c.header>
      <AuDataTableThSortable
        @field="naam"
        @currentSorting={{@sort}}
        @label="Bestuursorgaan"
      />
      <AuDataTableThSortable
        @field="classificatie.label"
        @currentSorting={{@sort}}
        @label="Type"
      />
      <th>Aantal leden</th>
      <AuDataTableThSortable
        @field="deactivatedAt"
        @currentSorting={{@sort}}
        @label="Einddatum"
      />
      <th>Status orgaan</th>
    </c.header>

    <c.body as |row|>
      <td>
        <LinkTo @route={{@editRoute}} @model={{row.id}} class="au-c-link">
          {{row.naam}}
        </LinkTo>
        {{#if (await row.isDecretaal)}}
          <AuPill>
            Decretaal
          </AuPill>
        {{/if}}

      </td>
      <td>{{row.classificatie.label}}</td>
      <td>{{await row.nbMembers}}</td>
      <td>
        {{moment-format row.deactivatedAt "DD-MM-YYYY"}}</td>
      <td>
        {{#if row.isActive}}
          <AuPill @skin="success">
            Actief
          </AuPill>
        {{else}}
          <AuPill @skin="error">
            Inactief
          </AuPill>
        {{/if}}
      </td>
    </c.body>
  </t.content>
</AuDataTable>