{{#if @organs}}
  <div class="au-o-box">
    <AuHeading @skin="3">{{@title}}</AuHeading>
    <ul class="au-o-grid au-o-grid--small">
      {{#each @organs as |orgaan|}}
        <li class="au-o-grid__item au-u-1-5@small au-u-1-3medium">
          <AuCard
            class="orgaan-card"
            @flex="true"
            {{on "click" (fn this.goToOrgaan orgaan)}}
            as |c|
          >
            {{#if @showType}}
              <AuPill
                @skin="default"
                class="au-pill-top-right"
              >{{orgaan.classificatie.label}}</AuPill>
            {{/if}}
            <c.content>{{orgaan.naam}}</c.content>
          </AuCard>
        </li>
      {{/each}}
    </ul>
    {{yield}}
  </div>
{{/if}}