<AuModal
  @title={{this.title}}
  @modalOpen={{@isModalOpen}}
  @closable={{this.isClosable}}
  @closeModal={{@closeModal}}
><div class="au-o-box au-o-flow">
    <div>
      {{this.descriptionText}}
    </div>
    <AuToolbar class="au-u-margin-top" as |Group|>
      <Group>
        <AuButtonGroup>
          <AuButton
            @alert={{true}}
            {{on "click" @onDiscard}}
            @loading={{@isDiscarding}}
            @loadingMessage={{this.discardMessage}}
          >
            Verwerp aanpassingen
          </AuButton>
          <AuButton
            {{on "click" @onCancel}}
            @disabled={{@isDiscarding}}
            @skin="secondary"
          >
            Annuleer
          </AuButton>
        </AuButtonGroup>
      </Group>
    </AuToolbar>
  </div>
</AuModal>