<div ...attributes>
  {{#if @label}}
    <AuLabel>{{@label}}</AuLabel>
  {{/if}}
  <AuInput
    @error={{this.errorMessage}}
    value={{this.dateInputString}}
    id={{(or @id this.elementId)}}
    placeholder="dd-mm-yyyy"
    {{au-inputmask options=(hash mask="99-99-9999" placeholder="_")}}
    {{on "input" (perform this.onChange)}}
  />

  {{#if this.errorMessage}}
    {{#if @showErrorAsAlert}}
      <AuAlert
        @size="small"
        @closable={{false}}
        @skin="error"
        class="au-u-margin-top"
      >{{this.errorMessage}}</AuAlert>
    {{else}}
      <AuHelpText @error={{true}}>{{this.errorMessage}}</AuHelpText>
    {{/if}}
  {{/if}}
</div>