<div ...attributes>
  {{#if @label}}
    <AuLabel
      for={{(or @id this.elementId)}}
      @error={{(or this.errorMessage this.invalidErrorMessage)}}
      @required={{@isRequired}}
    >{{@label}}</AuLabel>
  {{/if}}
  <AuInput
    @error={{(or this.errorMessage this.invalidErrorMessage)}}
    value={{this.dateInputString}}
    id={{(or @id this.elementId)}}
    placeholder="dd-mm-yyyy"
    {{au-inputmask options=(hash mask="99-99-9999" placeholder="_")}}
    {{on "input" (perform this.onChange)}}
  />

  {{#if (or this.errorMessage this.invalidErrorMessage)}}
    {{#if @showErrorAsAlert}}
      <AuAlert
        @size="small"
        @closable={{false}}
        @skin="error"
        class="au-u-margin-top"
      >
        {{this.errorMessages}}
      </AuAlert>
    {{else}}
      <AuHelpText @error={{true}}>{{this.errorMessages}}</AuHelpText>
    {{/if}}
  {{/if}}
</div>