<div ...attributes>
  {{#if @label}}
    <AuLabel
      for={{or @id this.elementId}}
      @error={{this.errorMessage}}
      @warning={{this.warningMessage}}
      @required={{@isRequired}}
    >{{@label}}</AuLabel>
  {{/if}}
  {{#if @isLoading}}
    <AuInput
      value={{this.dateInputString}}
      @disabled={{true}}
      placeholder="dd-mm-yyyy"
    />
  {{else}}
    <AuInput
      @error={{this.errorMessage}}
      @warning={{this.warningMessage}}
      value={{this.dateInputString}}
      id={{or @id this.elementId}}
      placeholder="dd-mm-yyyy"
      {{au-inputmask options=(hash mask="99-99-9999" placeholder="_")}}
      {{on "blur" (perform this.onChange)}}
      {{on "input" this.onInput}}
      @disabled={{@disabled}}
    />
  {{/if}}
  {{#unless @showFormatHelpText}}
    <AuHelpText>
      Datum formaat: DD-MM-JJJJ
    </AuHelpText>
  {{/unless}}

  {{#if this.errorMessage}}
    <AuHelpText @error={{true}}>{{this.errorMessages}}</AuHelpText>
  {{/if}}
  {{#if this.warningMessage}}
    <AuHelpText @warning={{true}}>{{this.warningMessage}}</AuHelpText>
  {{/if}}
</div>