<div class="au-u-margin-top au-u-margin-bottom" ...attributes>
  <AuLabel>{{@label}}</AuLabel>
  <AuInput
    value={{this.dateInputString}}
    id={{this.elementId}}
    placeholder="01-01-2024"
    {{au-inputmask
      options=(hash alias="datetime" mask="99-99-9999" placeholder="_")
    }}
    {{on "input" (perform this.onChange)}}
  />

  {{#if this.errorMessage}}
    {{#if @showErrorAsAlert}}
      <AuAlert
        @size="small"
        @closable={{false}}
        @skin="error"
        class="au-u-margin-top"
      >{{this.errorMessage}}</AuAlert>
    {{else}}
      <AuHelpText @error={{true}}>{{this.errorMessage}}</AuHelpText>
    {{/if}}
  {{/if}}
</div>