{{#unless this.loading}}
  {{#if (and this.editableFormsEnabled this.formState.canEditFormDefinition)}}
    <div class="au-u-flex au-u-flex--end">
      <AuLink
        @model={{@form.id}}
        @route="custom-forms.instances.definition"
        @query={{hash
          fullScreenEdit=true
          isFormExtension=@isFormExtension
          instanceId=@instanceId
        }}
        @icon="pencil"
        class=""
      >
        Bewerk formulier definitie
      </AuLink>
    </div>
  {{/if}}
  <SemanticForms::Instance
    @show={{@isReadOnly}}
    @instanceId={{@instanceId}}
    @form={{this.formContext.formDefinition}}
    @onCancel={{@onCancel}}
    @onSave={{@onSave}}
    @beforeSave={{@beforeSave}}
    @formInitialized={{@formInitialized}}
    @customHistoryMessage={{@customHistoryMessage}}
    @buildMetaTtl={{@buildMetaTtl}}
    @saveTitle={{@saveTitle}}
  >
    {{#if this.editableFormsEnabled}}
      {{#if this.formState.isEditFormDefinitionForm}}
        {{! TODO this would be handy if it was in the <CustomForm::EditCustomField> component }}
        <div class="add-custom-field">
          <AuButton
            @skin="secondary"
            @width="block"
            @icon="plus"
            {{on "click" (fn (mut this.showEditModal) true)}}
            class="au-u-margin-bottom au-u-margin-top"
          >
            Voeg een veld toe
          </AuButton>
        </div>
      {{/if}}

      {{yield}}

      <RdfInputFields::CrudCustomFieldModal
        @isCreating={{true}}
        @showModal={{this.showEditModal}}
        @onCloseModal={{this.formContext.onFormUpdate}}
        @form={{this.formContext.formDefinition}}
        @field={{@field}}
      />
    {{/if}}
    {{yield}}
  </SemanticForms::Instance>
{{/unless}}