{{#unless this.loading}}
  <SemanticForms::Instance
    @show={{@isReadOnly}}
    @instanceId={{@instanceId}}
    @form={{this.formContext.formDefinition}}
    @onCancel={{@onCancel}}
    @onSave={{@onSave}}
    @beforeSave={{@beforeSave}}
    @formInitialized={{@formInitialized}}
    @customHistoryMessage={{@customHistoryMessage}}
    @buildMetaTtl={{@buildMetaTtl}}
    @saveTitle={{@saveTitle}}
  >
    {{#if this.editableFormsEnabled}}
      {{#if this.formState.isAddFieldShownInForm}}
        <div class="add-custom-field">
          <AuButton
            @skin="secondary"
            @width="block"
            @icon="plus"
            {{on "click" (fn (mut this.showEditModal) true)}}
            class="au-u-margin-bottom au-u-margin-top"
          >
            Voeg een veld toe
          </AuButton>
        </div>
      {{/if}}

      {{yield}}

      <RdfInputFields::CrudCustomFieldModal
        @isCreating={{true}}
        @showModal={{this.showEditModal}}
        @onCloseModal={{this.formContext.onFormUpdate}}
        @form={{this.formContext.formDefinition}}
        @field={{@field}}
        @isForFormExtension={{this.formContext.isForFormExtension}}
      />
    {{/if}}
    {{yield}}
  </SemanticForms::Instance>
{{/unless}}