<AuButton
  @skin="link"
  @icon="plus"
  {{on "click" this.onAddField}}
  class="au-u-padding-left-none au-u-margin-bottom"
>
  Voeg een veld toe
</AuButton>
{{yield}}

<AuModal
  @modalOpen={{this.showModal}}
  @closeModal={{this.closeModal}}
  @closable={{true}}
  @title="Voeg een veld toe"
>
  <div class="au-o-box au-o-flow">
    <div>
      <AuLabel @required={{true}} for="field-name">Naam</AuLabel>
      <AuInput
        @width="block"
        @iconAlignment="left"
        value={{this.fieldName}}
        id="field-name"
        {{on "input" this.updateName}}
      />
    </div>
    <AuToolbar class="au-u-margin-top" as |Group|>
      <Group>
        <AuButtonGroup>
          <Shared::Tooltip
            @showTooltip={{this.invalidFieldInfo}}
            @tooltipText="Nog niet al de velden zijn correct ingevuld."
            @alignment="left"
          >
            <AuButton
              {{on "click" this.onSaveField}}
              @disabled={{this.disabled}}
              @loading={{this.loading}}
            >
              Bewaar
            </AuButton>
          </Shared::Tooltip>
          <AuButton {{on "click" this.closeModal}} @skin="secondary">
            Annuleer
          </AuButton>
        </AuButtonGroup>
      </Group>
    </AuToolbar>
  </div>

</AuModal>