<AuButton
  @skin="link"
  @icon="plus"
  {{on "click" this.onAddField}}
  class="au-u-padding-left-none au-u-margin-bottom"
>
  Voeg een veld toe
</AuButton>
{{yield}}

<AuModal
  @modalOpen={{this.showModal}}
  @closeModal={{this.closeModal}}
  @closable={{true}}
  @title="Voeg een veld toe"
>
  <div class="au-o-box au-o-flow">
    <div>
      <AuLabel @required={{true}} for="field-name">Naam</AuLabel>
      <AuInput
        @width="block"
        @iconAlignment="left"
        value={{this.fieldName}}
        id="field-name"
        {{on "input" this.updateName}}
      />
    </div>
    <div>
      <AuLabel @required={{true}} for="library-entry">Uit bibliotheek</AuLabel>
      <PowerSelect
        @allowClear={{false}}
        @renderInPlace={{false}}
        @searchEnabled={{true}}
        @loadingMessage="Aan het laden..."
        @noMatchesMessage="Geen velden gevonden"
        @searchMessage="Typ om te zoeken"
        @searchField="name"
        @options={{this.libraryFieldOptions}}
        @selected={{this.selectedLibraryFieldType}}
        @onChange={{this.selectLibraryFieldType}}
        id="library-entry"
        as |selected|
      >
        {{selected.name}}
      </PowerSelect>
    </div>
    <div>
      <AuLabel @required={{true}} for="display-type">Type</AuLabel>
      <PowerSelect
        @allowClear={{false}}
        @renderInPlace={{false}}
        @searchEnabled={{true}}
        @loadingMessage="Aan het laden..."
        @noMatchesMessage="Geen types gevonden"
        @searchMessage="Typ om te zoeken"
        @searchField="label"
        @options={{this.displayTypes}}
        @selected={{this.selectedDisplayType}}
        @onChange={{this.selectDisplayType}}
        id="display-type"
        as |selected|
      >
        {{selected.label}}
      </PowerSelect>
    </div>
    <AuToolbar class="au-u-margin-top" as |Group|>
      <Group>
        <AuButtonGroup>
          <Shared::Tooltip
            @showTooltip={{this.invalidFieldInfo}}
            @tooltipText="Nog niet al de velden zijn correct ingevuld."
            @alignment="left"
          >
            <AuButton
              {{on "click" this.onSaveField}}
              @disabled={{this.disabled}}
              @loading={{this.loading}}
              @loadingMessage="Bewaren"
            >
              Bewaar
            </AuButton>
          </Shared::Tooltip>
          <AuButton {{on "click" this.closeModal}} @skin="secondary">
            Annuleer
          </AuButton>
        </AuButtonGroup>
      </Group>
    </AuToolbar>
  </div>

</AuModal>