<div class="au-o-box">
  <p class="au-c-label">Kolommen</p>
  <ul>
    {{#each this.sortedLabels as |label|}}
      <li
        class="clickable-cell buttons-at-end
          {{if label.isSelected 'selected'}}
          {{if this.disabledSelection 'disabled'}}"
      >
        <p
          {{on "click" (fn this.toggleLabel label)}}
          role="button"
          class="au-u-flex au-u-flex--vertical-center"
        >{{label.name}}</p>
        <div
          class="au-u-flex au-u-flex--row au-u-flex--vertical-center au-u-flex-self-end"
        >
          <AuButton
            @skin="naked"
            @icon="nav-up"
            @hideText={{true}}
            {{on "click" (fn this.moveLabel label "up")}}
          >
            Naar boven
          </AuButton>
          <AuButton
            @skin="naked"
            @icon="nav-down"
            @hideText={{true}}
            {{on "click" (fn this.moveLabel label "down")}}
          >
            Naar onder
          </AuButton>
        </div>
      </li>
    {{/each}}
  </ul>
</div>