<div class="power-select--min-width">
  {{#if @mandaatLabel}}
    <PowerSelect
      @allowClear={{false}}
      @disabled={{@disabled}}
      @placeholder={{@placeholder}}
      @selected={{@selected}}
      @options={{this.labels}}
      @class="is-optional"
      @onChange={{this.onUpdateRangorde}}
      @searchEnabled={{true}}
      @loadingMessage="Aan het laden..."
      @noMatchesMessage="Geen resultaten"
      as |rangordeLabel|
    >
      {{rangordeLabel}}
    </PowerSelect>
  {{/if}}
</div>