<span ...attributes>
  <div class="au-u-flex au-u-flex--column">
    <AuLabel class="au-c-description-label">
      {{@field.label}}
    </AuLabel>
    {{#if (and this.isUrlValue this.value)}}
      <AuLinkExternal
        class="au-c-description-value"
        href={{this.value}}
        @newTab={{true}}
      >
        {{this.value}}
      </AuLinkExternal>
    {{else}}
      <p class="au-c-description-value">{{or this.value "Onbekend"}}</p>
    {{/if}}
  </div>
</span>