<td><AuPill
    @skin={{if
      (eq @notification.code.label "Error")
      "error"
      (if (eq @notification.code.label "Warning") "warning" "info")
    }}
  >{{@notification.code.label}}</AuPill></td>
<td>{{moment-format @notification.createdAt "DD-MM-YYYY HH:mm:ss"}}</td>
<td>{{@notification.subject}}</td>
<td>{{@notification.message}}</td>
<td>{{#each @notification.linkedItems as |link|}}
    <SystemNotificationLink @link={{link}} />
  {{/each}}
</td>
<td>
  <AuDropdown
    @skin={{this.skin}}
    @icon="three-dots"
    @hideText={{true}}
    role="menu"
  >
    <AuButton
      @skin="link"
      @icon="check"
      role="menuitem"
      {{on "click" (perform this.toggleDate @notification "readAt")}}
    >
      {{this.readAtText @notification}}
    </AuButton>
    <AuButton
      @skin="link"
      @icon="archive"
      role="menuitem"
      {{on "click" (perform this.toggleDate @notification "archivedAt")}}
    >
      {{this.archivedAtText @notification}}
    </AuButton>
  </AuDropdown>
</td>