<td class="au-u-padding-small au-u-text-center">
  <AuButton
    @icon={{if this.activeSilencer "not-visible" "eye"}}
    @skin="naked"
    @size="large"
    @hideText="true"
    {{on "click" this.toggleHidden}}
  >Verberg</AuButton>

</td>
<td>
  <LinkTo
    @route={{@result.context.route}}
    @model={{@result.context.modelId}}
    class="au-c-link au-u-medium"
  >
    {{@result.label}}
  </LinkTo>
</td>
<td>
  <span>{{@result.message}}</span>
  {{#if this.collapsed}}
    <AuButton
      @skin="link"
      {{on "click" this.toggleCollapsed}}
    >[detail]</AuButton>
  {{else}}
    <span class="au-u-muted">{{@result.detail}}</span>
    <AuButton @skin="link" {{on "click" this.toggleCollapsed}}>[verberg detail]</AuButton>

  {{/if}}
</td>
{{yield}}