<AuToolbar @border="bottom" @size="large" as |Group|>
  <Group>
    <AuHeading @skin="2">Voeg mandataris toe uit de lijst van verkozenen</AuHeading>
  </Group>
</AuToolbar>

<div class="au-o-box">
  <Form::NewInstance
    @onCreate={{this.onCreate}}
    @form={{@model.mandatarisNewForm}}
    @buildSourceTtl={{this.buildSourceTtl}}
    @buildMetaTtl={{this.buildMetaTtl}}
    @prefillValues={{this.prefillValues}}
  />
</div>

<AuToolbar @border="top" @size="large" as |Group|>
  <Group>
    <Form::CancelWithConfirm
      @cancel={{this.cancel}}
    >Annuleer</Form::CancelWithConfirm>
  </Group>
</AuToolbar>