{{breadcrumb "Voeg mandaat toe" route="organen.orgaan.mandataris.new"}}
<AuToolbar @border="bottom" @size="large" as |Group|>
  <Group>
    <AuHeading @skin="2">Voeg mandataris toe uit de lijst van verkozenen</AuHeading>
  </Group>
</AuToolbar>

<div class="au-o-box">
  {{#if @model.bestuurseenheid.isOCMW}}
    <AuAlert @skin="warning" @icon="alert-triangle" @closable={{false}}>
      Mandatarissen in het OCMW hebben vaak een corresponderend mandaat in de
      gemeente. Om deze automatisch aan te maken is het gemakkelijker dit te
      doen vanuit de gemeente. Daar kan je beide aanmaken met een enkel
      formulier. Als je beslist dit in het OCMW te doen zul je ook nog manueel
      de corresponderende mandataris moeten aanmaken in de gemeente.
    </AuAlert>
  {{/if}}
  <Form::NewInstance
    @onCreate={{this.onCreate}}
    @form={{@model.mandatarisNewForm}}
    @buildSourceTtl={{this.buildSourceTtl}}
    @buildMetaTtl={{this.buildMetaTtl}}
  />
</div>

<AuToolbar @border="top" @size="large" as |Group|>
  <Group>
    <Form::CancelWithConfirm
      @cancel={{this.cancel}}
    >Annuleer</Form::CancelWithConfirm>
  </Group>
</AuToolbar>

<Mandatarissen::Linked::Modal
  @recentUpdate={{this.createdMandataris}}
  @mandataris={{this.newestMandatarisId}}
  @callback={{this.callbackAfterCreate}}
  @type="CREATE"
/>