{{page-title "Beheer bestuursorgaan"}}

<AuToolbar @border="bottom" @size="large" as |Group|>
  <Group>
    <AuHeading @skin="2">Beheer bestuursorganen</AuHeading>
  </Group>
  <Group>
    <AuButton @skin="primary" {{on "click" this.createNewOrgaan}}>
      Voeg nieuw bestuursorgaan toe
    </AuButton>
  </Group>
</AuToolbar>

<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box">
    <AuHeading @skin="3">Actieve bestuursorganen</AuHeading>
    <Organen::ActiveOrgaanTable
      @content={{@model.activeOrganen}}
      @sort={{this.active_sort}}
      @editRoute="organen.beheer.edit"
      @archive={{this.archiveOrgaan}}
    />
  </div>
  <div class="au-o-box">
    <AuHeading @skin="3">Inactieve bestuursorganen</AuHeading>
    <Organen::InactiveOrgaanTable
      @content={{@model.inactiveOrganen}}
      @sort={{this.inactive_sort}}
      @editRoute="organen.beheer.edit"
      @dearchive={{this.deArchiveOrgaan}}
    />
  </div>
</div>