{{page-title "Bestuursorgaan"}}

<AuMainContainer as |main|>
  <main.sidebar>
    <div class="au-c-sidebar">
      <div class="au-c-sidebar__header au-u-margin-top-small">
        <AuHeading @level="3" @skin="3">Filters</AuHeading>
      </div>
      <div class="au-c-sidebar__content au-o-box">
        <AuHeading @level="5" @skin="5">Status</AuHeading>
        <AuToggleSwitch
          @alignment="left"
          @identifier="filterActiveOrgans"
          @checked={{this.activeFilter}}
          @onChange={{this.filterActiveOrgans}}
        >Enkel actieve organen</AuToggleSwitch>
      </div>
    </div>
  </main.sidebar>
  <main.content>
    <AuBodyContainer id="content">
      <AuToolbar @border="bottom" @size="large" as |Group|>
        <Group>
          <AuHeading @skin="2">Bestuursorganen</AuHeading>
        </Group>
        <Group>
          <AuLink @route="organen.fracties" @skin="button-secondary">Beheer
            fracties
          </AuLink>
          <AuButton {{on "click" this.toggleModal}}>Voeg bestuursorgaan toe</AuButton>
        </Group>
      </AuToolbar>

      <div class="au-c-body-container au-c-body-container--scroll">
        <div class="au-o-box">
          <Organen::OrgaanTable
            @content={{@model.bestuursorganen}}
            @sort={{this.sort}}
            @editRoute="organen.orgaan"
          />
        </div>
      </div>
    </AuBodyContainer>
  </main.content>
</AuMainContainer>

<AuModal
  @title="Voeg bestuursorgaan toe"
  @modalOpen={{this.modal}}
  @closable={{true}}
  @closeModal={{this.toggleModal}}
>
  <div class="au-o-box">
    <Form::NewInstance
      @onCreate={{this.onCreate}}
      @form={{this.model.form}}
      @buildSourceTtl={{this.buildSourceTtlCreateBestuursorgaan}}
      @onCancel={{this.toggleModal}}
    />
  </div>
</AuModal>