<RdfInputFields::CustomFieldWrapper
  @inline={{true}}
  @field={{@field}}
  @form={{@form}}
  @graphs={{@graphs}}
  @formStore={{@formStore}}
  as |wrapper|
>
  <div class="au-u-flex au-u-flex--column">
    {{#if this.hasSelectedOptions}}
      <AuTable>
        <:header>
          {{#each this.instanceDisplayLabels as |label|}}
            <th>{{label.name}}</th>
          {{/each}}
        </:header>
        <:body>
          {{#each this.selectedInstances as |instance|}}
            <tr>
              {{#each instance.option as |option|}}
                <td>{{option.value}}</td>
              {{/each}}
            </tr>
          {{/each}}
        </:body>
      </AuTable>
    {{else}}
      <p>Selecteer een formulier</p>
    {{/if}}
    <AuButton
      class="au-u-padding-left-none au-u-margin-top-small"
      @skin="link"
      {{on "click" this.openModal}}
    >Pas aan</AuButton>
  </div>
  <AuModal
    ...attributes
    @modalOpen={{this.isModalOpen}}
    @closable={{true}}
    @closeModal={{this.onCloseModal}}
  >
    <:title>Link naar formulier</:title>
    <:body>
      <AuDataTable
        @content={{this.instancesAsOptions}}
        @sort={{@sort}}
        @page={{@page}}
        @size={{@size}}
        {{!-- @isLoading={{not this.initialized}} --}}
        @noDataMessage="Geen formulieren gevonden."
        as |t|
      >
        <t.content as |c|>
          <c.header>
            <th> {{! is selected}}</th>
            {{#each this.instanceDisplayLabels as |label|}}
              <th>{{label.name}}</th>
            {{/each}}
          </c.header>
          <c.body as |instance|>
            <td>
              <AuCheckbox
                @checked={{instance.isSelected}}
                @onChange={{fn this.selectInstance instance}}
              />
            </td>
            {{#each instance.option as |option|}}
              <td>{{option.value}}</td>
            {{/each}}
          </c.body>
        </t.content>
      </AuDataTable>
    </:body>
    <:footer>
      <div class="au-u-flex au-u-flex--center">
        <AuButton
          @skin="secondary"
          {{on "click" (fn this.onCloseModal wrapper.onInteractedWithField)}}
        >Sluiten</AuButton>
      </div>
    </:footer>
  </AuModal>
</RdfInputFields::CustomFieldWrapper>