<RdfInputFields::CustomFieldWrapper
  @inline={{true}}
  @field={{@field}}
  @form={{@form}}
  @graphs={{@graphs}}
  @formStore={{@formStore}}
>
  <AuCard @standOut={{true}} as |c|>
    <c.content>
      <PowerSelect
        @labelText="Formulier type"
        @loadingMessage="Aan het laden..."
        @noMatchesMessage="Geen resultaten"
        @searchMessage="Typ om te zoeken"
        @searchEnabled={{true}}
        @allowClear={{false}}
        @placeholder="Type van het formulier"
        @searchField="label"
        @selected={{this.formType}}
        @onChange={{this.selectFormType}}
        @options={{this.formTypes}}
        as |form|
      >
        {{form.label}}
      </PowerSelect>
      <PowerSelect
        @disabled={{not this.formType}}
        @labelText="Formulier"
        @loadingMessage="Aan het laden..."
        @noMatchesMessage="Geen resultaten"
        @searchMessage="Typ om te zoeken"
        @searchEnabled={{true}}
        @allowClear={{false}}
        @placeholder="Formulier voor het geselecteerde type"
        @searchField="id"
        @selected={{this.form}}
        @onChange={{this.selectFormOfType}}
        @options={{this.formOptions}}
        as |form|
      >
        <AuTable @size={{this.size}}>
          <:header>
            <tr>
              {{#each form.values as |keyValue|}}
                <th>{{keyValue.key}}</th>
              {{/each}}
            </tr>
          </:header>
          <:body>
            <tr>
              {{#each form.values as |keyValue|}}
                <td>{{keyValue.value}}</td>
              {{/each}}
            </tr>
          </:body>
        </AuTable>
      </PowerSelect>
    </c.content>
  </AuCard>
</RdfInputFields::CustomFieldWrapper>