<RdfInputFields::CustomFieldWrapper
  @inline={{true}}
  @field={{@field}}
  @form={{@form}}
  @graphs={{@graphs}}
  @formStore={{@formStore}}
>
  <AuCard @standOut={{true}} as |c|>
    <c.content>
      <PowerSelect
        @labelText="Formulier type"
        @loadingMessage="Aan het laden..."
        @noMatchesMessage="Geen resultaten"
        @searchMessage="Typ om te zoeken"
        @searchEnabled={{true}}
        @allowClear={{false}}
        @placeholder="Type van het formulier"
        @searchField="label"
        @selected={{this.formType}}
        @onChange={{this.selectFormType}}
        @options={{this.formTypes}}
        as |form|
      >
        {{form.label}}
      </PowerSelect>
      <PowerSelect
        @disabled={{not this.formType}}
        @labelText="Formulier"
        @loadingMessage="Aan het laden..."
        @noMatchesMessage="Geen resultaten"
        @searchMessage="Typ om te zoeken"
        @searchEnabled={{true}}
        @search={{perform this.searchForm}}
        @allowClear={{false}}
        @placeholder="Formulier voor het geselecteerde type"
        @selected={{this.form}}
        @onChange={{this.selectFormOfType}}
        @options={{this.formOptions}}
        @onClose={{this.preventCloseOnLoadMoreOptions}}
        as |form|
      >
        {{#if (eq form.id "load-more-options")}}
          <span
            class="au-u-flex au-u-flex--center au-u-padding-top-small au-u-padding-bottom-small"
          >
            {{#if this.canShowLoadMoreOptions}}
              {{#if this.isLoadingMoreOptions}}
                <AuLoader />
              {{else}}
                <AuHelpText>Laad meer opties</AuHelpText>
              {{/if}}
            {{else}}
              <AuHelpText>Alle opties ingeladen</AuHelpText>
            {{/if}}
          </span>
        {{else}}
          <AuList @direction="vertical" @divider={{true}} as |Item|>
            {{#each form.values as |keyValue|}}
              <Item>
                <AuHelpText>{{keyValue.key}}: </AuHelpText>
                {{keyValue.value}}
              </Item>
            {{/each}}
          </AuList>
        {{/if}}
      </PowerSelect>
    </c.content>
  </AuCard>
</RdfInputFields::CustomFieldWrapper>