<RdfInputFields::CustomFieldWrapper
  @inline={{true}}
  @field={{@field}}
  @form={{@form}}
  @graphs={{@graphs}}
  @formStore={{@formStore}}
>
  <PowerSelectMultiple
    @labelText="Formulier"
    @loadingMessage="Aan het laden..."
    @noMatchesMessage="Geen resultaten"
    @searchMessage="Typ om te zoeken"
    @searchEnabled={{true}}
    @search={{perform this.searchForm}}
    @allowClear={{false}}
    @placeholder="Selecteer instantie"
    @selected={{this.selectedInstances}}
    @onChange={{this.selectInstance}}
    @options={{this.instancesAsOptions}}
    @onClose={{this.preventCloseOnLoadMoreOptions}}
    as |instance|
  >
    {{#if (eq instance.id this.LOAD_MORE_ID)}}
      <span
        class="au-u-flex au-u-flex--center au-u-padding-top-small au-u-padding-bottom-small"
      >
        {{#if this.isFetchingInstances}}
          <AuLoader @hideMessage={{true}} />
        {{else}}
          <AuHelpText>Laad meer opties</AuHelpText>
        {{/if}}
      </span>
    {{else}}
      <div class="au-u-flex au-u-flex--row au-u-flex-wrap">
        {{#each instance.option as |keyValue|}}
          <span class="au-u-padding-right-small">
            <AuHelpText>{{keyValue.key}}: </AuHelpText>
            {{keyValue.value}}
          </span>
        {{/each}}
      </div>
    {{/if}}
  </PowerSelectMultiple>
</RdfInputFields::CustomFieldWrapper>