{{#if this.loading}}
  Loading...
{{else}}
  <AuTable @size={{this.size}}>
    <:header>
      <tr>
        <th>Tijdstip</th>
        <th>Gebruiker</th>
        <th>Aanpassing</th>
        <th></th>
      </tr>
    </:header>
    <:body>
      {{#each this.history as |historyItem index|}}
        <Form::HistoryRow
          @historyItem={{historyItem}}
          @onRestore={{perform this.restoreHistoryItem}}
          @isCurrentVersion={{eq index 0}}
        />
      {{else}}
        <tr>
          <td colspan="4">Geen aanpassingen gevonden</td>
        </tr>
      {{/each}}
    </:body>
  </AuTable>
  {{#if (gt this.history.length 0)}}
    <Shared::TablePagination
      @pageSize={{this.size}}
      @page={{this.page}}
      @totalItems={{this.totalCount}}
      @toNextPage={{this.toNextPage}}
      @toPreviousPage={{this.toPreviousPage}}
    />
  {{/if}}

  {{yield}}
{{/if}}
