<div {{did-update this.onInit @page}}>
  <AuToolbar @size="large" class="au-u-padding-bottom-none" as |Group|>
    <Group>
      <AuHeading @skin="2">Beheer
        {{this.formInfo.formDefinition.id}}
        Form Instances</AuHeading>
    </Group>
    <Group>
      <AuButton {{on "click" @onCreate}}>Voeg form instance toe</AuButton>
    </Group>
  </AuToolbar>

  <AuDataTable
    @content={{this.formInfo.instances}}
    @page={{@page}}
    @size={{@size}}
    @isLoading={{not this.initialized}}
    @noDataMessage="Geen instance gevonden."
    as |t|
  >
    <t.content as |c|>
      <c.header>
        {{#each this.formInfo.headers as |header|}}
          <th>{{header}}</th>
        {{/each}}
        <th>{{! Bewerk }}</th>
        <th>{{! Delete }}</th>
      </c.header>

      <c.body as |row|>
        {{#each-in row as |key value|}}
          <td class="au-u-word-break">{{value}}</td>
        {{/each-in}}
        <td>
          <LinkTo @route={{@editRoute}} @model={{row.id}} class="au-c-link">
            <AuIcon @icon="pencil" @alignment="left" />
            Bewerk
          </LinkTo>
        </td>
        <td class="au-u-text-right">
          <AuButton
            @icon="bin"
            @alert={{true}}
            {{on "click" (fn this.removeInstance row)}}
          >Verwijder</AuButton>
        </td>
      </c.body>
    </t.content>
  </AuDataTable>
</div>