<tr>
  <td class="au-u-word-break">
    {{@instance.uri}}
  </td>
  <td class="au-u-word-break">
    {{@instance.id}}
  </td>
  <td class="au-u-word-break">
    {{@instance.label}}
  </td>

  <td class="au-u-text-right">
    <LinkTo @route={{@editRoute}} @model={{@instance.id}} class="au-c-link">
      <AuIcon @icon="pencil" @alignment="left" />
      Bewerk
    </LinkTo>
    {{! TODO: this should only be possible with certain roles }}
    <AuButton
      @icon="bin"
      @alert={{true}}
      {{on "click" this.remove}}
    >Verwijder</AuButton>
  </td>
</tr>