<tr>
  <td>
    {{@instance.uri}}
  </td>
  <td>
    {{@instance.id}}
  </td>
  <td>
    {{@instance.label}}
  </td>

  <AuButton @icon="bin" @alert={{true}} {{on "click" this.remove}}>Verwijder</AuButton>
  <td><LinkTo @route={{@editRoute}} @model={{@instance.id}} class="au-c-link">
    <AuIcon @icon="pencil" @alignment="left" />
    Bewerk </LinkTo>
  </td>
</tr>
