<tr>
  <td>
    {{@instance.uri}}
  </td>
  <td>
    {{@instance.id}}
  </td>
  <td>
    {{@instance.label}}
  </td>

  <td class="au-u-text-right">
    <LinkTo @route={{@editRoute}} @model={{@instance.id}} class="au-c-link">
      <AuIcon @icon="pencil" @alignment="left" />
      Bewerk </LinkTo>
    <AuButton @icon="bin" @alert={{true}} {{on "click" this.remove}}>Verwijder</AuButton>
  </td>
</tr>
