{{#if this.initialized}}
  <section>
    <RdfForm
      @groupClass="au-o-grid__item"
      @form={{this.formInfo.form}}
      @show={{(not this.isEditable)}}
      @graphs={{this.formInfo.graphs}}
      @sourceNode={{this.formInfo.sourceNode}}
      @formStore={{this.formInfo.formStore}}
      @forceShowErrors={{true}}
      @useNewListingLayout={{true}}
      @level={{2}}
      class="au-u-max-width-medium {{unless this.isEditable 'disabled'}}"
    />
    {{yield}}
  </section>

  {{#if this.isEditable}}
    <AuToolbar as |Group|>
      <Group>
        <AuButtonGroup>
          <AuButton
            {{on "click" this.saveInstance}}
            @disabled={{this.isSaving}}
          >
            Pas aan
          </AuButton>
          {{#if @onCancel}}
            <Form::CancelWithConfirm
              @cancel={{this.cancel}}
            >Annuleer</Form::CancelWithConfirm>
          {{/if}}
        </AuButtonGroup>
      </Group>
    </AuToolbar>

    <Form::TripleContent @triples={{this.sourceTriples}} />
  {{/if}}

{{else}}
  <div>loading...</div>
{{/if}}
