<div class="no-pagination">
  <AuDataTable
    @content={{@orderedMandaten}}
    @noDataMessage="Geen mandaten gevonden"
    @page={{0}}
    @size={{100}}
    as |t|
  >
    <t.content as |c|>
      <c.header>
        <th>Naam</th>
        {{#if this.showMinMax}}
          <th>Min aantal houders</th>
          <th>Max aantal houders</th>
        {{/if}}
        <th>Aantal houders</th>
        <th></th>
      </c.header>
      <c.body as |mandaat|>
        <td class="au-u-visible-small-up">
          {{mandaat.bestuursfunctie.label}}
        </td>
        {{#if this.showMinMax}}
          <td class="au-u-visible-small-up">
            {{if mandaat.minAantalHouders mandaat.minAantalHouders "Onbepaald"}}
          </td>
          <td class="au-u-visible-small-up">
            {{if mandaat.maxAantalHouders mandaat.maxAantalHouders "Onbepaald"}}
          </td>
        {{/if}}
        <td class="au-u-visible-small-up">
          {{#if (eq this.editMandaat.id mandaat.id)}}
            <AuInput
              value={{mandaat.aantalHouders}}
              @width="block"
              id="mandaat-aantal-houders"
              type="number"
              min={{0}}
              {{on "input" this.updateAantalHouders}}
            />
            {{#if this.errorMessageAantalHouders}}
              <AuHelpText @error={{true}}>
                {{this.errorMessageAantalHouders}}
              </AuHelpText>
            {{/if}}
          {{else}}
            {{mandaat.aantalHouders}}
          {{/if}}
        </td>
        <td>
          {{#if (eq this.editMandaat.id mandaat.id)}}
            <AuButtonGroup>
              <Shared::Tooltip
                @showTooltip={{this.disabled}}
                @tooltipText={{this.toolTipText}}
              >
                <AuButton
                  {{on "click" this.saveMandaat}}
                  @disabled={{this.disabled}}
                >
                  Bewaar
                </AuButton>
              </Shared::Tooltip>
              <AuButton @skin="secondary" {{on "click" this.cancelEditMandaat}}>
                Annuleer
              </AuButton>
            </AuButtonGroup>
          {{else}}
            <AuButton
              @skin="link"
              @icon="pencil"
              {{on "click" (fn this.startEditMandaat mandaat)}}
            >
              Bewerk
            </AuButton>
          {{/if}}
        </td>
      </c.body>
    </t.content>
  </AuDataTable>
  {{yield}}
</div>

<AuModal
  @id="create-mandaat"
  @modalOpen={{this.creatingNewMandaat}}
  @closeModal={{this.cancelCreateMandaat}}
  @title="Voeg mandaat toe"
  as |Modal|
>
  <Modal.Body>
    <AuLabel>Type Mandaat:</AuLabel>
    <PowerSelect
      @allowClear={{false}}
      @renderInPlace={{false}}
      @searchEnabled={{true}}
      @noMatchesMessage={{"Geen resultaten gevonden"}}
      @searchMessage={{"Typ om een type mandaat te zoeken"}}
      @options={{@availableBestuursfuncties}}
      @selected={{this.selectedBestuursfunctie}}
      @onChange={{fn (mut this.selectedBestuursfunctie)}}
      @searchField="label"
      as |singleselect|
    >
      {{singleselect.label}}
    </PowerSelect>

  </Modal.Body>
  <Modal.Footer>
    <AuToolbar as |Group|>
      <Group>
        <AuButtonGroup>
          <AuButton
            {{on "click" this.createMandaat.perform}}
            @loading={{this.createMandaat.isRunning}}
          >
            Voeg toe
          </AuButton>
          <AuButton @skin="secondary" {{on "click" this.cancelCreateMandaat}}>
            Annuleer
          </AuButton>
        </AuButtonGroup>
      </Group>
    </AuToolbar>
  </Modal.Footer>
</AuModal>