<div class="au-o-flow" {{did-insert this.initialize}}>
  <div class="au-o-layout">

    <div class="au-o-flow no-pagination">
      <AuDataTable
        @content={{this.orderedMandaten}}
        @isLoading={{this.loading}}
        @noDataMessage="Geen mandaten gevonden"
        @page={{0}}
        @size={{100}}
        as |t|
      >
        <t.content as |c|>
          <c.header>
            <th>Naam</th>
            <th>Aantal Houders</th>
            <th></th>
          </c.header>
          <c.body data-test-loket="mandaten-body" as |mandaat|>
            <td class="au-u-visible-small-up">
              {{mandaat.bestuursfunctie.label}}
            </td>

            <td class="au-u-visible-small-up">
              {{mandaat.aantalHouders}}
            </td>
            <td>
              <Tmp::Todo>
                <LinkTo
                  @route={{"mandaat.edit"}}
                  @model={{mandaat.id}}
                  class="au-c-link"
                > Bewerk </LinkTo>
                <AuButton
                  @skin="link"
                  @icon="bin"
                  @alert="true"
                  {{on "click" (fn this.hideMandaat mandaat)}}
                >
                  Verwijder
                </AuButton>
              </Tmp::Todo>
            </td>
          </c.body>
        </t.content>
      </AuDataTable>
      {{#unless this.bestuursorgaanIT.isDecretaal}}
        <AuButton
          @disabled={{this.loadingBestuursfuncties}}
          {{on "click" this.createNewMandaat}}
          @icon="plus"
        >
          Voeg mandaat toe
        </AuButton>
      {{/unless}}
      {{yield}}
    </div>
  </div>
</div>

<AuModal
  @id="create-mandaat"
  @modalOpen={{this.creatingNewMandaat}}
  @closeModal={{this.cancelCreateMandaat}}
  @title="Nieuw Mandaat Aanmaken"
  as |Modal|
>
  <Modal.Body>
    <AuLabel>Type Mandaat:</AuLabel>
    <PowerSelect
      @allowClear={{false}}
      @renderInPlace={{false}}
      @searchEnabled={{this.searchEnabled}}
      @noMatchesMessage={{"Geen resultaten gevonden"}}
      @searchMessage={{"Typ om een type mandaat te zoeken"}}
      @options={{this.availableBestuursfuncties}}
      @selected={{this.selectedBestuursfunctie}}
      @onChange={{fn (mut this.selectedBestuursfunctie)}}
      @searchField="label"
      as |singleselect|
    >
      {{singleselect.label}}
    </PowerSelect>

  </Modal.Body>
  <Modal.Footer>
    <AuToolbar as |Group|>
      <Group>
        <AuButtonGroup>
          <AuButton
            {{on "click" this.confirmCreateMandaat}}
            @loading={{this.createManaat.isRunning}}
          >
            Creëer Mandaat
          </AuButton>
          <AuButton @skin="secondary" {{on "click" this.cancelCreateMandaat}}>
            Annuleer
          </AuButton>
        </AuButtonGroup>
      </Group>
    </AuToolbar>
  </Modal.Footer>
</AuModal>
