{{#if @concept}}
  <td>
    {{#if @isEditable}}
      {{#if this.isEditing}}
        <div class="au-u-flex au-u-flex--row au-u-flex--vertical-center">
          <div class="au-u-flex au-u-flex--column">
            <AuInput
              value={{this.label}}
              {{on "keyup" this.updateConceptLabel}}
            />
            {{#unless this.canSaveLabel}}
              <AuHelpText @error={{true}}>
                {{this.errorMessage}}
              </AuHelpText>
            {{/unless}}
          </div>
          <AuButton
            @icon="check"
            @skin="link-secondary"
            @size="small"
            @hideText={{true}}
            {{on "click" this.saveChanges}}
          />
          <AuButton
            @icon="cross"
            @skin="link-secondary"
            @size="small"
            @hideText={{true}}
            {{on "click" this.discardChanges}}
          />
        </div>
      {{else}}
        <div
          class="au-u-flex au-u-flex--row au-u-flex--vertical-center show-on-hover"
        >
          <p>{{this.label}}</p>
          <AuButton
            class="show-on-hover--btn"
            @icon="pencil"
            @skin="link-secondary"
            @size="small"
            @hideText={{true}}
            {{on "click" (fn (mut this.isEditing) true)}}
          />
        </div>
      {{/if}}
    {{else}}
      <p>{{this.label}}</p>
    {{/if}}
  </td>
{{/if}}