<td class="au-u-4-5">
  {{#if @isEditable}}
    <div class="au-u-flex au-u-flex--column">
      <AuInput value={{this.label}} {{on "input" this.updateConceptLabel}} />
      {{#if this.canSaveLabel}}
        <AuHelpText>
          Naam moet minstens 2 karakters lang zijn.
        </AuHelpText>
      {{else}}
        <AuHelpText @error={{true}}>
          {{this.errorMessage}}
        </AuHelpText>
      {{/if}}
    </div>
  {{else}}
    <p>{{this.label}}</p>
  {{/if}}
</td>
{{#if @isEditable}}
  <td class="au-u-1-6">
    <AuButtonGroup>
      <AuButton
        @alert={{true}}
        @skin="link"
        {{on "click" this.delete}}
      >Verwijder</AuButton>
    </AuButtonGroup>
  </td>
{{/if}}