{{#if @concept}}
  <td>
    {{#if @isViewOnly}}
      <p>{{this.concept.label}}</p>
    {{else}}
      {{#if this.isEditing}}
        <div class="au-u-flex au-u-flex--row au-u-flex--vertical-center">
          <AuInput
            value={{this.concept.label}}
            {{on "keyup" this.updateConceptLabel}}
          />
          <AuButton
            @icon="check"
            @skin="link-secondary"
            @size="small"
            @hideText={{true}}
            {{on "click" this.saveChanges}}
          />
          <AuButton
            @icon="cross"
            @skin="link-secondary"
            @size="small"
            @hideText={{true}}
            {{on "click" this.discardChanges}}
          />
        </div>
      {{else}}
        <div
          class="au-u-flex au-u-flex--row au-u-flex--vertical-center show-on-hover"
        >
          <p>{{this.concept.label}}</p>
          <AuButton
            class="show-on-hover--btn"
            @icon="pencil"
            @skin="link-secondary"
            @size="small"
            @hideText={{true}}
            {{on "click" (fn (mut this.isEditing) true)}}
          />
        </div>
      {{/if}}
    {{/if}}
  </td>
{{/if}}