<div class="no-pagination au-c-body-container au-c-body-container--scroll">
  {{#if @showTotalConcepts}}
    <div
      class="au-u-flex au-u-flex--end au-u-margin-bottom-small au-u-margin-right"
    >
      <AuHelpText @skin="secondary" @size="large">
        Aantal:
        {{this.concepten.length}}
      </AuHelpText>
    </div>
  {{/if}}
  <AuTable @size={{this.size}}>
    <:header>
      <tr>
        <th>Label</th>
        <th>{{! Acties }}</th>
      </tr>
    </:header>
    <:body>
      {{#each this.sortedConcepten as |concept|}}
        <tr>
          <td>
            {{#if this.isEditable}}
              <AuInput value={{concept.label}} />
            {{else}}
              {{concept.label}}
            {{/if}}
          </td>
        </tr>
      {{/each}}
    </:body>
    <:footer>
      {{#if this.isEditable}}
        <tr>
          <td colspan="2">
            <AuButton
              @skin="secondary"
              @icon="plus"
              @width="block"
              {{on "click" this.addConcept}}
            >
              Voeg een extra optie toe
            </AuButton>
          </td>
        </tr>
      {{/if}}
    </:footer>
  </AuTable>
</div>