<div class="au-o-box au-u-1-3@medium au-u-flex au-u-flex--column">
  <Codelijst::NameInput
    @name={{this.codelijst.label}}
    @onUpdate={{this.updateCodelistName}}
  />
</div>
<div class="no-pagination au-c-body-container au-c-body-container--scroll">
  {{#if @showTotalConcepts}}
    <div
      class="au-u-flex au-u-flex--end au-u-margin-bottom-small au-u-margin-right"
    >
      <AuHelpText @skin="secondary" @size="large">
        Aantal:
        {{this.concepten.length}}
      </AuHelpText>
    </div>
  {{/if}}
  <AuTable @size={{this.size}}>
    <:header>
      <tr>
        <th>Label</th>
        <th>{{! Acties }}</th>
      </tr>
    </:header>
    <:body>
      {{#each this.sortedConcepten as |concept|}}
        <tr>
          <Codelijst::ConceptRow
            @concept={{concept}}
            @isEditable={{@isEditable}}
          />
        </tr>
      {{/each}}
    </:body>
    <:footer>
      {{#if @isEditable}}
        <tr>
          <td colspan="2">
            <AuButton
              @skin="secondary"
              @icon="plus"
              @width="block"
              {{on "click" this.addConcept}}
            >
              Voeg een extra optie toe
            </AuButton>
          </td>
        </tr>
      {{/if}}
    </:footer>
  </AuTable>
</div>