<div class="au-o-box">
  <Person::Card @persoon={{@persoon}} />
</div>

<div class="au-o-box">
  <AuHeading @level="3" @skin="4">
    Huidige mandaten
  </AuHeading>

  <AuHr />

  <ul class="au-c-list-vertical">
    {{#each @mandatarissen as |mandataris|}}
      {{#if mandataris.isActive}}
        <Mandatenbeheer::Mandataris::MandatarisSummary
          @mandataris={{mandataris}}
          @bestuursorgaan={{@bestuursorgaan}}
          @mandatarisEindeEditForm={{@mandatarisEindeEditForm}}
          @mandatarisEditForm={{@mandatarisEditForm}}
        />
        <AuHr />
      {{/if}}
    {{/each}}
  </ul>

  <AuHeading @level="3" @skin="4">
    Beëindigde mandaten
  </AuHeading>

  <AuHr />

  <ul class="au-c-list-vertical">
    {{#each @mandatarissen as |mandataris|}}
      {{#unless mandataris.isActive}}
        <Mandatenbeheer::Mandataris::MandatarisSummary
          @mandataris={{mandataris}}
          @bestuursorgaan={{@bestuursorgaan}}
          @mandatarisEindeEditForm={{@mandatarisEindeEditForm}}
          @mandatarisEditForm={{@mandatarisEditForm}}
        />
        <AuHr />
      {{/unless}}
    {{/each}}
  </ul>

</div>