{{page-title "New"}}
{{breadcrumb
  "Nieuwe"
  " "
  this.model.formDefinition.id
  " "
  "instance"
  route="forms.form.new"
}}
<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box">
    <Form::NewInstance
      @onCreate={{this.onCreate}}
      @form={{this.model.formDefinition}}
      @onCancel={{this.onCancel}}
    />
  </div>
</div>