{{page-title
  "Mandatenbeheer "
  @model.mandatenbeheer.bestuurseenheid.classificatie.label
  " "
  @model.mandatenbheer.bestuurseenheid.naam
}}

<div class="au-c-body-container {{if this.hasActiveChildRoute 'au-u-hidden'}}">
  <AuToolbar @size="large" class="au-u-padding-bottom-none" as |Group|>
    <Group>
      <AuHeading @skin="2">Beheer Fracties</AuHeading>
    </Group>
    <Group>
      <AuButton {{on "click" this.createNewFractie}}>Voeg fractie toe</AuButton>
    </Group>
  </AuToolbar>

  <AuToolbar @size="large" as |Group|>
    <Group>
      <Mandatenbeheer::BestuursperiodenSelector
        @options={{@model.mandatenbeheer.bestuursperiods}}
        @selectedPeriod={{@model.mandatenbeheer.selectedPeriod}}
        @onSelect={{this.selectPeriod}}
      />
    </Group>
  </AuToolbar>

  <div class="au-c-body-container au-c-body-container--scroll">
    <div class="au-o-box">
      <Mandatenbeheer::Fractie::FractieTable
        @content={{@model.fracties}}
        @sort={{this.sort}}
        @page={{this.page}}
        @size={{this.size}}
        @editRoute="mandatenbeheer.fracties.edit"
        @selectedPeriod={{@model.mandatenbeheer.selectedPeriod}}
      />
    </div>
  </div>
</div>

{{outlet}}