{{page-title
  "Mandatenbeheer "
  @model.mandatenbeheer.bestuurseenheid.classificatie.label
  " "
  @model.mandatenbeheer.bestuurseenheid.naam
}}
<div class="au-c-body-container {{if this.hasActiveChildRoute 'au-u-hidden'}}">
  <AuToolbar
    @size="large"
    @nowrap="true"
    class="au-u-padding-bottom-none"
    as |Group|
  >
    <Group>
      <div class="au-o-flow">
        <AuHeading @skin="2">Mandatenbeheer</AuHeading>
        <Mandatenbeheer::Mandataris::MandatarissenTotals
          class="js-accordion"
          @bestuursorganen={{@model.mandatenbeheer.bestuursorganen}}
        />
      </div>
    </Group>

    <Group>
      <AuButton {{on "click" this.handleBeheerFractiesClick}} @skin="secondary">
        Beheer fracties
      </AuButton>
    </Group>
  </AuToolbar>

  <div class="au-c-body-container au-c-body-container--scroll">
    <div class="au-o-box">
      <AuAlert
        @icon="alert-triangle"
        @title="This content has moved"
        @skin="warning"
      >
        <div>This page will be removed in the near future, this logic can now be
          found in the organen module.</div>

        <AuLink @route="organen" @skin="button">Ga naar de bestuursorganen</AuLink>
      </AuAlert>
    </div>
  </div>

</div>

{{outlet}}