<div
  class="au-u-flex au-u-flex--row au-u-flex--spaced-tiny au-u-flex--vertical-center"
>
  <Person::ListItem
    @person={{this.person}}
    class="au-u-flex--stretch flex-grow"
    {{on "click" this.startEdit}}
  />
  {{#if (and @inline this.selectNewPerson)}}
    <AuButton
      {{on "click" this.cancelEdit}}
      @icon="pencil"
      @skin="secondary"
    >Annuleer</AuButton>
  {{else}}
    <AuButton
      {{on "click" this.startEdit}}
      @icon="pencil"
      @skin="secondary"
    >Bewerk</AuButton>
  {{/if}}
  <AuButton
    {{on "click" this.removePerson}}
    @icon="trash"
    @hideText={{true}}
    @skin="secondary"
  >Verwijder</AuButton>
</div>
{{#if (and this.selectNewPerson @inline)}}
  <div class="au-o-nested-form">
    {{#if this.creatingPerson}}
      <Form::NewInstance
        @onCreate={{this.onSelectNewPerson}}
        @form={{this.createPersonFormDefinition}}
        @buildSourceTtl={{this.buildSourceTtl}}
      />
    {{else}}
      <Person::SearchForm
        @showDefaultHead={{false}}
        @onSelect={{this.onSelectPerson}}
        @onCreateNewPerson={{this.onCreateNewPerson}}
      />
    {{/if}}
  </div>
{{else}}
  <AuModal
    @title={{"Selecteer een persoon"}}
    @modalOpen={{this.selectNewPerson}}
    @closable={{true}}
    @closeModal={{this.cancelEdit}}
  >
    <div class="au-o-box">

      {{#if this.creatingPerson}}
        <Form::NewInstance
          @onCreate={{this.onSelectNewPerson}}
          @form={{this.createPersonFormDefinition}}
          @onCancel={{this.cancelCreate}}
          @buildSourceTtl={{this.buildSourceTtl}}
        />
      {{else}}
        <Person::SearchForm
          @showDefaultHead={{false}}
          @onSelect={{this.onSelectPerson}}
          @onCreateNewPerson={{this.onCreateNewPerson}}
          @onCancel={{this.cancelEdit}}
        />
      {{/if}}
    </div>

  </AuModal>
{{/if}}
{{yield}}
