{{page-title
  "Leidinggevenden"
  " "
  @model.bestuurseenheid.classificatie.label
  " "
  @model.bestuurseenheid.naam
}}

<AuToolbar @border="bottom" @size="large" as |Group|>
  <Group>
    <AuHeading @skin="2">Leidinggevenden{{if
        @model.isRelevant
        " — Overzicht functies"
      }}</AuHeading>
  </Group>
</AuToolbar>

<div class="au-c-body-container au-c-body-container--scroll">
  {{#if (or (not @model.isRelevant) (eq @model.bestuursfunctie.length 0))}}
    <div class="au-o-box">
      <AuAlert @icon="info-circle" @size="small">
        <p>Voor de bestuurseenheid
          {{@model.bestuurseenheid.classificatie.label}}
          {{@model.bestuurseenheid.naam}}
          moeten er geen leidinggevende functies bijgehouden worden.</p>
      </AuAlert>
    </div>
  {{else}}
    {{#each @model.bestuursfunctie as |bestuursfunctie|}}
      <Leidinggevenden::BestuursfunctieCard
        @bestuursfunctie={{bestuursfunctie}}
      />
    {{/each}}
  {{/if}}
</div>