<AuToolbar @border="bottom" @size="large" as |Group|>
  <Group>
    <AuHeading @skin="2">Mandaat
      <AuLink
        @route="mandatarissen.persoon"
        @model={{this.persoon.id}}
      >{{this.persoon.gebruikteVoornaam}}
        {{this.persoon.achternaam}}</AuLink>
      <br />
      {{this.bestuursorganenTitle}}
    </AuHeading>
  </Group>
</AuToolbar>

<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box">
    <Mandatarissen::MandatarisCard
      @mandataris={{@model.mandataris}}
      @vervangers={{@model.vervangers}}
    />
  </div>

  <div class="au-o-box">
    <Mandatarissen::MandatarisEditPrompt
      class="au-c-collapsible au-u-margin-top-small"
      @mandataris={{@model.mandataris}}
      @bestuursorganen={{@model.bestuursorganen}}
      @mandatarisEditForm={{@model.mandatarisEditForm}}
      @onMandatarisChanged={{this.onMandatarisChanged}}
    />
  </div>

  <div class="au-o-box">
    <AuHeading @level="3" @skin="4">
      Historiek
    </AuHeading>

    <AuHr />

    <ul class="au-c-list-vertical">
      <Mandatarissen::History
        @mandataris={{@model.mandataris}}
        @mandatarissen={{@model.mandatarissen}}
        @form={{@model.mandatarisEditForm}}
      />
    </ul>
  </div>
</div>