<AuToolbar @border="bottom" @size="large" as |Group|>
  <Group>
    <AuHeading @skin="2">Bewerk mandaat<br /><strong
      >{{@model.mandataris.isBestuurlijkeAliasVan.gebruikteVoornaam}}
        {{@model.mandataris.isBestuurlijkeAliasVan.achternaam}}</strong></AuHeading>
  </Group>
</AuToolbar>

<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box">
    <Mandatarissen::MandatarisCard
      @mandataris={{@model.mandataris}}
      @edit={{this.edit}}
      @editing={{this.editing}}
    />
  </div>

  {{#if this.editing}}
    <div class="au-o-box">
      <Mandatarissen::MandatarisEditPrompt
        class="au-c-collapsible au-u-margin-top-small"
        @mandataris={{@model.mandataris}}
        @mandatarisEindeEditForm={{@model.mandatarisEindeEditForm}}
        @mandatarisEditForm={{@model.mandatarisEditForm}}
      />
    </div>
  {{/if}}

  <div class="au-o-box">
    <Tmp::Todo>
      Add history here.
    </Tmp::Todo>
  </div>
</div>