<AuMainContainer as |main|>
  <main.sidebar>
    <div class="au-c-sidebar">
      <div class="au-c-sidebar__header au-u-margin-top-small">
        <AuHeading @level="3" @skin="3">Filters</AuHeading>
      </div>
      <div class="au-c-sidebar__content au-o-box">
        <form class="au-o-grid au-o-grid--small">
          <div class="au-o-grid__item au-u-1-2 au-u-1-1@medium">
            <div class="au-c-label">Bestuursperiode</div>
            <PowerSelect
              @renderInPlace={{true}}
              @selected={{this.model.selectedPeriod}}
              @options={{this.model.allBestuursperiodes}}
              class="is-optional"
              @onChange={{this.selectPeriod}}
              @searchEnabled={{false}}
              @noMatchesMessage="Geen bestuursperioden"
              as |period|
            >
              {{period.label}}
            </PowerSelect>
          </div>
          <div class="au-o-grid__item au-u-1-2 au-u-1-1@medium">
            <div class="au-c-label">Persoon</div>
            <AuInput
              value={{this.searchData}}
              @width="block"
              placeholder="Zoek een persoon"
              {{on "input" (perform this.search value="target.value")}}
            />
          </div>
          <div class="au-o-grid__item au-u-1-2 au-u-1-1@medium">
            <div class="au-c-label">Mandaat</div>
            <PowerSelectMultiple
              @allowClear={{true}}
              @placeholder="Kies een of meerdere mandaten"
              @selected={{this.selectedBestuursfuncties}}
              @options={{this.model.bestuursfuncties}}
              @onChange={{this.updateFilterWithBestuursfunctie}}
              @noMatchesMessage="Geen resultaten"
              as |functie|
            >
              {{functie.label}}
            </PowerSelectMultiple>
          </div>
          <div class="au-o-grid__item au-u-1-2 au-u-1-1@medium">
            <div class="au-c-label">Fractie</div>
            <PowerSelectMultiple
              @allowClear={{true}}
              @placeholder="Kies een of meerdere fracties"
              @selected={{this.selectedFracties}}
              @options={{this.model.fracties}}
              @onChange={{this.updateFilterWithFractie}}
              @noMatchesMessage="Geen resultaten"
              as |fractie|
            >
              {{fractie.naam}}
            </PowerSelectMultiple>
          </div>
          <div class="au-o-grid__item au-u-1-2 au-u-1-1@medium">
            <div class="au-c-label">Status</div>
            <AuToggleSwitch
              @alignment="left"
              @identifier="filterActiveMandatarissen"
              @checked={{this.activeMandatarissen}}
              @onChange={{this.filterActiveMandatarissen}}
            >Enkel actieve mandatarissen</AuToggleSwitch>
          </div>
          <div class="au-o-grid__item">
            <AuButton
              @skin="naked"
              @icon="x"
              @iconAlignment="left"
              {{on "click" this.clearFilters}}
            >
              Herstel alle filters
            </AuButton>
          </div>
        </form>
      </div>
    </div>
  </main.sidebar>
  <main.content>
    <AuBodyContainer id="content" class="mandataris-search-content">
      <AuToolbar @size="large" @nowrap="true" as |Group|>
        <Group>
          <AuHeading @skin="2">Mandatarissen</AuHeading>
        </Group>
        <Group>
          <DownloadMandatarissenFromTable
            @bestuursperiode={{@model.selectedPeriod}}
            @activeOnly={{this.activeMandatarissen}}
            @personen={{@model.personen}}
            @fracties={{this.selectedFracties}}
            @bestuursFunctieCodes={{this.selectedBestuursfuncties}}
            @sort={{this.sort}}
            @skin="button-secondary"
          />
          <Shared::Tooltip
            @showTooltip={{true}}
            @tooltipText="Hier kan je historische gegevens van mandatarissen importeren."
          >
            <AuLink @route="mandatarissen.upload" @skin="button">
              Importeer historiek
            </AuLink>
          </Shared::Tooltip>
        </Group>
      </AuToolbar>
      <Mandatarissen::PersoonTable
        @content={{@model.personenWithMandatarissen}}
        @sort={{this.sort}}
        @page={{@model.page.number}}
        @size={{@model.page.size}}
      />
    </AuBodyContainer>
  </main.content>
</AuMainContainer>