{{breadcrumb
  this.model.mandataris.bekleedt.bestuursfunctie.label
  route="mandatarissen.persoon.mandataris"
  model=this.model.mandataris.id
}}

<div class="au-u-flex au-u-flex--row au-u-flex--between au-o-box">
  <div>
    <p class="au-u-h1">
      {{this.bestuursorganenTitle}}
    </p>
    <AuLink @route="mandatarissen.persoon" @model={{this.persoon.id}}>
      <p class="au-u-h3">
        {{this.persoon.gebruikteVoornaam}}
        {{this.persoon.achternaam}}
      </p>
    </AuLink>
  </div>
  <AuButtonGroup class="au-u-flex au-u-flex--end au-u-flex-self-start">
    <AuButton
      @disabled={{not this.model.mandataris.isActive}}
      {{on "click" (fn (mut this.isChanging) true)}}
    >Wijzig huidig mandaat</AuButton>
    <AuButton
      @skin="secondary"
      {{on "click" (fn (mut this.isCorrecting) true)}}
    >Corrigeer fouten</AuButton>
  </AuButtonGroup>
</div>

<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box">
    <Mandatarissen::MandatarisCard
      @mandataris={{@model.mandataris}}
      @vervangers={{@model.vervangers}}
      @bestuursperiode={{@model.selectedBestuursperiode}}
    />
  </div>

  <div class="au-o-box">
    <Mandatarissen::MandatarisExtraInfoCard
      @mandataris={{@model.mandataris}}
      @form={{@model.mandatarisExtraInfoForm}}
    />
  </div>

  <div class="au-o-box">
    <Mandatarissen::MandatarisEditPrompt
      class="au-c-collapsible au-u-margin-top-small"
      @mandataris={{@model.mandataris}}
      @bestuursorganen={{@model.bestuursorganen}}
      @mandatarisEditForm={{@model.mandatarisEditForm}}
      @onMandatarisChanged={{this.onMandatarisChanged}}
    />
  </div>

  <div class="au-o-box">
    <AuHeading @level="3" @skin="4">
      Historiek
    </AuHeading>

    <AuHr />

    <ul class="au-c-list-vertical">
      <Mandatarissen::History
        @mandataris={{@model.mandataris}}
        @mandatarissen={{@model.mandatarissen}}
        @form={{@model.mandatarisEditForm}}
      />
    </ul>
  </div>
</div>

<AuModal
  @title={{(concat
    "Verander Status " this.model.mandataris.bekleedt.bestuursfunctie.label
  )}}
  @modalOpen={{this.isChanging}}
  @closable={{true}}
  @closeModal={{this.closeModals}}
>
  <Mandatarissen::UpdateState
    @noTitle={{true}}
    @onCancel={{this.closeModals}}
    @onStateChanged={{this.onUpdateState}}
    @mandataris={{this.model.mandataris}}
  />
</AuModal>

<AuModal
  @title={{(concat
    "Corrigeer fouten " this.model.mandataris.bekleedt.bestuursfunctie.label
  )}}
  @modalOpen={{this.isCorrecting}}
  @closable={{true}}
  @closeModal={{this.closeModals}}
>
  <div class="au-o-box">
    <Form::Instance
      @instanceId={{this.model.mandataris.id}}
      @form={{this.model.mandatarisEditForm}}
      @onSave={{this.onSave}}
      @onCancel={{this.closeModals}}
      @buildMetaTtl={{this.buildMetaTtl}}
    />
  </div>
</AuModal>