{{breadcrumb "Mandaten" route="mandatarissen.persoon.mandaten"}}
<AuToolbar
  @size="large"
  class="au-u-padding-bottom-none au-u-margin-bottom-none"
  as |Group|
>
  <Group class="au-u-margin-bottom-none">
    <AuHeading @skin="2">
      Mandaten
    </AuHeading>
  </Group>
  <Group>
    <Shared::Tooltip
      @showTooltip={{not this.model.hasActiveMandatarissen}}
      @tooltipText="Geen actieve mandatarissen gevonden"
    >
      <AuButton
        @loading={{this.endActiveMandaten.isRunning}}
        @loadingMessage="Beëindigen"
        @disabled={{not this.model.hasActiveMandatarissen}}
        {{on "click" (fn (mut this.isEndMandatesModalOpen) true)}}
      >
        Beëindig mandaten
      </AuButton>
    </Shared::Tooltip>
    <Shared::Tooltip
      @showTooltip={{not this.canBecomeOnafhankelijk}}
      @tooltipText={{this.toolTipText}}
    >
      <AuButton
        skin="secondary"
        @loading={{or
          this.checkFracties.isRunning
          this.becomeOnafhankelijk.isRunning
        }}
        @loadingMessage="Onafhankelijk worden"
        @disabled={{not this.canBecomeOnafhankelijk}}
        {{on "click" (perform this.becomeOnafhankelijk)}}
      >
        Onafhankelijk worden
      </AuButton>
    </Shared::Tooltip>
    <AuButton {{on "click" this.toggleModal}}>
      Voeg nieuw mandaat toe
    </AuButton>
  </Group>
</AuToolbar>
<AuHeading @skin="3" class="au-u-regular au-u-padding-left">
  {{@model.persoon.naam}}
</AuHeading>

<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-u-regular au-u-padding">
    <AuToggleSwitch
      @checked={{this.activeOnly}}
      @onChange={{this.toggleActiveOnly}}
    >Verberg niet actieve posities</AuToggleSwitch>

  </div>

  {{#if this.checkFracties.isRunning}}
    <Skeleton::Table @columns={{6}} @rows={{@model.mandatarissen.length}} />
  {{else}}
    <AuDataTable
      @content={{@model.mandatarissen}}
      @noDataMessage="Geen mandaten gevonden"
      @page={{this.page}}
      @size={{this.size}}
      @sort={{this.sort}}
      as |t|
    >
      <t.content as |c|>
        <c.header>
          <AuDataTableThSortable
            @field="bekleedt.bevatIn.isTijdsspecialisatieVan.naam"
            @currentSorting={{this.sort}}
            @label="Orgaan"
          />
          <AuDataTableThSortable
            @field="bekleedt.bestuursfunctie.label"
            @currentSorting={{this.sort}}
            @label="Mandaat"
          />
          <AuDataTableThSortable
            @field="heeftLidmaatschap.binnenFractie.naam"
            @currentSorting={{this.sort}}
            @label="Fractie"
          />
          <AuDataTableThSortable
            @field="start"
            @currentSorting={{this.sort}}
            @label="Start mandaat"
          />
          <AuDataTableThSortable
            @field="einde"
            @currentSorting={{this.sort}}
            @label="Einde mandaat"
          />
          <th>
            Status
          </th>
          <th>
            Publicatie Status
          </th>
        </c.header>

        <c.body as |row|>
          <td>
            {{#each row.mandataris.bekleedt.bevatIn as |orgaan index|}}
              <LinkTo
                @route="organen.orgaan.mandatarissen"
                @model={{orgaan.isTijdsspecialisatieVan.id}}
                class="au-c-link"
              >
                {{orgaan.isTijdsspecialisatieVan.naam}}{{if
                  (lt index (sub row.mandataris.bekleedt.bevatIn.length 1))
                  ", "
                  ""
                }}
              </LinkTo>
            {{/each}}
          </td>
          <td><LinkTo
              @route="mandatarissen.persoon.mandataris"
              @models={{array
                row.mandataris.isBestuurlijkeAliasVan.id
                row.mandataris.id
              }}
              class="au-c-link"
            >
              {{row.mandataris.bekleedt.bestuursfunctie.label}}
            </LinkTo>
          </td>
          <td>
            <Mandaat::FoldedFracties
              @persoon={{row.mandataris.isBestuurlijkeAliasVan}}
              @mandaat={{row.mandataris.bekleedt}}
            />
          </td>
          <td class={{if (is-in-past row.foldedEnd) "au-u-muted"}}>
            {{moment-format row.foldedStart "DD-MM-YYYY"}}
          </td>
          <td class={{if (is-in-past row.foldedEnd) "au-u-muted"}}>
            {{moment-format row.foldedEnd "DD-MM-YYYY"}}
          </td>
          <td>
            <Mandaat::MandatarisStatusPill @mandataris={{row.mandataris}} />
          </td>
          <td>
            <Mandaat::PublicatieStatusPill @mandataris={{row.mandataris}} />
          </td>
        </c.body>
      </t.content>
    </AuDataTable>
  {{/if}}
</div>

<AuModal
  @title="Selecteer orgaan"
  @modalOpen={{this.isModalOpen}}
  @closeModal={{this.closeModal}}
  as |Modal|
>
  <Modal.Body>
    <AuContent class="au-u-margin-bottom-small">
      Selecteer een orgaan waaraan je een mandaat wilt toevoegen.
    </AuContent>
    <PowerSelect
      @allowClear={{false}}
      @renderInPlace={{false}}
      @searchEnabled={{true}}
      @noMatchesMessage="Geen resultaten gevonden"
      @searchMessage="Typ om een orgaan te zoeken"
      @options={{@model.bestuursorganen}}
      @selected={{this.selectedBestuursorgaan}}
      @onChange={{fn (mut this.selectedBestuursorgaan)}}
      @searchField="naam"
      @placeholder="Selecteer een orgaan"
      as |select|
    >
      {{select.naam}}
    </PowerSelect>

  </Modal.Body>
  <Modal.Footer>
    <AuToolbar as |Group|>
      <Group>
        <AuButton
          @disabled={{not this.selectedBestuursorgaan}}
          {{on "click" this.createMandataris}}
        >
          Voeg nieuw mandaat toe
        </AuButton>
        <AuButton @skin="secondary" {{on "click" this.closeModal}}>
          Annuleer
        </AuButton>
      </Group>
    </AuToolbar>
  </Modal.Footer>
</AuModal>

<AuModal
  @title="Beëindig actieve mandaten"
  @modalOpen={{this.isEndMandatesModalOpen}}
  @closeModal={{this.closeModal}}
  as |Modal|
>
  <Modal.Body>
    <AuContent class="au-u-margin-bottom-small">
      Door verder te gaan, worden de einddatums van de actieve mandatarissen van
      deze persoon aangepast naar vandaag, waardoor deze mandaten beëindigd
      worden.
    </AuContent>
  </Modal.Body>
  <Modal.Footer>
    <AuToolbar as |Group|>
      <Group>
        <AuButton
          @loading={{this.endActiveMandaten.isRunning}}
          @loadingMessage="Actieve mandaten worden beëindigd"
          {{on "click" (perform this.endActiveMandaten)}}
        >
          Beëindig mandatarissen
        </AuButton>
        <AuButton @skin="secondary" {{on "click" this.closeModal}}>
          Annuleer
        </AuButton>
      </Group>
    </AuToolbar>
  </Modal.Footer>
</AuModal>