{{breadcrumb "Mandaten" route="mandatarissen.persoon.mandaten"}}
<AuToolbar
  @size="large"
  class="au-u-padding-bottom-none au-u-margin-bottom-none"
  as |Group|
>
  <Group class="au-u-margin-bottom-none">
    <AuHeading @skin="2">
      Mandaten
    </AuHeading>
  </Group>
  <Group>
    <AuButton {{on "click" this.toggleModal}}>
      Voeg nieuw mandaat toe
    </AuButton>
  </Group>
</AuToolbar>
<AuHeading @skin="3" class="au-u-regular au-u-padding-left">
  {{@model.persoon.naam}}
</AuHeading>

<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-u-regular au-u-padding">
    <AuToggleSwitch
      @checked={{this.activeOnly}}
      @onChange={{this.toggleActiveOnly}}
    >Verberg niet actieve posities</AuToggleSwitch>

  </div>

  <AuDataTable
    @content={{@model.mandatarissen}}
    @noDataMessage="Geen mandaten gevonden"
    @sort={{this.sort}}
    @page={{this.page}}
    @size={{this.size}}
    as |t|
  >
    <t.content as |c|>
      <c.header>
        <AuDataTableThSortable
          @field="bekleedt.bevatIn.isTijdsspecialisatieVan.naam"
          @currentSorting={{this.sort}}
          @label="Bestuursorgaan"
        />
        <AuDataTableThSortable
          @field="bekleedt.bestuursfunctie.label"
          @currentSorting={{this.sort}}
          @label="Mandaat"
        />
        <AuDataTableThSortable
          @field="heeftLidmaatschap.binnenFractie.naam"
          @currentSorting={{this.sort}}
          @label="Fractie"
        />
        <AuDataTableThSortable
          @field="start"
          @currentSorting={{this.sort}}
          @label="Start mandaat"
        />
        <AuDataTableThSortable
          @field="einde"
          @currentSorting={{this.sort}}
          @label="Einde mandaat"
        />
        <th>
          Publicatie Status
        </th>
      </c.header>

      <c.body as |row|>
        <td>
          {{#each row.mandataris.bekleedt.bevatIn as |orgaan index|}}
            <LinkTo
              @route="organen.orgaan"
              @model={{orgaan.isTijdsspecialisatieVan.id}}
              class="au-c-link"
            >
              {{orgaan.isTijdsspecialisatieVan.naam}}{{if
                (lt index (sub row.mandataris.bekleedt.bevatIn.length 1))
                ", "
                ""
              }}
            </LinkTo>
          {{/each}}
        </td>
        <td><LinkTo
            @route="mandatarissen.persoon.mandataris"
            @models={{array
              row.mandataris.isBestuurlijkeAliasVan.id
              row.mandataris.id
            }}
            class="au-c-link"
          >
            {{row.mandataris.bekleedt.bestuursfunctie.label}}
          </LinkTo>
        </td>
        <td>
          <Mandaat::FoldedFracties
            @persoon={{row.mandataris.isBestuurlijkeAliasVan}}
            @mandaat={{row.mandataris.bekleedt}}
          />
        </td>
        <td>
          {{moment-format row.foldedStart "DD-MM-YYYY"}}
        </td>
        <td>
          {{moment-format row.foldedEnd "DD-MM-YYYY"}}
        </td>
        <td>
          <AuPill
            @skin={{if
              (or
                (not row.mandataris.publicationStatus.label)
                (eq row.mandataris.publicationStatus.label "Bekrachtigd")
              )
              "success"
              "default"
            }}
            @draft={{false}}
            @size="regular"
            @iconAlignment="left"
            @hideText={{false}}
          >
            {{or row.mandataris.publicationStatus.label "Bekrachtigd"}}
          </AuPill>
        </td>
      </c.body>
    </t.content>
  </AuDataTable>
</div>

<AuModal
  @title="Selecteer bestuursorgaan"
  @modalOpen={{this.isModalOpen}}
  @closeModal={{this.closeModal}}
  as |Modal|
>
  <Modal.Body>
    <AuContent class="au-u-margin-bottom-small">
      Selecteer een bestuursorgaan waaraan je een mandaat wilt toevoegen.
    </AuContent>
    <PowerSelect
      @allowClear={{false}}
      @renderInPlace={{false}}
      @searchEnabled={{true}}
      @noMatchesMessage={{"Geen resultaten gevonden"}}
      @searchMessage={{"Typ om een bestuursorgaan te zoeken"}}
      @options={{@model.bestuursorganen}}
      @selected={{this.selectedBestuursorgaan}}
      @onChange={{fn (mut this.selectedBestuursorgaan)}}
      @searchField="naam"
      @placeholder="Selecteer een bestuursorgaan"
      as |select|
    >
      {{select.naam}}
    </PowerSelect>

  </Modal.Body>
  <Modal.Footer>
    <AuToolbar as |Group|>
      <Group>
        <AuButton
          @disabled={{not this.selectedBestuursorgaan}}
          {{on "click" this.createMandataris}}
        >
          Voeg nieuw mandaat toe
        </AuButton>
        <AuButton @skin="secondary" {{on "click" this.closeModal}}>
          Annuleer
        </AuButton>
      </Group>
    </AuToolbar>
  </Modal.Footer>
</AuModal>