{{breadcrumb
  this.model.mandataris.bekleedt.bestuursfunctie.label
  route="mandatarissen.persoon.mandataris"
  model=this.model.mandataris.id
}}

<div class="au-o-grid au-u-padding">
  <div class="au-o-grid__item au-u-1-2">
    <p class="au-u-h2 au-u-medium">
      {{this.bestuursorganenTitle}}
    </p>
    <p class="au-u-h3">
      {{this.persoon.gebruikteVoornaam}}
      {{this.persoon.achternaam}}
    </p>
  </div>
  <div class="au-o-grid__item au-u-1-2 au-u-text-left">
    <div
      class="au-u-flex au-u-flex--end au-u-margin-bottom"
      {{did-insert (perform this.canEditAndCorrect)}}
    >
      <AuButton
        class="au-u-margin-right-small"
        @disabled={{(or
          (not this.model.mandataris.isActive) this.isInTeBehandelenLegislatuur
        )}}
        {{on "click" (fn (mut this.isChanging) true)}}
      >Wijzig huidig mandaat</AuButton>
      <AuButton
        @alert={{true}}
        @skin="secondary"
        @disabled={{this.isInTeBehandelenLegislatuur}}
        {{on "click" (fn (mut this.isCorrecting) true)}}
      >Corrigeer fouten</AuButton>
    </div>
    <AuAlert
      @skin="info"
      @icon="info-circle"
      class="alert-grey-info-circle-icon"
    >
      Om een mandaat te bewerken, zoals een fractiewijziging, kies voor
      <span class="au-u-medium">Wijzig huidig mandaat</span>. Dit zal een nieuw
      mandaat starten met de gewijzigde situatie.
      <br />
      Om fouten te corrigeren, bijvoorbeeld een typefout of een foutieve
      startdatum, kies voor
      <span class="au-u-medium">Corrigeer fouten</span>.
    </AuAlert>
  </div>
</div>

<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box">
    <Mandatarissen::MandatarisCard
      @mandataris={{@model.mandataris}}
      @bestuursperiode={{@model.selectedBestuursperiode}}
    />
  </div>

  <div class="au-o-box">
    <Mandatarissen::MandatarisExtraInfoCard
      @mandataris={{@model.mandataris}}
      @form={{@model.mandatarisExtraInfoForm}}
      @canEdit={{not this.isInTeBehandelenLegislatuur}}
    />
  </div>

  <div class="au-o-box">
    <AuHeading @level="3" @skin="4">
      Historiek
    </AuHeading>

    <AuHr />

    <ul class="au-c-list-vertical">
      <Mandatarissen::History
        @mandataris={{@model.mandataris}}
        @mandatarissen={{@model.mandatarissen}}
        @form={{@model.mandatarisEditForm}}
      />
    </ul>
  </div>
</div>

<AuModal
  @title={{(concat
    "Verander Status " this.model.mandataris.bekleedt.bestuursfunctie.label
  )}}
  @modalOpen={{this.isChanging}}
  @closable={{true}}
  @closeModal={{this.closeModals}}
>
  <Mandatarissen::UpdateState
    @noTitle={{true}}
    @onCancel={{this.closeModals}}
    @onStateChanged={{this.onUpdateState}}
    @mandataris={{this.model.mandataris}}
  />
</AuModal>

<AuModal
  @title={{(concat
    "Corrigeer fouten " this.model.mandataris.bekleedt.bestuursfunctie.label
  )}}
  @modalOpen={{this.isCorrecting}}
  @closable={{true}}
  @closeModal={{this.closeModals}}
>
  <div class="au-o-box">
    <Form::Instance
      @instanceId={{this.model.mandataris.id}}
      @form={{this.model.mandatarisEditForm}}
      @onSave={{this.onSave}}
      @onCancel={{this.closeModals}}
      @buildMetaTtl={{this.buildMetaTtl}}
    />
  </div>
</AuModal>