{{breadcrumb
  this.model.mandataris.bekleedt.bestuursfunctie.label
  route="mandatarissen.persoon.mandataris"
  model=this.model.mandataris.id
}}

<div class="au-o-grid au-u-padding">
  <div class="au-o-grid__item au-u-1-2">
    <p class="au-u-h2 au-u-medium">
      {{this.bestuursorganenTitle}}
    </p>
    <p class="au-u-h3">
      {{this.persoon.gebruikteVoornaam}}
      {{this.persoon.achternaam}}
    </p>
  </div>
  <div class="au-o-grid__item au-u-1-2 au-u-text-left au-u-flex--wrap">
    <div class="au-u-flex au-u-flex--end au-u-margin-bottom">
      {{#if this.notOwnedByUs}}
        <AuAlert @skin="info" @icon="eye" @closable={{false}}>
          <div class="au-u-flex au-u-flex--spaced-tiny">
            <span>Beheerd door:</span>
            <Mandaat::OwnershipTags @owners={{this.model.owners}} />
          </div>
          <p>Je kan deze mandataris niet bewerken.</p>
        </AuAlert>
      {{else}}
        <AuButtonGroup>
          <Shared::Tooltip
            @showTooltip={{this.isDisabledBecauseLegislatuur}}
            @tooltipText={{this.toolTipText}}
          >
            <AuButton
              @disabled={{this.isDisabledBecauseLegislatuur}}
              {{on "click" this.openWizard}}
            >Bewerk mandaat</AuButton>
          </Shared::Tooltip>
          <Shared::Tooltip
            @showTooltip={{not this.model.mandataris.isApprovedForDeletion}}
            @tooltipText="Mandatarissen die bekrachtigd zijn kunnen niet verwijderd worden."
          >
            <AuButton
              @disabled={{not this.model.mandataris.isApprovedForDeletion}}
              @skin="secondary"
              @icon="bin"
              @alert={{true}}
              {{on "click" (fn (mut this.isDeleteModalOpen) true)}}
            >Verwijder</AuButton>
          </Shared::Tooltip>
        </AuButtonGroup>
      {{/if}}

    </div>

  </div>
</div>
<div
  class="au-c-body-container au-c-body-container--scroll au-u-padding-top-none"
>
  <ValidatieTable
    @instance={{@model.mandataris}}
    class="au-u-margin-bottom-none"
  />

  <div class="au-o-box au-u-padding-top-none">
    <Mandatarissen::MandatarisCard
      @mandataris={{@model.mandataris}}
      @legislatuurInBehandeling={{this.isDisabledBecauseLegislatuur}}
      @effectiefIsLastPublicationStatus={{this.model.effectiefIsLastPublicationStatus}}
      @canEdit={{not this.notOwnedByUs}}
      @hidePublicationStatus={{this.model.isPublicationStatusHidden}}
      @isFractieHidden={{@model.isFractieHidden}}
    />
  </div>

  <div class="au-o-box">
    <ExtraInfoForm
      @model={{@model.mandataris}}
      @form={{@model.mandatarisExtraInfoForm}}
      @modalTitle="Bewerk bijkomende info mandataris"
      @canEdit={{true}}
    />
  </div>

  <Mandatarissen::Timeline
    @mandataris={{@model.mandataris}}
    @mandatarissen={{@model.mandatarissen}}
    @history={{@model.history}}
  />

</div>

{{#if this.isEditModalOpen}}
  <Mandataris::Edit::Wizard
    @closeWizard={{this.closeWizard}}
    @bestuurseenheid={{@model.bestuurseenheid}}
    @bestuursorgaanIT={{get @model.bestuursorganen 0}}
    @mandataris={{@model.mandataris}}
    @mandatarisFormValues={{this.mandatarisFormValues}}
    @isFractieRequired={{this.model.isFractieRequired}}
    @showOCMWLinkedMandatarisWarning={{this.showOCMWLinkedMandatarisWarning}}
    @onFinish={{this.checkIfShouldOpenRangordeModal}}
  />
{{/if}}

{{#if this.isRangordeModalOpen}}
  <AuModal
    @modalOpen={{this.isRangordeModalOpen}}
    @closable={{true}}
    @closeModal={{fn (mut this.isRangordeModalOpen) false}}
  >
    <:title>Rangorde vervanger</:title>
    <:body>
      <p>
        U heeft een mandataris die een rangorde heeft, verhinderd. Deze rangorde
        kan niet automatisch overgenomen worden in de vervanger. Het toewijzen
        van een rangorde kan namelijk gevolgen hebben op de rangorde van andere
        mandatarissen. Wenst u dit nu aan te passen? Het is ook mogelijk dit op
        een later tijdstip aan te passen via de "wijzig rangorde" functie in het
        bestuursorgaan.
      </p>
    </:body>
    <:footer>
      <AuToolbar as |Group|>
        <Group>
          <AuLink
            @skin="button"
            @route="organen.orgaan.edit-rangorde"
            @model={{this.model.firstBestuursorgaanInTijd.isTijdsspecialisatieVan.id}}
            @query={{hash
              bestuursperiode=this.model.firstBestuursorgaanInTijd.heeftBestuursperiode.id
            }}
          >
            Ja
          </AuLink>
          <AuButton
            @skin="secondary"
            {{on "click" this.navigateToNewMandataris}}
          >Nee</AuButton>
        </Group>
      </AuToolbar>
    </:footer>
  </AuModal>{{/if}}

<Mandatarissen::DeleteModal
  @isOpen={{this.isDeleteModalOpen}}
  @onClose={{fn (mut this.isDeleteModalOpen) false}}
  @mandataris={{this.model.mandataris}}
  @linkedMandatarisCanBeDeleted={{and
    this.model.linkedMandataris.hasDouble
    this.model.bestuurseenheid.isGemeente
  }}
  @linkedMandataris={{this.model.linkedMandataris}}
/>