{{page-title "Detail"}}
{{breadcrumb
  this.model.codelijst.label
  route="codelijsten.detail"
  model=this.model.codelijst.id
}}

<AuToolbar @size="large" @border="bottom" class="au-u-margin-bottom" as |Group|>
  <Group>
    <AuHeading @skin="2">{{this.title}}</AuHeading>
  </Group>
  <Group>
    <AuButtonGroup>
      {{#unless this.model.codelijst.isReadOnly}}
        <AuButton
          @skin="secondary"
          @alert={{true}}
          {{on "click" (fn (mut this.isDeleteModalOpen) true)}}
        >Verwijder</AuButton>
      {{/unless}}
      <AuButton
        @skin="secondary"
        {{on "click" this.onCancel}}
      >Annuleer</AuButton>
      {{#unless this.model.codelijst.isReadOnly}}

        <Shared::Tooltip
          @showTooltip={{not this.hasChanges}}
          @alignment="right"
          @tooltipText="De huidige status van de codelijst kan niet worden opgeslagen."
        >
          <AuButton
            @disabled={{not this.hasChanges}}
            @skin="primary"
            @loading={{this.isSaving}}
            @loadingMessage="Codelijst aan het opslagen"
            {{on "click" this.updateCodelist}}
          >Opslaan</AuButton>
        </Shared::Tooltip>
      {{/unless}}
    </AuButtonGroup>
  </Group>
</AuToolbar>
{{#unless this.isSaving}}
  <Codelijst::InstanceTable
    @isEditable={{not this.model.codelijst.isReadOnly}}
    @codelijst={{this.model.codelijst}}
    @concepten={{this.model.concepten}}
    @showTotalConcepts={{true}}
    @onConceptChanged={{this.checkIsCodelistChanged}}
    @onCodelistNameUpdated={{this.onCodelistNameUpdated}}
  />
{{/unless}}

<AuModal
  @title="Verwijder codelijst"
  @modalOpen={{this.isDeleteModalOpen}}
  @closable={{true}}
  @closeModal={{fn (mut this.isDeleteModalOpen) false}}
>
  <:body>
    <p>Door verder te gaan zal de huidige codelijst met al zijn concepten
      definitief verwijderd worden.</p>
  </:body>
  <:footer>
    <AuButtonGroup
      class="au-u-flex au-u-flex--between au-u-padding-left au-u-padding-right"
    >
      <AuButton
        @alert={{true}}
        @disabled={{this.isDeleting}}
        @loading={{this.isDeleting}}
        @loadingMessage="Codelijst wordt verwijderen"
        {{on "click" this.deleteCodelist}}
      >Verwijder</AuButton>
      <AuButton
        @skin="secondary"
        {{on "click" (fn (mut this.isDeleteModalOpen) false)}}
      >Annuleer</AuButton>
    </AuButtonGroup>
  </:footer>
</AuModal>

<AuModal
  @title="Wijzigingen niet opgeslagen"
  @modalOpen={{this.isUnsavedChangesModalOpen}}
  @closable={{true}}
  @closeModal={{fn (mut this.isUnsavedChangesModalOpen) false}}
><div class="au-o-box au-o-flow">
    <div>
      Je wijzigingen zijn niet opgeslagen en gaan verloren als je verder gaat!
    </div>
    <AuToolbar class="au-u-margin-top" as |Group|>
      <Group>
        <AuButtonGroup>
          <AuButton @alert={{true}} {{on "click" this.onCancel}}>
            Verwerp aanpassingen
          </AuButton>
          <AuButton
            {{on "click" (fn (mut this.isUnsavedChangesModalOpen) false)}}
            @skin="secondary"
          >
            Annuleer
          </AuButton>
        </AuButtonGroup>
      </Group>
    </AuToolbar>
  </div>
</AuModal>