{{page-title "Codelijst"}}
{{breadcrumb
  this.model.codelijst.label
  route="codelijsten.id"
  model=this.model.codelijst.id
}}
<AuToolbar
  @size="large"
  class="au-u-padding-bottom-none au-u-margin-bottom"
  as |Group|
>
  <Group>
    <AuHeading @skin="2">{{this.model.codelijst.label}}</AuHeading>
  </Group>
  <Group>
    <AuButtonGroup>
      <Shared::Tooltip
        @showTooltip={{this.isReadOnly}}
        @alignment="right"
        @tooltipText="Dit is een basis codelijst die niet verwijderd mag worden."
      >
        <AuButton
          @disabled={{and this.isReadOnly this.isDeleting}}
          @skin="secondary"
          @alert={{true}}
          @loading={{this.isDeleting}}
          @loadingMessage="Codelijst aan het verwijderen"
          {{on "click" this.deleteCodelist}}
        >Verwijder</AuButton>
      </Shared::Tooltip>
    </AuButtonGroup>
  </Group>
</AuToolbar>
<div class="no-pagination au-c-body-container au-c-body-container--scroll">
  <div
    class="au-u-flex au-u-flex--end au-u-margin-bottom-small au-u-margin-right"
  >
    <AuHelpText @skin="secondary" @size="large">
      Aantal:
      {{this.model.concepten.length}}
    </AuHelpText>
  </div>
  <AuDataTable
    @content={{this.model.concepten}}
    @noDataMessage="Geen codelijsten gevonden"
    @page={{0}}
    @sort={{this.sort}}
    @size={{9999}}
    as |t|
  >
    <t.content as |c|>
      <c.header>
        <AuDataTableThSortable
          @field="label"
          @currentSorting={{this.sort}}
          @label="Naam"
        />
        <AuDataTableThSortable
          @field="id"
          @currentSorting={{this.sort}}
          @label="Id"
        />
      </c.header>
      <c.body as |concept|>
        <td>
          {{concept.label}}
        </td>
        <td>{{concept.id}}</td>
      </c.body>
    </t.content>
  </AuDataTable>
</div>