<AuMainContainer as |main|>
  <main.sidebar>
    <div class="au-c-sidebar">
      <div class="au-c-sidebar__content">
        <Shared::MainMenu />
      </div>
      <div class="au-c-sidebar__footer">
        <AuLinkExternal
          href="https://www.vlaanderen.be/lokaal-bestuur/loket-voor-lokale-besturen/mandatenbeheer-lokale-besturen"
          @skin="secondary"
        >
          <AuIcon @icon="link" @alignment="left" />
          Meer info
        </AuLinkExternal>
        <AuLinkExternal
          href="https://abb-vlaanderen.gitbook.io/handleiding-lokaal-mandatenbeheer/"
          @skin="secondary"
        >
          <AuIcon @icon="documents" @alignment="left" />
          Bekijk handleiding
        </AuLinkExternal>
      </div>
    </div>
  </main.sidebar>
  <main.content>
    <AuBodyContainer>
      <div class="au-c-body-container au-c-body-container--scroll">
        <div class="au-o-box">
          <AuContent class="au-u-margin-bottom">
            <AuHeading
              @skin="2"
            >{{this.prefixBestuurseenheidLabel}}{{this.bestuurseenheidLabel}}</AuHeading>
            <p>
              Als administrator zijn er een aantal functionaliteiten die niet
              voor de gewone bestuurseenheden zichtbaar zijn, een overzicht vind
              je hieronder.
            </p>
          </AuContent>
          <AuHeading @level="2" @skin="3" class="au-u-margin-bottom">Beschikbare
            modules</AuHeading>
          <ul class="au-o-grid au-o-grid--small">
            <li class="au-o-grid__item au-u-1-2@medium au-u-1-3@large">
              <LoketModuleCard @icon="settings">
                <:title>Login als een bestuurseenheid</:title>
                <:description>Als administrator heb je de mogelijkheid om als
                  eender welk bestuurseenheid in te loggen. Dit doe je door op
                  "Wissel van bestuurseenheid" te klikken waarop je de
                  mogelijkheid krijgt om een andere bestuurseenheid te
                  selecteren. Om de simulatie stop te zetten klik je op de
                  bijkomende knop "Simulatie stoppen".</:description>
                <:link>
                  <AuLink @route="impersonate" @skin="button">Wissel van
                    bestuurseenheid</AuLink>
                </:link>
                <:action>
                  {{#if this.isImpersonating}}
                    <AuButton
                      @alert={{true}}
                      @skin="secondary"
                      {{on "click" this.stopImpersonation}}
                    >Simulatie
                      <strong>{{this.bestuurseenheidLabel}}</strong>
                      stoppen</AuButton>
                  {{/if}}
                </:action>
              </LoketModuleCard>
            </li>
            {{#unless this.isImpersonating}}
              <li class="au-o-grid__item au-u-1-2@medium au-u-1-3@large">
                <LoketModuleCard @icon="settings">
                  <:title>Systeem melding</:title>
                  <:description>Plaats een systeem melding voor al de
                    bestuurseenheden. Deze melding kan gebruikt worden om een
                    aankondiging te doen aan de gebruikers. Bijvoorbeeld met
                    betrekking tot een update van het systeem.</:description>
                  <:link>
                    <AuLink
                      @route="admin-panel.global-system-message"
                      @skin="button"
                    >Creëer een melding</AuLink>
                  </:link>
                </LoketModuleCard>
              </li>
            {{/unless}}
          </ul>
          {{#if this.isImpersonating}}
            <ul class="au-o-grid au-o-grid--small">
              <Shared::Modules />
            </ul>
          {{/if}}
        </div>
      </div>
    </AuBodyContainer>
  </main.content>
</AuMainContainer>