<AuToolbar @border="bottom" @size="large" as |Group|>
  <Group>
    <AuHeading @skin="2">Bewerk algemene contactgegevens
      {{@model.bestuursfunctie.rol.label}}
      {{@model.bestuurseenheid.naam}}</AuHeading>
  </Group>
</AuToolbar>

<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box">
    <Form::Instance
      @instanceId={{@model.info.id}}
      @form={{@model.form}}
      @onSave={{this.save}}
    />
    <Tmp::Todo>Add create/edit contact form!</Tmp::Todo>
  </div>
</div>

<AuToolbar @border="top" @size="large" as |Group|>
  <Group>
    <AuButton {{on "click" this.cancel}} @skin="secondary">Sluit</AuButton>
  </Group>
</AuToolbar>