{{page-title "Overzicht"}}

{{breadcrumb
  this.model.form.name
  route="custom-forms.instances.index"
  model=this.model.form.id
}}
{{outlet}}

<AuMainContainer as |main|>
  <main.content>
    <AuBodyContainer id="content">
      <div class="au-c-body-container au-c-body-container--scroll">
        <SemanticForms::InstanceTable
          @title={{this.model.form.name}}
          @description={{this.model.form.description}}
          @newFormRoute="custom-forms.instances.new"
          @sort={{this.sort}}
          @page={{this.page}}
          @size={{this.size}}
          @filter={{this.filter}}
          @labels={{this.model.headerLabels}}
          @showDownloadButton={{true}}
          @search={{this.search}}
          @form={{this.model.form}}
          @formDefinition={{this.model.formDefinition}}
          @onRemoveInstance={{this.onRemoveInstance}}
          @editRoute="custom-forms.instances.instance"
          @onTableLoaded={{this.onTableLoaded}}
        >
          <:extraActions>
            {{! template-lint-disable require-context-role }}
            <AuButton
              role="menuitem"
              @skin="link"
              {{on "click" (fn (mut this.isEditFormDefinitionOpen) true)}}
            >
              Bewerk formulier definitie
            </AuButton>
            <AuButton
              role="menuitem"
              @alert={{true}}
              @skin="link"
              {{on "click" this.openDeleteFormModal}}
            >Verwijder formulier</AuButton>
          </:extraActions>
        </SemanticForms::InstanceTable>
      </div>
    </AuBodyContainer>
  </main.content>
</AuMainContainer>

<AuModal
  @title="Bewerk formulier definitie"
  @modalOpen={{this.isEditFormDefinitionOpen}}
  @closable={{true}}
  @closeModal={{this.closeEditFormDefinitionModal}}
>
  <div class="au-o-box">
    <EditableForm
      @beforeSave={{this.preventSave}}
      @instanceId={{this.model.form.id}}
      @form={{this.model.form}}
      @onCancel={{this.closeEditFormDefinitionModal}}
      @onSave={{this.closeEditFormDefinitionModal}}
      @formInitialized={{fn (mut this.formInitialized) true}}
      @customHistoryMessage={{true}}
    />
    {{#unless this.formInitialized}}
      <AuLoader />
    {{/unless}}
  </div>
</AuModal>

<AuModal
  @title="Verwijder formulier"
  @modalOpen={{this.isDeleteModalOpen}}
  @closable={{true}}
  @closeModal={{fn (mut this.isDeleteModalOpen) false}}
>
  <:body>
    <p>{{this.removeFormModalText}}</p>
  </:body>
  <:footer>
    <AuButtonGroup
      class="au-u-flex au-u-flex--between au-u-padding-left au-u-padding-right"
    >
      <AuButton
        @alert={{true}}
        @disabled={{this.isDeleting}}
        @loading={{this.isDeleting}}
        @loadingMessage="Formulier en instanties worden verwijderd"
        {{on "click" this.deleteForm}}
      >Verwijder</AuButton>
      <AuButton
        @skin="secondary"
        @disabled={{this.isDeleting}}
        {{on "click" (fn (mut this.isDeleteModalOpen) false)}}
      >Annuleer</AuButton>
    </AuButtonGroup>
  </:footer>
</AuModal>

{{outlet}}