{{page-title "New"}}
{{breadcrumb
  "Nieuwe"
  " "
  this.model.form.targetLabel
  " "
  "instance"
  route="custom-forms.instances.new"
}}
<h1>FormDefinition id: {{this.model.formDefinition.id}}</h1>
<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box">
    <SemanticForms::NewInstance
      @onCreate={{this.onCreate}}
      @form={{this.model.formDefinition}}
      @onCancel={{this.onCancel}}
    />
  </div>
</div>