<AuModal
  @title={{(concat "Bekrachtig " @mandataris.bekleedt.bestuursfunctie.label)}}
  @modalOpen={{@modalOpen}}
  @closeModal={{@cancel}}
  as |Modal|
>
  <Modal.Body>
    <p>
      Bent u zeker dat u het mandaat wil bekrachtigen? Deze actie is niet
      omkeerbaar.
    </p>
  </Modal.Body>
  <Modal.Footer>
    <AuToolbar as |Group|>
      <Group>
        <AuButtonGroup>
          <AuButton {{on "click" @onBekrachtig}}>
            Bekrachtig
          </AuButton>
          <AuButton {{on "click" @cancel}} @skin="secondary">Annuleer</AuButton>
        </AuButtonGroup>
      </Group>
    </AuToolbar>
  </Modal.Footer>
</AuModal>