<div>
  <AuLabel for="fractie" @error={{@hasErrors}} @required={{@isRequired}}>
    {{this.title}}
  </AuLabel>
  {{#if this.load.isRunning}}
    <p class="skeleton-input-full au-u-margin-top"></p>
  {{else}}
    {{#if this.person}}
      <PowerSelect
        @loadingMessage="Aan het laden..."
        @noMatchesMessage="Geen resultaten"
        @searchMessage="Typ om te zoeken"
        @searchEnabled={{true}}
        @allowClear={{not @isRequired}}
        @disabled={{@disabled}}
        @placeholder="Zoek fractie"
        @searchField="naam"
        @selected={{@fractie}}
        @onChange={{this.select}}
        @onClose={{@onClose}}
        @options={{this.fractieOptions}}
        as |fractie|
      >
        {{fractie.naam}}
      </PowerSelect>
    {{else}}
      <p>Selecteer eerst een persoon</p>
    {{/if}}
  {{/if}}
</div>