<tr ...attributes>
  <td>
    {{#if @historyItem.issued}}
      {{moment-format @historyItem.issued "DD-MM-YYYY HH:mm"}}
    {{else}}
      Ongekend
    {{/if}}
  </td>
  <td>
    {{this.userName}}
  </td>
  <td>
    {{this.description}}
  </td>
  <td>
    {{#if @historyItem.selected}}
      Geselecteerde mandataris
    {{else}}
      {{#if @historyItem.mandatarisId}}
        <AuLink
          @route="mandatarissen.mandataris"
          @model={{@historyItem.mandatarisId}}
          @skin="secondary"
        >
          Ga naar deze mandataris
        </AuLink>
      {{/if}}
    {{/if}}
  </td>
</tr>