<div {{did-update this.onMandatarisUpdate @mandataris}}>
  {{#if this.fetchHistory.isRunning}}
    Loading...
  {{else}}
    <AuTable>
      <:header>
        <tr>
          <th>Veld</th>
          <th>Aangepast van</th>
          <th>Aangepast naar</th>
          <th>Aangepast door</th>
          <th>Aangepast op</th>
        </tr>
      </:header>
      <:body>
        {{#each this.history as |historyItem|}}
          <Mandatarissen::HistoryRow
            @mandataris={{historyItem.mandataris}}
            @selected={{historyItem.selected}}
            @corrections={{historyItem.corrections}}
            @toonBeleidsdomeinen={{this.toonBeleidsdomeinen}}
            @toonRangorde={{this.toonRangorde}}
          />
        {{else}}
          <tr>
            <td colspan="4">Geen aanpassingen gevonden</td>
          </tr>
        {{/each}}
      </:body>
    </AuTable>
    {{yield}}
  {{/if}}
</div>