<tr ...attributes>
  <td>veld</td>
  <td>van</td>
  <td>naar</td>
  <td>
    {{#if this.currentVersion.creator}}
      {{this.currentVersion.creator.voornaam}}
      {{this.currentVersion.creator.achternaam}}
    {{else}}
      Onbekend
    {{/if}}
  </td>
  <td>
    {{#if this.currentVersion.issued}}
      {{moment-format this.currentVersion.issued "DD-MM-YY HH:mm"}}
    {{else}}
      Onbekend
    {{/if}}
  </td>
  {{!-- <td>
    {{#if @selected}}
      Geselecteerde situatie
    {{else}}
      {{#if @mandataris.id}}
        <AuLink
          @route="mandatarissen.persoon.mandataris"
          @model={{@mandataris.id}}
          @skin="secondary"
        >
          Bekijk deze situatie
        </AuLink>
      {{/if}}
    {{/if}}
  </td> --}}
</tr>
{{!-- {{#each this.correctionVersions as |version|}}
  <tr class="au-u-para-tiny">
    <td colspan={{this.correctionColspan}}>-
      {{or version.description "Aangepast"}}</td>
    <td>{{version.creator.voornaam}} {{version.creator.achternaam}}</td>
    <td>{{moment-format version.issued "DD-MM-YY HH:mm"}}</td>
    <td></td>
  </tr>
{{/each}} --}}