<tr ...attributes>
  <td>
    {{moment-format @mandataris.start "DD-MM-YYYY"}}
  </td>
  <td>
    {{moment-format @mandataris.einde "DD-MM-YYYY"}}
  </td>
  <td>
    {{@mandataris.status.label}}
  </td>
  {{#if @toonBeleidsdomeinen}}
    <td>
      {{this.beleidsdomeinCount}}
    </td>
  {{/if}}
  {{#if @toonRangorde}}
    <td>
      {{@mandataris.rangorde}}
    </td>
  {{/if}}
  <td>
    {{@mandataris.heeftLidmaatschap.binnenFractie.naam}}
  </td>
  <td>
    {{#if this.currentVersion.creator}}
      {{this.currentVersion.creator.voornaam}}
      {{this.currentVersion.creator.achternaam}}
    {{else}}
      Onbekend
    {{/if}}
  </td>
  <td>
    {{#if this.currentVersion.issued}}
      {{moment-format this.currentVersion.issued "DD-MM-YY HH:mm"}}
    {{else}}
      Onbekend
    {{/if}}
  </td>
  <td>
    {{#if @selected}}
      Geselecteerde situatie
    {{else}}
      {{#if @mandataris.id}}
        <AuLink
          @route="mandatarissen.mandataris"
          @model={{@mandataris.id}}
          @skin="secondary"
        >
          Bekijk deze situatie
        </AuLink>
      {{/if}}
    {{/if}}
  </td>
</tr>
{{#each this.correctionVersions as |version|}}
  <tr class="au-u-para-tiny">
    <td colspan={{this.correctionColspan}}>-
      {{or version.description "Aangepast"}}</td>
    <td>{{version.creator.voornaam}} {{version.creator.achternaam}}</td>
    <td>{{moment-format version.issued "DD-MM-YY HH:mm"}}</td>
    <td></td>
  </tr>
{{/each}}