<div class="au-o-grid au-o-grid--small">
  <div class="au-o-grid__item au-u-1-3@medium">
    <AuContent @skin="small">
      <AuHeading @level="4" @skin="5">Wijziging huidige situatie</AuHeading>
      {{#if @mandataris.isActive}}
        <p>Indien de mandataris wordt vervangen, of de huidige
          <strong>status, fractie, rangorde of bevoegdheid</strong>
          verandert:
        </p>
        <ul>
          <li>beëindig dit mandaat;</li>
          <li><strong>start een nieuw mandaat</strong>
            met de gewijzigde situatie.</li>
        </ul>
      {{else}}
        <p>
          Dit mandaat werd beëindigd en kan niet meer gewijzigd worden. Indien
          deze status niet correct is, gebruik de 'corrigeer fouten'
          functionaliteit hiernaast.
        </p>
        <p>
          Indien er een nieuw mandaat toegevoegd moet worden, bijvoorbeeld na
          een periode waarin het mandaat niet actief was, voeg een nieuw mandaat
          toe.
        </p>
      {{/if}}
      <AuButton
        @disabled={{not @mandataris.isActive}}
        {{on "click" this.changeStatus}}
      >Verander status</AuButton>
    </AuContent>
  </div>
  <div class="au-o-grid__item au-u-1-3@medium">
    <AuContent @skin="small">
      <AuHeading @level="4" @skin="5">Correctie</AuHeading>
      <p>Indien een mandaat
        <strong>fouten</strong>
        bevat, en niet goed ingevoerd werd in het verleden,
        <strong>corrigeer</strong>
        de fouten.
      </p>
      <AuButton @skin="secondary" {{on "click" this.correct}}>Corrigeer fouten</AuButton>
    </AuContent>
  </div>
  <div class="au-o-grid__item au-u-1-3@medium">
    <AuContent @skin="small">
      <AuHeading @level="4" @skin="5">Bekrachtiging</AuHeading>
      {{#if @mandataris.isDraft}}
        <p>Bekrachtig het mandaat, waardoor het officieel wordt opgenomen in de
          Vlaamse Mandatendatabank.</p>
      {{/if}}
      <AuButton
        @skin="secondary"
        @disabled={{not @mandataris.isDraft}}
        {{on "click" this.bekrachtig}}
      >Bekrachtig
        {{#unless @mandataris.isDraft}}
          <EmberTooltip
            @text="De Bekrachtiging van een mandaat kan niet ongedaan gemaakt worden. Contacteer de technische dienst indien nodig."
            @side="right"
          />
        {{/unless}}
      </AuButton>
    </AuContent>
  </div>
</div>

<AuModal
  @title={{(concat
    "Verander Status " @mandataris.bekleedt.bestuursfunctie.label
  )}}
  @modalOpen={{this.isChanging}}
  @closable={{true}}
  @closeModal={{this.cancel}}
>
  <Mandatarissen::UpdateState
    @noTitle={{true}}
    @onCancel={{this.cancel}}
    @onStateChanged={{this.onUpdateState}}
    @mandataris={{@mandataris}}
  />
</AuModal>
<AuModal
  @title={{(concat
    "Corrigeer fouten " @mandataris.bekleedt.bestuursfunctie.label
  )}}
  @modalOpen={{this.isCorrecting}}
  @closable={{true}}
  @closeModal={{this.cancel}}
>
  <div class="au-o-box">
    <Form::Instance
      @instanceId={{@mandataris.id}}
      @form={{@mandatarisEditForm}}
      @onSave={{this.onSave}}
      @onCancel={{this.cancel}}
      @buildMetaTtl={{this.buildMetaTtl}}
    />
  </div>
</AuModal>
<Mandatarissen::ConfirmBekrachtiging
  @modalOpen={{this.isBekrachtiging}}
  @onBekrachtig={{this.onBekrachtig}}
  @cancel={{this.cancel}}
  @mandataris={{@mandataris}}
/>