<AuToolbar @size="large" class="au-u-padding-none au-u-bottom-none" as |Group|>
  <Group>
    <AuHeading @skin="4">
      Details mandaat
    </AuHeading>
  </Group>
</AuToolbar>

<div class="au-o-box au-u-background-gray-100">
  <div class="au-o-grid au-o-grid--tiny">
    <div class="au-o-grid__item au-u-1-2">
      <div class="au-c-description-label">Status</div>
      <div class="au-c-description-value au-u-margin-top-tiny">
        <Mandaat::MandatarisStatusPill
          @mandataris={{@mandataris}}
          @detailView={{true}}
        />
      </div>
    </div>
    <div class="au-o-grid__item au-u-1-2">
      <div class="au-c-description-label">Publicatie status</div>
      <div class="au-c-description-value au-u-margin-top-tiny">
        {{#if this.editingStatus}}
          <Mandatarissen::Mandataris::PublicationStatusSelector
            @mandataris={{@mandataris}}
            @onUpdate={{this.stopEditingStatus}}
          />
        {{else}}
          <div class="au-u-flex">
            <Mandaat::PublicatieStatusPill
              @mandataris={{@mandataris}}
              @showInfoText={{true}}
              @showBekijkBewijs={{true}}
            />
            {{#if this.canEditPublicationStatus}}
              <AuButton
                {{on "click" this.editStatus}}
                @icon="pencil"
                @skin="link-secondary"
                @size="small"
                class="au-u-maring-left-tiny"
                @hideText={{true}}
              >
                edit
              </AuButton>
            {{/if}}
          </div>
        {{/if}}
      </div>
    </div>
    {{#if @mandataris.bekleedt.hasRangorde}}
      <div class="au-o-grid__item au-u-1-2">
        <div class="au-c-description-label">Rangorde</div>
        <div
          class="au-c-description-value au-u-margin-top-tiny
            {{unless @mandataris.rangorde 'au-u-muted'}}"
        >{{if
            @mandataris.rangorde
            @mandataris.rangorde
            "Niet beschikbaar"
          }}</div>
      </div>
    {{/if}}
    <div class="au-o-grid__item au-u-1-2">
      <div class="au-c-description-label">Start periode</div>
      <div class="au-c-description-value au-u-margin-top-tiny">
        {{moment-format @mandataris.start "DD-MM-YYYY"}}
      </div>
    </div>
    <div class="au-o-grid__item au-u-1-2">
      <div class="au-c-description-label">Fractie</div>
      <div
        class="au-c-description-value au-u-margin-top-tiny
          {{unless this.fractie 'au-u-muted'}}"
      >
        {{if this.fractie this.fractie "Niet beschikbaar"}}
      </div>
    </div>
    <div class="au-o-grid__item au-u-1-2">
      <div class="au-c-description-label">Einde periode</div>
      <div class="au-c-description-value au-u-margin-top-tiny">
        {{#if @mandataris.einde}}
          {{moment-format @mandataris.einde "DD-MM-YYYY"}}
        {{else}}
          heden
        {{/if}}
      </div>
    </div>
    {{#if (await this.vervangersVan)}}
      <div class="au-o-grid__item au-u-5-6">
        <div class="au-c-description-label"><div>Vervanger van:</div></div>
        <div class="au-c-description-value au-u-margin-top-tiny">
          {{#each (await this.vervangersVan) as |replaced index|}}
            <AuLink
              @route="mandatarissen.mandataris"
              @model={{replaced.id}}
              @skin="secondary"
            >
              {{replaced.isBestuurlijkeAliasVan.gebruikteVoornaam}}
              {{replaced.isBestuurlijkeAliasVan.achternaam}}{{if
                (lt index (sub this.vervangersVan.length 1))
                ","
              }}
            </AuLink>
          {{/each}}
        </div>
      </div>
    {{/if}}
    {{#if (await @mandataris.status.isVerhinderd)}}
      {{#if
        (not (or (await this.vervangersVan) @mandataris.bekleedt.isSchepen))
      }}
        <div class="au-o-grid__item au-u-1-2">
          <div class="au-c-description-label"></div>
          <div class="au-c-description-value au-u-margin-top-tiny">
          </div>
        </div>
      {{/if}}
      <div class="au-o-grid__item au-u-1-2">
        <div class="au-c-description-label"><div>Vervangen door:</div></div>
        <div class="au-c-description-value replacement">
          {{#if (not (await this.vervangersDoor))}}
            <Mandatarissen::ReplacementSelect
              @showDelete={{false}}
              @showEditAsIcon={{true}}
              @nothingSelectedText="Voeg vervanger toe"
              @selected={{this.selectedVervanger}}
              @onSelect={{perform this.addReplacement}}
              @inline={{true}}
            />
          {{else}}
            {{#each (await this.vervangersDoor) as |replacement index|}}
              <AuLink
                @route="mandatarissen.mandataris"
                @model={{replacement.id}}
                @skin="secondary"
              >
                {{replacement.isBestuurlijkeAliasVan.gebruikteVoornaam}}
                {{replacement.isBestuurlijkeAliasVan.achternaam}}{{if
                  (lt index (sub this.vervangersDoor.length 1))
                  ","
                }}
              </AuLink>
            {{/each}}
          {{/if}}
        </div>
      </div>
    {{/if}}
  </div>
</div>