<div class="au-o-grid au-o-grid--small">
  <div class="au-o-grid__item au-u-1-2">
    <AuContent @skin="small">
      <AuHeading @level="4" @skin="5">Wijziging huidige situatie</AuHeading>
      <p>Indien de mandataris wordt vervangen, of de huidige
        <strong>status, fractie, rangorde of bevoegdheid</strong>
        verandert:
      </p>
      <ul>
        <li>beëindig dit mandaat door de einddatum in te vullen;</li>
        <li><strong>start een nieuw mandaat</strong>
          met de gewijzigde situatie.</li>
      </ul>
      <AuButton {{on "click" this.changeStatus}}>Verander status</AuButton>
    </AuContent>
  </div>
  <div class="au-o-grid__item au-u-1-2">
    <AuContent @skin="small">
      <AuHeading @level="4" @skin="5">Correctie</AuHeading>
      <p>Indien een mandaat
        <strong>fouten</strong>
        bevat, en niet goed ingevoerd werd in het verleden,
        <strong>corrigeer</strong>
        de fouten.
      </p>
      <AuButton @skin="secondary" {{on "click" this.correct}}>Corrigeer fouten</AuButton>
    </AuContent>
  </div>
</div>

<AuModal
  @title={{(concat
    "Verander Toestand " @mandataris.bekleedt.bestuursfunctie.label
  )}}
  @modalOpen={{this.isChanging}}
  @closable={{true}}
  @closeModal={{this.toggleChangingState}}
>
  <Mandatarissen::UpdateState
    @noTitle={{true}}
    @onCancel={{this.cancel}}
    @onStateChanged={{this.onUpdateState}}
    @mandataris={{@mandataris}}
  />
</AuModal>
<AuModal
  @title={{(concat
    "Corrigeer fouten " @mandataris.bekleedt.bestuursfunctie.label
  )}}
  @modalOpen={{this.isCorrecting}}
  @closable={{true}}
  @closeModal={{this.cancel}}
>
  <div class="au-o-box">
    <Form::Instance
      @instanceId={{@mandataris.id}}
      @form={{@mandatarisEditForm}}
      @onSave={{this.onSave}}
      @onCancel={{this.cancel}}
      @buildMetaTtl={{this.buildMetaTtl}}
    />
  </div>
</AuModal>
