<AuToolbar @size="large" class="au-u-padding-none au-u-bottom-none" as |Group|>

  <Group>
    <AuHeading @skin="4">
      Bijkomende informatie
    </AuHeading>
  </Group>
  <Group>
    <Shared::Tooltip
      @showTooltip={{this.disabled}}
      @tooltipText={{this.toolTipText}}
      @alignment="right"
    >
      <AuButton
        {{on "click" this.toggleModal}}
        @disabled={{this.disabled}}
      >Bewerk</AuButton>
    </Shared::Tooltip>
  </Group>
</AuToolbar>

<div class="au-o-box au-u-background-gray-100">
  <div class="au-o-grid au-o-grid--small">
    {{#if this.hasBeleidsdomeinen}}
      <div class="au-o-grid__item au-u-5-6">
        <div class="au-c-description-label"><div>Beleidsdomein(en)</div></div>
        <div class="au-c-description-value">{{await
            this.formattedBeleidsdomein
          }}
        </div>
      </div>
    {{else}}
      Dit mandaat heeft geen bijkomende informatie.
    {{/if}}
    <EditableForm
      @isReadOnly={{true}}
      @instanceId={{@mandataris.id}}
      @form={{@form}}
      @onCancel={{this.toggleModal}}
      @onSave={{this.onSave}}
      @formInitialized={{fn (mut this.formInitialized) true}}
      @customHistoryMessage={{true}}
    />
  </div>
</div>

<AuModal
  @title="Bewerk bijkomende info mandaat"
  @modalOpen={{this.isModalActive}}
  @closable={{true}}
  @closeModal={{this.toggleModal}}
>
  <div class="au-o-box">
    <EditableForm
      @instanceId={{@mandataris.id}}
      @form={{@form}}
      @onCancel={{this.toggleModal}}
      @onSave={{this.onSave}}
      @formInitialized={{fn (mut this.formInitialized) true}}
      @customHistoryMessage={{true}}
    />
    {{#unless this.formInitialized}}
      <Skeleton::Forms::MandatarisExtraInfo />
    {{/unless}}
  </div>
</AuModal>