<div class="au-o-grid au-o-grid--small">
  <div class="au-o-grid__item au-u-1-3@medium">
    <AuContent @skin="small">
      <AuHeading @level="4" @skin="5">Wijziging huidige situatie</AuHeading>
      {{#if @mandataris.isActive}}
        <p>Indien de mandataris wordt
          <strong>vervangen</strong>, of de huidige
          <strong>status, fractie, rangorde of bevoegdheid</strong>
          verandert.
        </p>
        <ul>
          <li>Dit beëindigt dit mandaat;</li>
          <li>en
            <strong>start een nieuw mandaat</strong>
            met de gewijzigde situatie.</li>
        </ul>
      {{else}}
        <p>
          Dit mandaat werd beëindigd en kan niet meer gewijzigd worden. Indien
          deze status niet correct is, gebruik de 'corrigeer fouten'
          functionaliteit hiernaast.
        </p>
        <p>
          Indien er een nieuw mandaat toegevoegd moet worden, bijvoorbeeld na
          een periode waarin het mandaat niet actief was, voeg een nieuw mandaat
          toe.
        </p>
      {{/if}}
      <AuButton
        @disabled={{not @mandataris.isActive}}
        {{on "click" this.changeStatus}}
      >Wijzig huidige situatie</AuButton>
    </AuContent>
  </div>
  <div class="au-o-grid__item au-u-1-3@medium">
    <AuContent @skin="small">
      <AuHeading @level="4" @skin="5">Correctie</AuHeading>
      <p>Indien een mandaat
        <strong>fouten</strong>
        bevat, en niet goed ingevoerd werd in het verleden,
        <strong>corrigeer</strong>
        de fouten.
      </p>
      <AuButton @skin="secondary" {{on "click" this.correct}}>Corrigeer fouten</AuButton>
    </AuContent>
  </div>
  <div class="au-o-grid__item au-u-1-3@medium">
    <AuContent @skin="small">
      <AuHeading @level="4" @skin="5">Publicatie status</AuHeading>
      <p>Verander de publicatie status van het mandaat:</p>
      <ul>
        <li>
          Draft mandaten dienen enkel als input voor de installatievergadering.
        </li>
        <li>
          Effectieve mandaten dienen als actuele data voor de dagelijkse
          werking.
        </li>
        <li>
          Indien u het mandaat bekrachtigt, wordt het officieel opgenomen in de
          Vlaamse Mandatendatabank.
        </li>
      </ul>
      <p>
        De bekrachtiging van een mandaat is niet omkeerbaar.
      </p>
      <Mandatarissen::Mandataris::PublicationStatusSelector
        @options={{this.publicationStatusOptions}}
        @selectedStatus={{@mandataris.publicationStatus}}
        @onSelect={{this.onUpdatePublicationStatus}}
      />
    </AuContent>
  </div>
</div>

<AuModal
  @title={{(concat
    "Verander Status " @mandataris.bekleedt.bestuursfunctie.label
  )}}
  @modalOpen={{this.isChanging}}
  @closable={{true}}
  @closeModal={{this.cancel}}
>
  <Mandatarissen::UpdateState
    @noTitle={{true}}
    @onCancel={{this.cancel}}
    @onStateChanged={{this.onUpdateState}}
    @mandataris={{@mandataris}}
  />
</AuModal>
<AuModal
  @title={{(concat
    "Corrigeer fouten " @mandataris.bekleedt.bestuursfunctie.label
  )}}
  @modalOpen={{this.isCorrecting}}
  @closable={{true}}
  @closeModal={{this.cancel}}
>
  <div class="au-o-box">
    <Form::Instance
      @instanceId={{@mandataris.id}}
      @form={{@mandatarisEditForm}}
      @onSave={{this.onSave}}
      @onCancel={{this.cancel}}
      @buildMetaTtl={{this.buildMetaTtl}}
    />
  </div>
</AuModal>