{{! Naam}}
<td>
  <div class="au-u-flex au-u-flex--row">
    <AuButton
      @skin="naked"
      @icon={{this.iconSubRowOpen}}
      {{on "click" (perform this.getSubRowData)}}
    />
    <LinkTo
      @route={{this.persoonDetailRoute}}
      @model={{@persoon.id}}
      class="au-c-link au-u-medium"
    >
      {{@persoon.gebruikteVoornaam}}
    </LinkTo>
  </div>
</td>

{{! Familienaam}}
<td>
  <LinkTo
    @route={{this.persoonDetailRoute}}
    @model={{@persoon.id}}
    class="au-c-link au-u-medium"
  >
    {{@persoon.achternaam}}
  </LinkTo>
</td>

{{! Fractie}}
<td>
  {{#unless this.isSubRowOpen}}
    <Mandaat::FoldedFracties
      @persoon={{@persoon}}
      @bestuursperiode={{@bestuursperiode}}
    />
  {{/unless}}
</td>

{{! Orgaan}}
<td>
  {{#unless this.isSubRowOpen}}
    <Mandatarissen::BestuursorganenAsLinks
      @persoon={{@persoon}}
      @bestuursperiode={{@bestuursperiode}}
    />
  {{/unless}}
</td>

{{! Mandaat}}
<td>
  {{#unless this.isSubRowOpen}}
    <Mandatarissen::MandatenAsLinks
      @persoon={{@persoon}}
      @bestuursperiode={{@bestuursperiode}}
    />
  {{/unless}}
</td>

<td>{{! Status}}</td>

{{#if this.isSubRowOpen}}
  {{#each this.subRows as |subRow|}}

    <tr {{in-parent}} class="sub-row">
      <td>{{! empty  }}</td>
      <td>{{! empty  }}</td>
      <td>
        {{subRow.fractie}}
      </td>
      <td>
        <LinkTo
          @route="organen.orgaan"
          @model={{subRow.bestuursorgaan.routeModelId}}
          class="au-c-link"
        >
          {{subRow.bestuursorgaan.label}}
        </LinkTo>
      </td>
      <td>
        <LinkTo
          @route="mandatarissen.persoon.mandataris"
          @models={{subRow.mandaat.routeModelIds}}
          class="au-c-link"
        >
          {{subRow.mandaat.label}}
        </LinkTo>
      </td>
      <td><Mandaat::MandatarisStatusPill
          @mandataris={{subRow.mandataris}}
        /></td>
    </tr>
  {{/each}}
{{/if}}