<span
  {{did-insert (perform this.setupTableRows)}}
  {{did-update (perform this.setupTableRows @content)}}
></span>
<AuDataTable
  @content={{this.tableRows}}
  @noDataMessage="Geen mandatarissen gevonden"
  @sort={{@sort}}
  @page={{@page}}
  @size={{@size}}
  as |t|
>
  <t.content as |c|>
    <c.header>
      <AuDataTableThSortable
        @field="is-bestuurlijke-alias-van.gebruikteVoornaam"
        @currentSorting={{@sort}}
        @label="Naam"
      />
      <AuDataTableThSortable
        @field="is-bestuurlijke-alias-van.achternaam"
        @currentSorting={{@sort}}
        @label="Familienaam"
      />
      <th>Fracties</th>
      <th>Orgaan</th>
      <th>Mandaat</th>
      <th>Status</th>
    </c.header>
    <c.body as |object|>
      {{#if (eq object.type this.displayType.persoon)}}
        {{#let object.data as |persoon|}}
          <td>
            <AuButton
              @skin="naked"
              @icon={{object.iconSubRowOpen}}
              {{on
                "click"
                (perform this.showMandatenForPerson persoon.id object)
              }}
            />
            <LinkTo
              @route={{@detailRoute}}
              @model={{persoon.id}}
              class="au-c-link"
            >
              {{persoon.gebruikteVoornaam}}
            </LinkTo>
          </td>
          <td>
            <LinkTo
              @route={{@detailRoute}}
              @model={{persoon.id}}
              class="au-c-link"
            >
              {{persoon.achternaam}}
            </LinkTo>
          </td>
          <td>
            <Mandaat::FoldedFracties
              @persoon={{persoon}}
              @bestuursperiode={{@bestuursperiode}}
            />
          </td>
          <td>{{! Organen are show in sub rows on click }}</td>
          <td>{{! Mandaten are show in sub rows on click }}</td>
          <td>{{! Status are show in sub rows on click }}</td>
        {{/let}}
      {{/if}}

      {{#if (eq object.type this.displayType.subRow)}}
        {{#let object.data as |orgaanWithMandaat|}}
          <td>{{! naam}}</td>
          <td>{{! familienaam}}</td>
          <td>{{! fracties}}</td>
          <td>
            <LinkTo
              @route="organen.orgaan"
              @model={{orgaanWithMandaat.bestuursorgaan.routeModelId}}
              class="au-c-link"
            >
              {{orgaanWithMandaat.bestuursorgaan.label}}
            </LinkTo>
          </td>
          <td>
            <LinkTo
              @route="mandatarissen.persoon.mandataris"
              @models={{orgaanWithMandaat.mandaat.routeModelIds}}
              class="au-c-link"
            >
              {{orgaanWithMandaat.mandaat.label}}
            </LinkTo>
          </td>
          <td>
            <Mandaat::MandatarisStatusPill
              @mandataris={{orgaanWithMandaat.mandataris}}
            />
          </td>
        {{/let}}
      {{/if}}
    </c.body>
  </t.content>
</AuDataTable>