{{! Naam}}
<td>
  <div>
    <AuButton
      @skin="naked"
      @icon={{this.iconSubRowOpen}}
      {{on "click" (perform this.getSubRowData)}}
    />
    <LinkTo
      @route={{this.persoonDetailRoute}}
      @model={{@persoon.id}}
      class="au-c-link"
    >
      {{@persoon.gebruikteVoornaam}}
    </LinkTo>
  </div>
  {{#if this.isSubRowOpen}}
    <div> {{! empty }} </div>
  {{/if}}
</td>

{{! Familienaam}}
<td>
  <LinkTo
    @route={{this.persoonDetailRoute}}
    @model={{@persoon.id}}
    class="au-c-link"
  >
    {{@persoon.achternaam}}
  </LinkTo>
  {{#if this.isSubRowOpen}}
    <div> {{! empty }} </div>
  {{/if}}
</td>

{{! Fractie}}
<td>
  {{#if this.isSubRowOpen}}
    <div> {{! empty }} </div>
  {{else}}
    <Mandaat::FoldedFracties
      @persoon={{@persoon}}
      @bestuursperiode={{@bestuursperiode}}
    />
  {{/if}}
  {{#if this.isSubRowOpen}}
    <div>
      {{#each this.subRows as |subRow|}}
        <div class={{this.styleClassesSubRow}}>
          {{subRow.fractie}}
        </div>
      {{/each}}
    </div>
  {{/if}}
</td>

{{! Orgaan}}
<td>
  {{#if this.isSubRowOpen}}
    <div> {{! empty }} </div>
  {{else}}
    <div> {{! organen as links }} </div>
  {{/if}}
  {{#if this.isSubRowOpen}}
    <div>
      {{#each this.subRows as |subRow|}}
        <div class={{this.styleClassesSubRow}}>
          <LinkTo
            @route="organen.orgaan"
            @model={{subRow.bestuursorgaan.routeModelId}}
            class="au-c-link"
          >
            {{subRow.bestuursorgaan.label}}
          </LinkTo>
        </div>
      {{/each}}
    </div>
  {{/if}}
</td>

{{! Mandaat}}
<td>
  {{#if this.isSubRowOpen}}
    <div> {{! empty }} </div>
  {{else}}
    <Mandatarissen::MandatenAsLinks
      @persoon={{@persoon}}
      @bestuursperiode={{@bestuursperiode}}
    />
  {{/if}}
  {{#if this.isSubRowOpen}}
    <div>
      {{#each this.subRows as |subRow|}}
        <div class={{this.styleClassesSubRow}}>
          <LinkTo
            @route="mandatarissen.persoon.mandataris"
            @models={{subRow.mandaat.routeModelIds}}
            class="au-c-link"
          >
            {{subRow.mandaat.label}}
          </LinkTo>
        </div>
      {{/each}}
    </div>
  {{/if}}
</td>

{{! Status}}
<td>
  <div> {{! empty }} </div>
  {{#if this.isSubRowOpen}}
    <div>
      {{#each this.subRows as |subRow|}}
        <div class={{this.styleClassesSubRow}}>
          <Mandaat::MandatarisStatusPill @mandataris={{subRow.mandataris}} />
        </div>
      {{/each}}
    </div>
  {{/if}}
</td>