<div class="no-pagination">
  <AuDataTable
    @content={{@content}}
    @noDataMessage="Geen mandatarissen gevonden"
    @sort={{@sort}}
    @page={{@page}}
    @size={{@size}}
    as |t|
  >
    <t.content as |c|>
      <c.header>
        <AuDataTableThSortable
          @field="is-bestuurlijke-alias-van.gebruikteVoornaam"
          @currentSorting={{@sort}}
          @label="Naam"
        />
        <AuDataTableThSortable
          @field="is-bestuurlijke-alias-van.achternaam"
          @currentSorting={{@sort}}
          @label="Familienaam"
        />
        <th>Fracties</th>
        <th>Mandaten</th>
      </c.header>

      <c.body as |persoon|>
        <td>
          <LinkTo
            @route={{@detailRoute}}
            @model={{persoon.id}}
            class="au-c-link"
          >
            {{persoon.gebruikteVoornaam}}
          </LinkTo>
        </td>
        <td>
          <LinkTo
            @route={{@detailRoute}}
            @model={{persoon.id}}
            class="au-c-link"
          >
            {{persoon.achternaam}}
          </LinkTo>
        </td>
        <td>
          <Mandaat::FoldedFracties
            @persoon={{persoon}}
            @bestuursperiode={{@bestuursperiode}}
          />
        </td>
        <td>
          <Mandatarissen::MandatenAsLinks
            @persoon={{persoon}}
            @bestuursperiode={{@bestuursperiode}}
          />
        </td>
      </c.body>
    </t.content>
  </AuDataTable>
</div>