{{! Naam}}
<td>
  <div class="au-u-flex au-u-flex--row">
    <AuButton
      @skin="naked"
      @icon={{this.iconSubRowOpen}}
      {{on "click" (perform this.getSubRowData)}}
    />
    <LinkTo
      @route={{this.persoonDetailRoute}}
      @model={{@persoon.id}}
      class="au-c-link au-u-medium"
    >
      {{@persoon.gebruikteVoornaam}}
    </LinkTo>
  </div>
  {{#if this.isSubRowOpen}}
    <div> {{! empty }} </div>
  {{/if}}
</td>

{{! Familienaam}}
<td>
  <LinkTo
    @route={{this.persoonDetailRoute}}
    @model={{@persoon.id}}
    class="au-c-link au-u-medium"
  >
    {{@persoon.achternaam}}
  </LinkTo>
  {{#if this.isSubRowOpen}}
    <div> {{! empty }} </div>
  {{/if}}
</td>

{{! Fractie}}
<td>
  {{#if this.isSubRowOpen}}
    {{! template-lint-disable no-inline-styles }}
    <div style="visibility: hidden">hidden</div>
  {{else}}
    <Mandaat::FoldedFracties
      @persoon={{@persoon}}
      @bestuursperiode={{@bestuursperiode}}
    />
  {{/if}}
  {{#if this.isSubRowOpen}}
    {{#each this.subRows as |subRow|}}
      <div class={{this.styleClassesSubRow}}>
        {{subRow.fractie}}
      </div>
    {{/each}}
  {{/if}}
</td>

{{! Orgaan}}
<td>
  {{#if this.isSubRowOpen}}
    {{! template-lint-disable no-inline-styles }}
    <div style="visibility: hidden">hidden</div>
  {{else}}
    <Mandatarissen::BestuursorganenAsLinks
      @persoon={{@persoon}}
      @bestuursperiode={{@bestuursperiode}}
    />
  {{/if}}
  {{#if this.isSubRowOpen}}
    {{#each this.subRows as |subRow|}}
      <div class={{this.styleClassesSubRow}}>
        <LinkTo
          @route="organen.orgaan"
          @model={{subRow.bestuursorgaan.routeModelId}}
          class="au-c-link"
        >
          {{subRow.bestuursorgaan.label}}
        </LinkTo>
      </div>
    {{/each}}
  {{/if}}
</td>

{{! Mandaat}}
<td>
  {{#if this.isSubRowOpen}}
    {{! template-lint-disable no-inline-styles }}
    <div style="visibility: hidden">hidden</div>
  {{else}}
    <Mandatarissen::MandatenAsLinks
      @persoon={{@persoon}}
      @bestuursperiode={{@bestuursperiode}}
    />
  {{/if}}
  {{#if this.isSubRowOpen}}
    {{#each this.subRows as |subRow|}}
      <div class={{this.styleClassesSubRow}}>
        <LinkTo
          @route="mandatarissen.persoon.mandataris"
          @models={{subRow.mandaat.routeModelIds}}
          class="au-c-link"
        >
          {{subRow.mandaat.label}}
        </LinkTo>
      </div>
    {{/each}}
  {{/if}}
</td>

{{! Status}}
<td>
  {{! template-lint-disable no-inline-styles }}
  <div style="visibility: hidden">hidden</div>
  {{#if this.isSubRowOpen}}
    {{#each this.subRows as |subRow|}}
      <div class={{this.styleClassesSubRow}}>
        <Mandaat::MandatarisStatusPill @mandataris={{subRow.mandataris}} />
      </div>
    {{/each}}
  {{/if}}
</td>

{{#if this.isSubRowOpen}}
  <tr {{in-parent}} class="sub-row">
    <td>

    </td>
    <td>
    </td>
    <td>

    </td>
    <td>
      Quux!
    </td>
    <td>
      Corge!
    </td>
    <td>
      Grault!
    </td>
  </tr>

{{/if}}