<AuDataTable
  @content={{@content}}
  @noDataMessage="Geen mandatarissen gevonden"
  @sort={{@sort}}
  @page={{@page}}
  @size={{@size}}
  as |t|
>
  <t.content as |c|>
    <c.header>
      <AuDataTableThSortable
        @field="gebruikteVoornaam"
        @currentSorting={{@sort}}
        @label="Naam"
      />
      <AuDataTableThSortable
        @field="achternaam"
        @currentSorting={{@sort}}
        @label="Familienaam"
      />
      <th>Mandaten</th>
      <th>{{! Detail Action }}</th>
    </c.header>

    <c.body as |row|>
      <td>
        {{row.gebruikteVoornaam}}
      </td>
      <td>
        {{row.achternaam}}
      </td>
      <td>{{await (this.mandaten row)}}</td>
      <td>
        <LinkTo @route={{@detailRoute}} @model={{row.id}} class="au-c-link">
          Meer info
        </LinkTo>
      </td>
    </c.body>
  </t.content>
</AuDataTable>