<div class="au-c-description-label"><div>Vervangen door:</div></div>
<div class="au-c-description-value replacement">
  {{#if (not (await this.vervangersDoor))}}
    <div>
      <span class="au-u-muted au-u-flex--stretch flex-grow">Voeg vervanger toe</span>
      <AuButton
        {{on "click" this.openModal}}
        @icon="pencil"
        @skin="link-secondary"
        @size="small"
        class="au-u-maring-left-tiny"
        @hideText={{true}}
      >
        Bewerk
      </AuButton>
    </div>
  {{else}}
    {{#each (await this.vervangersDoor) as |replacement index|}}
      <AuLink
        @route="mandatarissen.mandataris"
        @model={{replacement.id}}
        @skin="secondary"
      >
        {{replacement.isBestuurlijkeAliasVan.gebruikteVoornaam}}
        {{replacement.isBestuurlijkeAliasVan.achternaam}}{{if
          (lt index (sub this.vervangersDoor.length 1))
          ","
        }}
      </AuLink>
    {{/each}}
  {{/if}}
</div>

<AuModal
  ...attributes
  @modalOpen={{this.modalOpen}}
  @closable={{true}}
  @closeModal={{this.cancelReplacement}}
>
  <:title>Voeg vervanger toe</:title>
  <:body>
    <div>
      <AuLabel>
        Vervanger
      </AuLabel>
      <Mandatarissen::ReplacementSelect
        @mandataris={{@mandataris}}
        @selected={{this.replacement}}
        @onSelect={{this.selectReplacement}}
        @bestuursorgaanIT={{@bestuursorgaanIT}}
        @inline={{true}}
      />
      {{#if this.replacementError}}
        <AuAlert @skin="error" @icon="alert-triangle" class="au-u-margin-top">
          Dit is dezelfde persoon als de oorspronkelijke mandataris, het is niet
          mogelijk een mandataris te laten vervangen door zichzelf.
        </AuAlert>
      {{/if}}
    </div>
    {{#if this.replacement}}
      <div>
        <DateInput
          @label="Startdatum"
          @value={{this.startDate}}
          @from={{@bestuursorgaanIT.bindingStart}}
          @to={{@bestuursorgaanIT.bindingEinde}}
          @onChange={{fn (mut this.startDate)}}
          @isRequired={{true}}
        />
      </div>
      <div>
        <DateInput
          @label="Einddatum"
          @value={{this.endDate}}
          @from={{@bestuursorgaanIT.bindingStart}}
          @to={{@bestuursorgaanIT.bindingEinde}}
          @onChange={{fn (mut this.endDate)}}
          @isRequired={{false}}
        />
      </div>

      {{#if (not (await this.hideFractieField))}}
        <Mandatarissen::FractieSelector
          @fractie={{this.fractie}}
          @isRequired={{await this.isFractieRequired}}
          @onSelect={{this.selectFractie}}
          @bestuurseenheid={{@bestuurseenheid}}
          @bestuursperiode={{@bestuursorgaanIT.heeftBestuursperiode}}
          @person={{this.replacement}}
          @limitPersonFractionsToCurrent={{true}}
        />
      {{/if}}
    {{/if}}
  </:body>
  <:footer>
    <AuToolbar as |Group|>
      <Group>
        <AuButtonGroup>
          <AuButton
            @disabled={{this.disabled}}
            {{on "click" this.saveReplacement}}
          >Voeg toe</AuButton>
          <AuButton
            @skin="secondary"
            {{on "click" this.cancelReplacement}}
          >Annuleer</AuButton>
        </AuButtonGroup>
      </Group>
    </AuToolbar>
  </:footer>
</AuModal>