<div class="event {{if @event.selected 'selected'}}">
  <AuButton
    class="event-date"
    @skin="naked"
    {{on "click" (fn this.selectEvent @event)}}
  >
    <div class="event-marker"></div>
    <div class="event-date-value">{{moment-format
        @event.date
        "DD-MM-YYYY"
      }}</div>
  </AuButton>
  <div class="event-connector"></div>
  {{#if @event.selected}}
    <AuPill @skin="link" class="selected-pill">Geselecteerde Situatie</AuPill>
  {{/if}}
  <AuPanel
    class="event-panel {{if @event.selected 'selected'}}"
    {{on "click" (fn this.selectEvent @event)}}
  >

    <div class="au-u-flex au-u-flex--spaced-tiny au-u-flex--wrap">
      <AuPill>{{@event.type}}</AuPill>
      {{#if @event.active}}
        <AuPill @skin="success">Actief</AuPill>
      {{/if}}
      {{#if (and (not (eq @event.type "Einde")) this.hasValidationError.value)}}
        <AuPill
          @icon="alert-triangle"
          @size="small"
          @skin="warning"
        >Validatiefout</AuPill>
      {{/if}}
    </div>

    <div
      class="provenance au-u-muted au-u-italic au-u-margin-top-tiny au-u-margin-bottom-tiny"
    >
      {{#if (eq @event.type "Einde")}}
        <p>{{this.beeindigdText}}</p>
      {{else}}
        <p>
          {{if (eq @event.type "Start") "Aangemaakt op" "Bewerkt op"}}
          {{#if this.editedAt}}
            {{moment-format this.editedAt "DD-MM-YY HH:mm"}}
          {{else}}
            Onbekend
          {{/if}}
        </p>
        <p>door
          {{#if this.editor}}
            {{this.editor.voornaam}}
            {{this.editor.achternaam}}
          {{else}}
            Onbekend
          {{/if}}
        </p>
      {{/if}}
    </div>
    <Mandatarissen::TimelineDiff @event={{@event}} />
    {{#if this.hasOverlapWithNext}}
      <AuAlert
        @skin="warning"
        @size="tiny"
        @closable={{false}}
        class="au-u-padding-tiny au-u-margin-bottom-none au-u-margin-top-tiny au-u-para-small"
      >
        <p class="au-u-warning"><AuIcon @icon="alert-triangle" />
          Dit mandaat loopt door tot
          {{moment-format @event.mandataris.einde "DD-MM-YYYY"}}, dat is na de
          startdatum van het volgende mandaat.</p>
      </AuAlert>
    {{/if}}

    {{#if this.hasGapUntilNext}}
      <AuAlert
        @skin="warning"
        @size="tiny"
        @closable={{false}}
        class="au-u-padding-tiny au-u-margin-bottom-none au-u-margin-top-tiny au-u-para-small"
      >
        <p class="au-u-warning"><AuIcon @icon="alert-triangle" />
          Dit mandaat eindigt op
          {{moment-format @event.mandataris.einde "DD-MM-YYYY"}}, dat is voor
          het begin van het volgende mandaat.</p>
      </AuAlert>
    {{/if}}
    {{yield}}
  </AuPanel>
</div>