{{yield}}
<div class="au-o-box au-o-flow">
  {{#unless @noTitle}}
    <AuHeading>
      Verander Toestand
      {{@mandataris.bekleedt.bestuursfunctie.label}}
    </AuHeading>
  {{/unless}}
  <div>
    <AuLabel>
      Huidige Toestand
    </AuLabel>
    <div>
      {{@mandataris.bekleedt.bestuursfunctie.label}},
      {{this.currentStatus.label}}
      van
      {{moment-format @mandataris.start "DD-MM-YYYY"}}
      {{#if @mandataris.einde}}
        tot
        {{moment-format @mandataris.einde "DD-MM-YYYY"}}
      {{/if}}
    </div>
  </div>
  <div>
    <AuLabel>
      Nieuwe Toestand
    </AuLabel>
    <PowerSelect
      @allowClear={{false}}
      @selected={{this.newStatus}}
      @options={{this.statusOptions}}
      @onChange={{this.updateNewStatus}}
      @searchEnabled={{true}}
      @searchField="label"
      @noMatchesMessage="Geen resultaten"
      as |status|
    >
      {{status.label}}
    </PowerSelect>
  </div>
  <div>
    <AuLabel>
      Vanaf
    </AuLabel>
    <AuDatePicker @value={{this.date}} {{on "change" this.updateDate}} />
  </div>
  <AuToolbar class="au-u-margin-top" as |Group|>
    <Group>
      <AuButtonGroup>
        <AuButton
          {{on "click" (perform this.updateState)}}
          @disabled={{this.disabled}}
          @loading={{this.isSaving}}
        >
          Pas aan
        </AuButton>
        <AuButton {{on "click" @onCancel}} @skin="secondary">
          Annuleer
        </AuButton>
      </AuButtonGroup>
    </Group>
  </AuToolbar>
</div>
