<AuModal
  @title={{concat
    "Verander Status "
    @mandataris.bekleedt.bestuursfunctie.label
    " - "
    @mandataris.isBestuurlijkeAliasVan.naam
  }}
  @modalOpen={{@isChanging}}
  @closable={{true}}
  @closeModal={{this.cancel}}
>
  {{yield}}
  <div class="au-o-box au-o-flow">
    <div>
      <AuLabel>
        Huidige Status
      </AuLabel>
      <div>
        {{@mandataris.bekleedt.bestuursfunctie.label}},
        {{@mandataris.status.label}}
        van
        {{moment-format @mandataris.start "DD-MM-YYYY"}}
        {{#if @mandataris.einde}}
          tot
          {{moment-format @mandataris.displayEinde "DD-MM-YYYY"}}
        {{/if}}
      </div>
    </div>
    <div>
      <DateInput
        @label="Vanaf"
        @value={{this.date}}
        @from={{this.bestuursorgaanStartDate}}
        @to={{this.bestuursorgaanEndDate}}
        @onChange={{fn (mut this.date)}}
        @isRequired={{true}}
      />
    </div>
    <div>
      <AuLabel @required={{true}}>
        Nieuwe Status
      </AuLabel>
      <PowerSelect
        @allowClear={{false}}
        @selected={{this.newStatus}}
        @options={{this.statusOptions}}
        @onChange={{this.updateNewStatus}}
        @searchEnabled={{true}}
        @searchField="label"
        @noMatchesMessage="Geen resultaten"
        as |status|
      >
        {{status.label}}
      </PowerSelect>
    </div>
    {{#unless this.isTerminatingMandate}}
      {{#if this.showReplacement}}
        <div>
          <AuLabel>
            Vervanger
          </AuLabel>
          <Mandatarissen::ReplacementSelect
            @mandataris={{@mandataris}}
            @selected={{this.selectedReplacement}}
            @onSelect={{this.updateReplacement}}
            @bestuursorgaanIT={{this.currentBestuursorgaan}}
            @inline={{true}}
          />
          {{#if this.inValidReplacement}}
            <AuAlert
              @skin="error"
              @icon="alert-triangle"
              class="au-u-margin-top"
            >
              Dit is dezelfde persoon als de oorspronkelijke mandataris, het is
              niet mogelijk een mandataris te laten vervangen door zichzelf.
            </AuAlert>
          {{/if}}
        </div>
      {{/if}}
      <div>
        {{#if this.load.isRunning}}
          <AuLabel for="input" class="skeleton-label au-u-margin-top" />
          <p class="skeleton-input-full au-u-margin-top au-u-margin-bottom"></p>
        {{else}}
          <Mandatarissen::FractieSelector
            @fractie={{this.selectedFractie}}
            @isRequired={{this.isFractieSelectorRequired}}
            @onSelect={{this.updateFractie}}
            @bestuurseenheid={{this.bestuurseenheid}}
            @bestuursperiode={{this.bestuursperiode}}
            @mandataris={{@mandataris}}
            @isUpdatingState={{true}}
          />
        {{/if}}
      </div>
      {{#if this.showRangordeField}}
        <div>
          <AuLabel>
            Rangorde
          </AuLabel>
          <AuInput
            value={{this.rangorde}}
            @width="block"
            id="mandataris-rangorde"
            placeholder={{this.rangordePlaceholder}}
            {{on "input" this.updateRangorde}}
          />
        </div>
      {{/if}}
    {{/unless}}
    <AuToolbar class="au-u-margin-top" as |Group|>
      <Group>
        <AuButtonGroup>
          <Shared::Tooltip
            @showTooltip={{this.disabled}}
            @tooltipText={{this.toolTipText}}
            @alignment="left"
          >
            <AuButton
              {{on "click" (perform this.updateState)}}
              @disabled={{this.disabled}}
              @loading={{this.updateState.isRunning}}
              @loadingMessage="Mandaat wordt gewijzigd"
            >
              {{if this.hasChanges "Pas aan" "Onveranderd"}}
            </AuButton>
          </Shared::Tooltip>
          <AuButton {{on "click" this.cancel}} @skin="secondary">
            Annuleer
          </AuButton>
        </AuButtonGroup>
      </Group>
    </AuToolbar>
  </div>
</AuModal>

<AuModal
  @modalOpen={{this.isRangordeModalOpen}}
  @closable={{true}}
  @closeModal={{fn (mut this.isRangordeModalOpen) false}}
>
  <:title>Rangorde vervanger</:title>
  <:body>
    <p>
      U heeft een mandataris, die een rangorde heeft, verhinderd. Deze rangorde
      kan niet automatisch overgenomen worden in de vervanger. Het toewijzen van
      een rangorde kan namelijk gevolgen hebben op de rangorde van andere
      mandatarissen. Wenst u dit nu aan te passen? Het is ook mogelijk dit op
      een later tijdstip aan te passen in de wijzig rangorde pagina.
    </p>
  </:body>
  <:footer>
    <AuToolbar as |Group|>
      <Group>
        <AuLink
          @skin="button"
          @route="organen.orgaan.edit-rangorde"
          @model={{this.currentBestuursorgaan?.isTijdsspecialisatieVan?.id}}
          @query={{hash bestuursperiode=this.bestuursperiode.id}}
        >
          Ja
        </AuLink>
        <AuButton
          @skin="secondary"
          {{on "click" (fn (mut this.isRangordeModalOpen) false)}}
        >Nee</AuButton>
      </Group>
    </AuToolbar>
  </:footer>
</AuModal>