{{page-title "Voorbereiding legislatuur"}}

<div class="au-c-body-container">
  <AuToolbar
    @size="large"
    @nowrap="true"
    class="au-u-padding-bottom-none"
    as |Group|
  >
    <Group>
      <div class="au-o-flow">
        <AuHeading @skin="2">Voorbereiding legislatuur</AuHeading>
      </div>
    </Group>
    <Group>
      <p>Change installatievergadering status:</p>
      <Shared::InstallatievergaderingStatusSelector
        @options={{@model.ivStatuses}}
        @selectedStatus={{@model.selectedStatus}}
        @onSelect={{this.selectStatus}}
      />
    </Group>
  </AuToolbar>

  <div class="au-o-box">
    <Verkiezingen::DraftMandatarisList
      @mandatarissen={{@model.mandatarissen}}
      @content={{@model.mandatarissen}}
      @sort={{this.sort}}
      @page={{0}}
      @size={{99999}}
      @title=""
      @showVoornaam={{true}}
      @showNaam={{true}}
      @showFractie={{true}}
      @showFunctie={{true}}
      @showRangorde={{false}}
      @showBevoegdheid={{false}}
      @showStartMandaat={{true}}
      @showEindeMandaat={{true}}
    />
  </div>
</div>