{{page-title "Voorbereiding legislatuur"}}

<div class="au-c-body-container au-c-body-container--scroll">
  <Verkiezingen::KieslijstSplitter
    @kandidatenlijst={{@model.kandidatenlijsten}}
    @bestuursorgaan={{@model.bestuursorgaan}}
    @bestuurseenheid={{@model.bestuurseenheid}}
  />
  <AuToolbar
    @size="large"
    @nowrap="true"
    class="au-u-padding-bottom-none"
    as |Group|
  >
    <Group>
      <div class="au-o-flow">
        <AuHeading @skin="2">Voorbereiding legislatuur</AuHeading>
      </div>
    </Group>
    <Group>
      <p>Change installatievergadering status:</p>
      <Shared::InstallatievergaderingStatusSelector
        @options={{@model.ivStatuses}}
        @selectedStatus={{@model.selectedStatus}}
        @onSelect={{this.selectStatus}}
      />
    </Group>
  </AuToolbar>

  <Verkiezingen::DraftMandatarisList
    @mandatarissen={{@model.mandatarissen}}
    @sort={{this.sort}}
    @page={{0}}
    @size={{9999}}
    @title=""
    @showFractie={{true}}
    @showFunctie={{true}}
    @showRangorde={{true}}
    @showBevoegdheid={{true}}
    @showStartEndDate={{true}}
  />
</div>