{{page-title "Overzicht"}}
{{breadcrumb "Eigen formulieren"}}
<AuMainContainer as |main|>
  <main.content>
    <AuToolbar
      @size="large"
      class="au-u-padding-bottom-none au-u-margin-bottom"
      as |Group|
    >
      <Group>
        <AuHeading @skin="2">Eigen gegevens</AuHeading>
      </Group>
      <Group>
        <AuButtonGroup>
          <AuLink @skin="button-secondary">Codelijsten beheren</AuLink>
          <AuLink @route="eigen-gegevens.new" @skin="button">Nieuw formulier
            aanmaken</AuLink>
        </AuButtonGroup>
      </Group>
    </AuToolbar>

    <AuDataTable
      @content={{this.model.formNames}}
      @noDataMessage="Geen eigen formulieren gevonden"
      @size={{or this.model.formNames.length 0}}
      as |t|
    >
      <t.content as |c|>
        <c.header>
          <AuDataTableThSortable
            @field="label"
            @currentSorting={{@sort}}
            @label="Formulier"
          />
          <AuDataTableThSortable
            @field="description"
            @currentSorting={{@sort}}
            @label="Beschrijving"
          />
        </c.header>

        <c.body as |formName|>
          <td class="au-u-1-6">
            <AuLink
              @route="eigen-gegevens.form-instances"
              @query={{hash formName=formName}}
            >{{formName}}</AuLink>
          </td>
          <td></td>
        </c.body>
      </t.content>
    </AuDataTable>
  </main.content>
</AuMainContainer>