{{page-title "Instance"}}
<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box">
    <Form::Instance
      @instanceId={{this.model.instanceId}}
      @form={{this.model.form}}
      @onSave={{this.onSave}}
      @onCancel={{this.onCancel}}
    />
  </div>
  {{#if this.model.form.withHistory}}
    history here
  {{/if}}
</div>
