{{page-title
  @model.bestuurseenheid.classificatie.label
  " "
  @model.bestuurseenheid.naam
  " "
  @model.bestuursfunctie.rol.label
}}

<AuToolbar @size="large" class="au-u-padding-bottom-none" as |Group|>
  <Group>
    <AuHeading @skin="2">Bekijk en bewerk aanstellingsperiode</AuHeading>
  </Group>
  <Group>
    <AuButton {{on "click" this.handleVoegNieuweAanstellingsperiodeClick}}>
      <AuIcon @icon="add" @alignment="left" />
      Voeg nieuwe aanstellingsperiode toe
    </AuButton>
  </Group>
</AuToolbar>

<Leidinggevenden::ContactInfoCard
  @contactinfo={{@model.bestuursfunctie.contactinfo}}
  @bestuursfunctieID={{@model.bestuursfunctie.id}}
/>

<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box">
    <Leidinggevenden::FunctionarisTable
      @content={{@model.functionarissen}}
      @sort={{this.sort}}
      @page={{this.page}}
      @size={{this.size}}
      @editRoute="leidinggevenden.bestuursfunctie.functionarissen.edit"
    />
  </div>
</div>

{{outlet}}