<div {{did-update this.checkPublicationStatus @mandataris.publicationStatus}}>
  <PowerSelect
    @selected={{this.publicationStatus}}
    @options={{this.sortedOptions}}
    class="is-optional"
    @onChange={{this.onUpdate}}
    @searchEnabled={{false}}
    @disabled={{this.isDisabled}}
    @noMatchesMessage="Geen statussen"
    @placeholder="Bekrachtigd"
    as |status|
  >
    {{#if status.label}}
      {{status.label}}
    {{else}}
      Geen statussen
    {{/if}}
  </PowerSelect>
  <span class="au-u-margin-top-small u-u-margin-right-tiny">Om een bekrachtiging
    terug te trekken moet je de
    <AuLinkExternal
      href="mailto:lokaalmandatenbeheer@vlaanderen.be?subject=Bekrachtiging terugtrekken - Lokaal Mandatenbeheer"
    >technische dienst contacteren</AuLinkExternal>
  </span>

  <AuModal
    @title="Link naar besluit"
    @modalOpen={{this.showLinkToDecisionModal}}
    @closable={{true}}
    @closeModal={{this.cancelAddDecision}}
    as |Modal|
  >
    <Modal.Body>
      <AuAlert
        @title="Opgelet"
        @skin="warning"
        @icon="alert-triangle"
        @size={{this.size}}
        @closable={{false}}
      >
        <p>Na het toevoegen van een link naar een besluit kan deze niet meer
          aangepast worden zonder de technische dienst te contacteren.
        </p>
      </AuAlert>
      <span class="au-u-padding">
        <AuLabel for="link-to-page">Link naar pagina</AuLabel>
        <AuInput
          @error={{(and (not this.isInputLinkValid) this.linkToDecision)}}
          @width="block"
          @iconAlignment="left"
          value={{this.linkToDecision}}
          id="link-to-page"
          placeholder="Link naar besluit pagina"
          {{on "keyup" (perform this.setLinkTodecision)}}
        />
        {{#if (and (not this.isInputLinkValid) this.linkToDecision)}}
          <AuHelpText @skin="secondary" @error={{true}}>
            Start de url met http:// of https:// om te linken naar de besluit
            pagina.
          </AuHelpText>
        {{/if}}
      </span>
      <span class="au-u-padding">
        <AuButtonGroup>
          <Shared::Tooltip
            @showTooltip={{not this.isInputLinkValid}}
            @tooltipText={{this.toolTipText}}
            @alignment="left"
          >
            <AuButton
              @disabled={{not this.isInputLinkValid}}
              @loading={{this.addDecisionToMandataris.isRunning}}
              {{on "click" (perform this.addDecisionToMandataris)}}
            >
              Bewaar
            </AuButton>
          </Shared::Tooltip>
          <AuButton
            @skin="secondary"
            @disabled={{this.addDecisionToMandataris.isRunning}}
            {{on "click" this.cancelAddDecision}}
          >
            Annuleer
          </AuButton>
        </AuButtonGroup>
      </span>
    </Modal.Body>
  </AuModal>
</div>