<div {{did-update this.checkPublicationStatus @mandataris.publicationStatus}}>
  <PowerSelect
    @selected={{this.publicationStatus}}
    @options={{this.sortedOptions}}
    class="is-optional"
    @onChange={{this.onUpdate}}
    @searchEnabled={{false}}
    @disabled={{this.isDisabled}}
    @noMatchesMessage="Geen statussen"
    @placeholder="Bekrachtigd"
    as |status|
  >
    {{#if status.label}}
      {{status.label}}
    {{else}}
      Geen statussen
    {{/if}}
  </PowerSelect>
  <span class="au-u-margin-top-small u-u-margin-right-tiny">Om een bekrachtiging
    terug te trekken moet je de
    <AuLinkExternal
      href="mailto:lokaalmandatenbeheer@vlaanderen.be?subject=Bekrachtiging terugtrekken - Lokaal Mandatenbeheer"
    >technische dienst contacteren</AuLinkExternal>
  </span>

</div>