<div {{did-update this.checkPublicationStatus @mandataris.publicationStatus}}>
  <PowerSelect
    @selected={{this.publicationStatus}}
    @options={{this.sortedOptions}}
    class="is-optional"
    @onChange={{this.onUpdate}}
    @searchEnabled={{false}}
    @disabled={{this.isDisabled}}
    @noMatchesMessage="Geen statussen"
    @placeholder="Bekrachtigd"
    as |status|
  >
    {{#if status.label}}
      {{status.label}}
    {{else}}
      Geen statussen
    {{/if}}
  </PowerSelect>
  <span class="au-u-margin-top-small u-u-margin-right-tiny">Om een bekrachtiging
    terug te trekken moet je de
    <AuLinkExternal
      href="mailto:lokaalmandatenbeheer@vlaanderen.be?subject=Bekrachtiging terugtrekken - Lokaal Mandatenbeheer"
    >technische dienst contacteren</AuLinkExternal>
  </span>

  <AuModalContainer />
  <AuModal
    @title="Link naar besluit"
    @modalOpen={{this.showLinkToDecisionModal}}
    @closable={{true}}
    @closeModal={{this.cancelAddDecision}}
    as |Modal|
  >
    <Modal.Body>
      <AuLabel for="decision-type">Type</AuLabel>
      <PowerSelect
        id="decision-type"
        @allowClear={{false}}
        @placeholder="Selecteer het type artikel/besluit"
        @selected={{this.selectedType}}
        @options={{this.typeOptions}}
        @onChange={{this.setType}}
        @searchEnabled={{true}}
        @loadingMessage="Aan het laden..."
        @noMatchesMessage="Geen resultaten"
        as |type|
      >
        {{type.label}}
      </PowerSelect>
      {{#if this.selectedType}}
        <span class="au-u-padding">
          {{#if this.isLinkToPage}}
            <AuLabel for="link-to-page">Link naar pagina</AuLabel>
            <AuInput
              @error={{(and (not this.isInputLinkValid) this.linkToDecision)}}
              @width="block"
              @iconAlignment="left"
              value={{this.linkToDecision}}
              id="link-to-page"
              placeholder="Link naar besluit pagina"
              {{on "keyup" (perform this.setLinkTodecision)}}
            />
          {{else}}
            <AuButtonGroup>
              <PowerSelect
                @allowClear={{false}}
                @placeholder="Bekrachtiging/ontslag"
                @selected={{this.selectedDecisionPredicate}}
                @options={{this.predicateOptions}}
                @onChange={{this.setDecisionPredicate}}
                @searchEnabled={{true}}
                @loadingMessage="Aan het laden..."
                @noMatchesMessage="Geen resultaten"
                as |predicate|
              >
                {{predicate.label}}
              </PowerSelect>
              <AuInput
                @error={{(and (not this.isInputLinkValid) this.linkToDecision)}}
                @iconAlignment="left"
                value={{this.linkToDecision}}
                id="link-to-decision"
                placeholder="Link naar besluit"
                {{on "keyup" (perform this.setLinkTodecision)}}
              />
            </AuButtonGroup>
          {{/if}}
          <AuHelpText
            @skin={{this.skin}}
            @size={{this.size}}
            @error={{this.error}}
            @warning={{this.warning}}
          >
            Geef een correct uri in om te linken naar een besluit.
          </AuHelpText>
        </span>
      {{else}}
        <div class="au-u-padding-large"></div>
      {{/if}}
      <span class="au-u-padding">
        <AuButtonGroup>
          <AuButton
            @disabled={{not this.canSaveLinkToDecision}}
            @loading={{this.addDecisionToMandataris.isRunning}}
            {{on "click" (perform this.addDecisionToMandataris)}}
          >
            Bewaar
          </AuButton>
          <AuButton
            @skin="secondary"
            @disabled={{this.addDecisionToMandataris.isRunning}}
            {{on "click" this.cancelAddDecision}}
          >
            Annuleer
          </AuButton>
        </AuButtonGroup>
      </span>
    </Modal.Body>
  </AuModal>
</div>