<AuToolbar @size="large" @nowrap="true" as |Group|>
  <Group>
    <AuHeading @skin="2">Banner message</AuHeading>
  </Group>
</AuToolbar>
<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box au-u-flex au-u-flex--column">
    <span class="au-u-margin-bottom">
      <AuLabel for="banner-message-input">
        Message
      </AuLabel>
      <AuInput
        id="banner-message-input"
        value={{this.message}}
        @disabled={{this.isActive}}
        {{on "keyup" (perform this.onInputChange)}}
      />
    </span>
    <AuToggleSwitch
      @checked={{this.isActive}}
      @onChange={{this.toggleIsActive}}
      @disabled={{this.isDisabled}}
    >Active</AuToggleSwitch>
  </div>
</div>