{{#unless this.removed}}
  <div class="au-u-flex au-u-flex--between">
    <div class="flex-grow">
      <div class="au-u-flex au-u-flex--row">
        <AuLabel @required={{this.isRequired}}>{{this.title}}</AuLabel>
        <AuButton
          @skin="link-secondary"
          @icon="pencil"
          @hideText={{true}}
          {{on "click" (fn (mut this.showModal) true)}}
        >
          Pas aan
        </AuButton>
      </div>
      <div
        class="au-u-flex au-u-flex--between au-u-flex--vertical-start au-u-flex--spaced-tiny"
      >
        <div class="flex-grow">
          {{yield}}
        </div>
      </div>
    </div>
    <div class="au-u-flex au-u-flex--column au-u-flex--vertical-center">
      <AuButton
        @skin="naked"
        @icon="nav-up"
        @hideText={{true}}
        {{on "click" (perform this.moveField "up")}}
      >
        Naar boven
      </AuButton>
      <AuButton
        @skin="naked"
        @icon="nav-down"
        @hideText={{true}}
        {{on "click" (perform this.moveField "down")}}
      >
        Naar onder
      </AuButton>
    </div>
  </div>
{{/unless}}

<RdfInputFields::CrudCustomFieldModal
  @isCreating={{false}}
  @showModal={{this.showModal}}
  @onCloseModal={{fn (mut this.showModal) false}}
  @form={{@form}}
  @field={{@field}}
  @isRequiredField={{this.isRequired}}
/>