{{#unless this.removed}}
  <div class="au-u-flex au-u-flex--row">
    <AuLabel
      for={{this.inputId}}
      @error={{this.hasErrors}}
      @warning={{this.hasWarnings}}
      @required={{this.isRequired}}
    >{{this.title}}</AuLabel>
    <AuButton
      @skin="link-secondary"
      @icon="pencil"
      @hideText={{true}}
      {{on "click" (fn (mut this.showEditFieldModal) true)}}
    >
      Pas aan
    </AuButton>
  </div>
  <div
    class="au-u-flex au-u-flex--between au-u-flex--vertical-start au-u-flex--spaced-tiny"
  >
    <div class="flex-grow">
      {{yield}}
    </div>
  </div>
  {{#each this.errors as |error|}}
    <AuHelpText @error={{true}}>{{error.resultMessage}}</AuHelpText>
  {{/each}}

  {{#each this.warnings as |warning|}}
    <AuHelpText @warning={{true}}>{{warning.resultMessage}}</AuHelpText>
  {{/each}}
{{/unless}}

<AuModal
  @modalOpen={{this.showEditFieldModal}}
  @closeModal={{this.closeEditFieldModal}}
  @closable={{true}}
  @title="Pas veld aan"
  {{did-insert this.loadCurrentFieldInfo}}
>
  <form class="au-c-form au-o-box au-o-flow" {{on "input" this.updateField}}>
    <AuFormRow @alignment="default">
      <AuLabel @required={{true}} for="name">Naam</AuLabel>
      <AuInput
        @width="block"
        @iconAlignment="left"
        value={{this.name}}
        name="name"
        id="name"
      />
    </AuFormRow>
    <AuFormRow @alignment="default" class="au-form-row-full-width">
      <CustomFormFields::DisplayTypeSelector
        @disabled={{this.libraryEntree}}
        @displayTypeUri={{this.type}}
        @variableName="type"
        @label="Type"
        @onTypeUpdated={{this.updateField}}
      />
    </AuFormRow>
    <AuFormRow @alignment="default">
      <AuLabel @required={{true}} for="type">Positie in formulier</AuLabel>
      <AuInput
        @width="block"
        @iconAlignment="left"
        value={{this.order}}
        name="order"
        id="order"
      />
    </AuFormRow>
    <AuFormRow>
      <AuButtonGroup>
        <Shared::Tooltip
          @showTooltip={{false}}
          @tooltipText="Geen aanpassingen aan het veld gevonden"
          @alignment="left"
        >
          <AuButton
            {{on "click" (perform this.saveChanges)}}
            @disabled={{not this.canSaveChanges}}
            @loading={{this.saveChanges.isRunning}}
          >
            Pas aan
          </AuButton>
        </Shared::Tooltip>
        <AuButton
          @skin="secondary"
          @alert={{true}}
          @disabled={{this.saveChanges.isRunning}}
          @loading={{this.removing}}
          @loadingMessage="Het veld wordt verwijderd"
          {{on "click" this.onRemove}}
        >
          Verwijder
        </AuButton>
      </AuButtonGroup>
    </AuFormRow>
  </form>
</AuModal>