<RdfInputFields::CustomFieldWrapper
  @field={{@field}}
  @form={{@form}}
  @formStore={{@formStore}}
>
  <div class="au-o-box au-u-background-gray-100 au-u-margin-top-tiny">
    <RdfInputFields::AddressSelector
      @inTable={{true}}
      @field={{@field}}
      @form={{@form}}
      @formStore={{@formStore}}
      @graphs={{@graphs}}
      @sourceNode={{@sourceNode}}
      @forceShowErrors={{@forceShowErrors}}
      @cacheConditionals={{@cacheConditionals}}
      @show={{@show}}
    />
  </div>
</RdfInputFields::CustomFieldWrapper>