{{#unless this.removed}}
  <div class={{this.styleClassForMainContainer}}>
    {{! template-lint-disable no-invalid-interactive }}
    <div
      class="au-u-flex au-u-flex--row au-u-padding-small au-u-padding-left-none"
      {{on "click" this.passOnClickedField}}
    >
      <div class="flex-grow">
        <div class="au-u-flex au-u-flex--row">
          {{#unless this.formState.isReadOnly}}
            <AuLabel
              @required={{this.isRequired}}
              @error={{this.hasErrors}}
            >{{this.title}}</AuLabel>
          {{/unless}}
          {{#if
            (and
              this.formState.isEditFormDefinitionForm this.isFieldShownInSummary
            )
          }}
            <AuPill
              class="au-u-margin-left-tiny au-u-margin-bottom-tiny"
              @skin="link"
            >In samenvatting</AuPill>
          {{/if}}
        </div>
        <div
          class="au-u-flex au-u-flex--between au-u-flex--vertical-start au-u-flex--spaced-tiny"
        >
          <div class="flex-grow">
            {{#if this.isFieldReadOnly}}
              <ReadOnlyFieldForDisplayType
                @field={{@field}}
                @storeOptions={{this.storeOptions}}
              />
            {{else}}
              {{yield (hash onInteractedWithField=this.interactedWithField)}}
            {{/if}}
          </div>
        </div>
      </div>
      {{#if (and this.formState.isEditFormDefinitionForm this.isFieldSelected)}}
        <div class="au-u-flex au-u-flex--column au-u-flex--vertical-center">
          <AuButton
            @skin="naked"
            @icon="nav-up"
            @hideText={{true}}
            {{on "click" (perform this.moveField "up")}}
          >
            Naar boven
          </AuButton>
          <AuButton
            @skin="naked"
            @icon="nav-down"
            @hideText={{true}}
            {{on "click" (perform this.moveField "down")}}
          >
            Naar onder
          </AuButton>
        </div>
      {{/if}}
    </div>
  </div>
{{/unless}}