<AuLabel>{{this.title}}</AuLabel>
{{#if this.initialized}}
  <div class={{if this.hasErrors "ember-power-select--error"}}>
    <Mandatarissen::FractieSelector
      @fractie={{this.selectedFractie}}
      @onSelect={{this.onSelectFractie}}
      @bestuursorganen={{this.bestuursorganenInTijd}}
      {{!-- @onClose={{fn (mut this.hasBeenFocused) true}} --}}
    />
  </div>
{{else}}
  Loading...
{{/if}}