<div>
  <AuLabel for="mandaat">Mandaat</AuLabel>
  {{#if this.initialized}}
    <Mandatenbeheer::MandaatBestuursorganenSelector
      @onSelect={{this.updateMandaat}}
      @bestuursorganen={{this.bestuursorganen}}
      @mandaat={{this.mandaat}}
      @allowClear={{true}}
    />
  {{else}}
    <p class="skeleton-input-full au-u-margin-top"></p>
  {{/if}}
</div>