<AuLabel>{{this.title}}</AuLabel>
{{#if this.initialized}}
  <div class={{if this.hasErrors "ember-power-select--error"}}>
    <Mandatarissen::FractieSelector
      @fractie={{this.selectedFractie}}
      @onSelect={{this.onSelectFractie}}
      @bestuurseenheid={{this.bestuurseenheid}}
      @bestuursperiode={{this.bestuursperiode}}
      @onClose={{fn (mut this.hasBeenFocused) true}}
    />
  </div>
{{else}}
  Loading...
{{/if}}