{{#if this.isStrictBurgemeester}}
  <AuAlert @skin="info" @icon="info-circle" @size="small" @closable={{false}}>
    <p>
      De standaard procedure voor het toevoegen van een burgemeester is als
      volgt: Voeg eerst een aangewezen burgemeester toe, eenmaal deze benoemt
      wordt en het besluit doorgestroomd is naar deze applicatie zal automatisch
      een corresponderende burgemeester aangemaakt worden. Idealiter hoeft u dus
      zelf geen burgemeester toe te voegen.
    </p>
  </AuAlert>
{{/if}}

<AuLabel
  for="mandaat"
  @error={{this.hasErrors}}
  @warning={{this.hasWarnings}}
  @required={{this.isRequired}}
>Mandaat</AuLabel>
{{#if this.initialized}}
  <div class={{if this.hasErrors "ember-power-select--error"}}>
    <Mandatenbeheer::MandaatBestuursorganenSelector
      @onSelect={{this.updateMandaat}}
      @bestuursorganen={{this.bestuursorganen}}
      @mandaat={{this.mandaat}}
      @allowClear={{false}}
      @person={{this.person}}
    />
  </div>
  {{#each this.errors as |error|}}
    <AuHelpText @error={{true}}>{{error.resultMessage}}</AuHelpText>
  {{/each}}

  {{#each this.warnings as |warning|}}
    <AuHelpText @warning={{true}}>{{warning.resultMessage}}</AuHelpText>
  {{/each}}
{{else}}
  <p class="skeleton-input-full au-u-margin-top"></p>
{{/if}}