<div
  id={{this.errorMessageId}}
  {{did-insert (perform this.handleErrorMessage)}}
>
  {{#if this.errorMessage}}
    <div
      {{did-insert this.onUpdate this.errorMessage}}
      {{did-update this.onUpdate this.errorMessage}}
    >
      <AuAlert @skin="warning" @icon="alert-triangle" @closable={{true}}>
        <p>{{this.errorMessage}}</p>
      </AuAlert>
    </div>
  {{/if}}
</div>