<div {{did-update this.onInit @sort}}>
  <div class="au-o-box no-pagination">
    <h1 class="au-u-h2 au-u-margin-bottom-small">{{@title}}</h1>
    <AuDataTable
      @content={{this.resortedMandatarissen}}
      @noDataMessage="Geen mandatarissen gevonden"
      @sort={{@sort}}
      @page={{@page}}
      @size={{@size}}
      as |t|
    >
      <t.content as |c|>
        <c.header>
          <AuDataTableThSortable
            @field="isBestuurlijkeAliasVan.gebruikteVoornaam"
            @currentSorting={{@sort}}
            @label="Voornaam"
          />
          <AuDataTableThSortable
            @field="isBestuurlijkeAliasVan.achternaam"
            @currentSorting={{@sort}}
            @label="Familienaam"
          />
          {{#if @showFractie}}
            <AuDataTableThSortable
              @field="heeftLidmaatschap.binnenFractie.naam"
              @currentSorting={{@sort}}
              @label="Fractie"
            />
          {{/if}}
          {{#if @showFunctie}}
            <AuDataTableThSortable
              @field="bekleedt.bestuursfunctie.label"
              @currentSorting={{@sort}}
              @label="Mandaat"
            />
          {{/if}}
          {{#if @showRangorde}}
            <AuDataTableThSortable
              @field="rangorde"
              @currentSorting={{@sort}}
              @label="Rangorde"
            />
          {{/if}}
          {{#if @showBevoegdheid}}
            <AuDataTableThSortable
              @field="beleidsdomein"
              @currentSorting={{@sort}}
              @label="Bevoegdheden"
            />
          {{/if}}
          {{#if @showStartEndDate}}
            <AuDataTableThSortable
              @field="start"
              @currentSorting={{@sort}}
              @label="Start mandaat"
            />
            <AuDataTableThSortable
              @field="einde"
              @currentSorting={{@sort}}
              @label="Einde mandaat"
            />
          {{/if}}
          {{#unless @readOnly}}
            <th>{{! Delete }}</th>
          {{/unless}}
        </c.header>

        <c.body as |row|>
          <td>
            {{row.isBestuurlijkeAliasVan.gebruikteVoornaam}}
          </td>
          <td>
            {{row.isBestuurlijkeAliasVan.achternaam}}
          </td>
          {{#if @showFractie}}
            <td>
              {{row.heeftLidmaatschap.binnenFractie.naam}}
            </td>
          {{/if}}
          {{#if @showFunctie}}
            <td>
              {{row.bekleedt.bestuursfunctie.label}}
            </td>
          {{/if}}
          {{#if @showRangorde}}
            <td>
              {{#if row.bekleedt.isSchepen}}
                {{#if @readOnly}}
                  {{row.rangorde}}
                {{else}}
                  <Verkiezingen::RangordeInput
                    @mandataris={{row}}
                    @mandatarissen={{this.mandatarissen}}
                  />
                {{/if}}
              {{/if}}
            </td>
          {{/if}}
          {{#if @showBevoegdheid}}
            <td>
              <Beleidsdomeinen @mandataris={{row}} />
            </td>
          {{/if}}
          {{#if @showStartEndDate}}
            <td>
              {{moment-format row.start "DD-MM-YYYY"}}
            </td>
            <td>
              {{moment-format row.einde "DD-MM-YYYY"}}
            </td>
          {{/if}}
          {{#unless @readOnly}}
            <td class="au-u-text-right">
              <AuButton
                @skin="link"
                {{on "click" (fn this.openEditMandataris row)}}
              >Bewerk</AuButton>
              <AuButton
                @skin="link"
                @alert={{true}}
                {{on "click" (fn this.removeMandataris row)}}
              >Verwijder</AuButton>
            </td>
          {{/unless}}
        </c.body>
      </t.content>
    </AuDataTable>
  </div>
</div>

<AuModalContainer />
<AuModal
  @title={{(concat
    "Editeer mandataris" this.mandataris.bekleedt.bestuursfunctie.label
  )}}
  @modalOpen={{this.isEditing}}
  @closable={{true}}
  @closeModal={{fn (mut this.isEditing) false}}
>
  <div class="au-o-box">
    {{#if this.mandatarisEdit}}
      <Form::Instance
        @instanceId={{this.mandatarisEdit.id}}
        @form={{@form}}
        @onSave={{this.saveMandatarisChanges}}
        @onCancel={{fn (mut this.isEditing) false}}
        @buildMetaTtl={{@buildMetaTtl}}
        @formInitialized={{fn (mut this.isEditFormInitialized) true}}
      />
    {{/if}}
    {{#unless this.isEditFormInitialized}}
      <Skeleton::Forms::MandatarisCorrect />
    {{/unless}}
  </div>
</AuModal>