<div class="au-c-body-container">
  <h1 class="au-u-h2 au-u-margin-bottom-small">{{@title}}</h1>
  <AuDataTable
    @content={{@mandatarissen}}
    @noDataMessage="Geen mandatarissen gevonden"
    @sort={{@sort}}
    @page={{@page}}
    @size={{@size}}
    as |t|
  >
    <t.content as |c|>
      <c.header>
        <AuDataTableThSortable
          @field="isBestuurlijkeAliasVan.gebruikteVoornaam"
          @currentSorting={{@sort}}
          @label="Voornaam"
        />
        <AuDataTableThSortable
          @field="isBestuurlijkeAliasVan.achternaam"
          @currentSorting={{@sort}}
          @label="Familienaam"
        />
        {{#if @showFractie}}
          <AuDataTableThSortable
            @field="heeftLidmaatschap.binnenFractie.naam"
            @currentSorting={{@sort}}
            @label="Fractie"
          />
        {{/if}}
        {{#if @showFunctie}}
          <AuDataTableThSortable
            @field="bekleedt.bestuursfunctie.label"
            @currentSorting={{@sort}}
            @label="Mandaat"
          />
        {{/if}}
        {{#if @showRangorde}}
          <AuDataTableThSortable
            @field="rangorde"
            @currentSorting={{@sort}}
            @label="Rangorde"
          />
        {{/if}}
        {{#if @showBevoegdheid}}
          <AuDataTableThSortable
            @field="beleidsdomein"
            @currentSorting={{@sort}}
            @label="Bevoegdheid"
          />
        {{/if}}
        {{#if @showStartEndDate}}
          <AuDataTableThSortable
            @field="start"
            @currentSorting={{@sort}}
            @label="Start mandaat"
          />
          <AuDataTableThSortable
            @field="einde"
            @currentSorting={{@sort}}
            @label="Einde mandaat"
          />
        {{/if}}
      </c.header>

      <c.body as |row|>
        <Verkiezingen::EditOnHover
          @editFunction={{this.openModal}}
          @model={{row}}
          @helpText="Pas de persoon aan"
        >
          {{row.isBestuurlijkeAliasVan.gebruikteVoornaam}}
        </Verkiezingen::EditOnHover>
        <Verkiezingen::EditOnHover
          @editFunction={{this.openModal}}
          @model={{row}}
          @helpText="Pas de persoon aan"
        >
          {{row.isBestuurlijkeAliasVan.gebruikteVoornaam}}
        </Verkiezingen::EditOnHover>
        {{#if @showFractie}}
          <td>
            {{row.heeftLidmaatschap.binnenFractie.naam}}
          </td>
        {{/if}}
        {{#if @showFunctie}}
          <td>
            {{row.bekleedt.bestuursfunctie.label}}
          </td>
        {{/if}}
        {{#if @showRangorde}}
          <td>{{row.rangorde}}</td>
        {{/if}}
        {{#if @showBevoegdheid}}
          {{#if this.editBeleidsdomeinen}}
            <td>
              <Mandatarissen::BeleidsdomeinSelectorWithCreate
                @beleidsdomeinen={{this.selectedBeleidsdomeinen}}
                @onSelect={{this.updateBeleidsdomeinen}}
              />
            </td>
          {{else}}
            <Verkiezingen::EditOnHover
              @editFunction={{this.openEditBeleidsdomeinen}}
              @helpText="Pas de beleidsdomeinen aan"
            >
              <Beleidsdomeinen @mandataris={{row}} />
            </Verkiezingen::EditOnHover>
          {{/if}}
        {{/if}}
        {{#if @showStartEndDate}}
          <td>
            {{moment-format row.start "DD-MM-YYYY"}}
          </td>
          <td>
            {{moment-format row.einde "DD-MM-YYYY"}}
          </td>
        {{/if}}
      </c.body>
    </t.content>
  </AuDataTable>
</div>

<AuModal
  @title="Selecteer een persoon"
  @modalOpen={{this.isModalOpen}}
  @closable={{true}}
  @closeModal={{this.closeModal}}
>
  <div class="au-o-box">
    <Person::Selector
      @person={{this.mandataris.isBestuurlijkeAliasVan}}
      @onUpdate={{this.updatePerson}}
      @inline="false"
    />
  </div>
</AuModal>