<div>
  <div class="au-o-box no-pagination au-u-padding-top-small">
    <h1 class="au-u-h2 au-u-margin-bottom-small">{{@title}}</h1>
    <AuDataTable
      @content={{this.resortedMandatarissen}}
      @noDataMessage="Geen mandatarissen gevonden"
      @page={{@page}}
      @size={{@size}}
      as |t|
    >
      <t.content as |c|>
        <c.header>
          <th class="au-u-padding-small">Voornaam</th>
          <th>Familienaam</th>
          {{#if @showFractie}}
            <th>Fractie</th>
          {{/if}}
          {{#if @showFunctie}}
            <th>Mandaat</th>
          {{/if}}
          {{#if @showRangorde}}
            <th>Rangorde</th>
          {{/if}}
          {{#if @showBeleidsdomein}}
            <th>Beleidsdomeinen</th>
          {{/if}}
          {{#if @showStartEndDate}}
            <th>Start mandaat</th>
            <th>Einde mandaat</th>
          {{/if}}
          {{#unless @readOnly}}
            <th>{{! Delete }}</th>
          {{/unless}}
        </c.header>
        <c.body as |mandataris|>
          {{#unless mandataris.isDestroyed}}
            {{#if (eq this.mandatarisBeingDeleted mandataris.id)}}
              <td><p class="skeleton-text au-u-padding-small"></p></td>
              <td><p class="skeleton-text au-u-padding-small"></p></td>
              {{#if @showFractie}}
                <td><p class="skeleton-text au-u-padding-small"></p></td>
              {{/if}}
              {{#if @showFunctie}}
                <td><p class="skeleton-text au-u-padding-small"></p></td>
              {{/if}}
              {{#if @showRangorde}}
                <td><p class="skeleton-text au-u-padding-small"></p></td>
              {{/if}}
              {{#if @showBeleidsdomein}}
                <td><p class="skeleton-text au-u-padding-small"></p></td>
              {{/if}}
              {{#if @showStartEndDate}}
                <td><p class="skeleton-text au-u-padding-small"></p></td>
                <td><p class="skeleton-text au-u-padding-small"></p></td>
              {{/if}}
              <td><p class="skeleton-text au-u-padding-small"></p></td>
            {{else}}
              <td>
                {{mandataris.isBestuurlijkeAliasVan.gebruikteVoornaam}}
              </td>
              <td>
                {{mandataris.isBestuurlijkeAliasVan.achternaam}}
              </td>
              {{#if @showFractie}}
                <td>
                  {{mandataris.heeftLidmaatschap.binnenFractie.naam}}
                </td>
              {{/if}}
              {{#if @showFunctie}}
                <td>
                  {{mandataris.bekleedt.bestuursfunctie.label}}
                </td>
              {{/if}}
              {{#if @showRangorde}}
                <td>
                  {{#if mandataris.bekleedt.hasRangorde}}
                    {{#if @readOnly}}
                      {{mandataris.rangorde}}
                    {{else}}
                      <Verkiezingen::RangordeInput
                        @mandataris={{mandataris}}
                        @mandatarissen={{this.mandatarissen}}
                      />
                    {{/if}}
                  {{/if}}
                </td>
              {{/if}}
              {{#if @showBeleidsdomein}}
                <td>
                  <Beleidsdomeinen @mandataris={{mandataris}} />
                </td>
              {{/if}}
              {{#if @showStartEndDate}}
                <td>
                  {{moment-format mandataris.start "DD-MM-YYYY"}}
                </td>
                <td>
                  {{moment-format mandataris.einde "DD-MM-YYYY"}}
                </td>
              {{/if}}
              {{#unless @readOnly}}
                <td class="au-u-text-right">
                  <AuButton
                    @skin="link"
                    {{on "click" (fn this.openEditMandataris mandataris)}}
                  >Bewerk</AuButton>
                  <AuButton
                    @skin="link"
                    @alert={{true}}
                    {{on "click" (fn this.removeMandataris mandataris)}}
                  >Verwijder</AuButton>
                </td>
              {{/unless}}
            {{/if}}
          {{/unless}}
        </c.body>
      </t.content>
    </AuDataTable>
    {{#unless (eq this.mandatarisPersonCount 0)}}
      <div class="au-u-flex au-u-flex--end">
        <AuHelpText @skin="secondary" @size="large">
          Aantal personen:
          {{this.mandatarisPersonCount}}
        </AuHelpText>
      </div>
    {{/unless}}
  </div>
</div>

<AuModal
  @title={{(concat "Bewerk mandataris")}}
  @modalOpen={{this.isEditing}}
  @closable={{true}}
  @closeModal={{this.closeEditMandataris}}
>
  <div class="au-o-box">
    {{#if this.mandatarisEdit}}
      <SemanticForms::Instance
        @hideDescriptionModalOnSave={{true}}
        @instanceId={{this.mandatarisEdit.id}}
        @form={{@form}}
        @onSave={{this.saveMandatarisChanges}}
        @onCancel={{this.closeEditMandataris}}
        @buildMetaTtl={{@buildMetaTtl}}
        @formInitialized={{fn (mut this.isEditFormInitialized) true}}
      />
    {{/if}}
    {{#unless this.isEditFormInitialized}}
      <Skeleton::Forms::MandatarisCorrect />
    {{/unless}}
  </div>
</AuModal>