<div>
  <div class="au-o-box no-pagination">
    <h1 class="au-u-h2 au-u-margin-bottom-small">{{@title}}</h1>
    <AuDataTable
      @content={{this.resortedMandatarissen}}
      @noDataMessage="Geen mandatarissen gevonden"
      @page={{@page}}
      @size={{@size}}
      as |t|
    >
      <t.content as |c|>
        <c.header>
          <th class="au-u-padding-small">Voornaam</th>
          <th>Familienaam</th>
          {{#if @showFractie}}
            <th>Fractie</th>
          {{/if}}
          {{#if @showFunctie}}
            <th>Mandaat</th>
          {{/if}}
          {{#if @showRangorde}}
            <th>Rangorde</th>
          {{/if}}
          {{#if @showBeleidsdomein}}
            <th>Beleidsdomeinen</th>
          {{/if}}
          {{#if @showStartEndDate}}
            <th>Start mandaat</th>
            <th>Einde mandaat</th>
          {{/if}}
          {{#unless @readOnly}}
            <th>{{! Delete }}</th>
          {{/unless}}
        </c.header>

        <c.body as |row|>
          <td>
            {{row.isBestuurlijkeAliasVan.gebruikteVoornaam}}
          </td>
          <td>
            {{row.isBestuurlijkeAliasVan.achternaam}}
          </td>
          {{#if @showFractie}}
            <td>
              {{row.heeftLidmaatschap.binnenFractie.naam}}
            </td>
          {{/if}}
          {{#if @showFunctie}}
            <td>
              {{row.bekleedt.bestuursfunctie.label}}
            </td>
          {{/if}}
          {{#if @showRangorde}}
            <td>
              {{#if row.bekleedt.hasRangorde}}
                {{#if @readOnly}}
                  {{row.rangorde}}
                {{else}}
                  <Verkiezingen::RangordeInput
                    @mandataris={{row}}
                    @mandatarissen={{this.mandatarissen}}
                  />
                {{/if}}
              {{/if}}
            </td>
          {{/if}}
          {{#if @showBeleidsdomein}}
            <td>
              <Beleidsdomeinen @mandataris={{row}} />
            </td>
          {{/if}}
          {{#if @showStartEndDate}}
            <td>
              {{moment-format row.start "DD-MM-YYYY"}}
            </td>
            <td>
              {{moment-format row.einde "DD-MM-YYYY"}}
            </td>
          {{/if}}
          {{#unless @readOnly}}
            <td class="au-u-text-right">
              <AuButton
                @skin="link"
                {{on "click" (fn this.openEditMandataris row)}}
              >Bewerk</AuButton>
              <AuButton
                @skin="link"
                @alert={{true}}
                {{on "click" (fn this.removeMandataris row)}}
              >Verwijder</AuButton>
            </td>
          {{/unless}}
        </c.body>
      </t.content>
    </AuDataTable>
  </div>
</div>

<AuModal
  @title={{(concat
    "Editeer mandataris" this.mandataris.bekleedt.bestuursfunctie.label
  )}}
  @modalOpen={{this.isEditing}}
  @closable={{true}}
  @closeModal={{this.closeEditMandataris}}
>
  <div class="au-o-box">
    {{#if this.mandatarisEdit}}
      <Form::Instance
        @hideDescriptionModalOnSave={{true}}
        @instanceId={{this.mandatarisEdit.id}}
        @form={{@form}}
        @onSave={{this.saveMandatarisChanges}}
        @onCancel={{this.closeEditMandataris}}
        @buildMetaTtl={{@buildMetaTtl}}
        @formInitialized={{fn (mut this.isEditFormInitialized) true}}
      />
    {{/if}}
    {{#unless this.isEditFormInitialized}}
      <Skeleton::Forms::MandatarisCorrect />
    {{/unless}}
  </div>
</AuModal>