<AuToolbar
  @size="large"
  @nowrap="true"
  class="au-u-padding-bottom-none"
  as |Group|
>
  <Group>
    <div class="au-o-flow">
      <AuHeading @skin="2">Samenstellen fracties</AuHeading>
    </div>
  </Group>
</AuToolbar>

<div class="au-o-box">
  <div class="au-o-grid au-o-grid--small">
    <div class="au-o-grid__item au-u-2-6@medium">
      <AuTable @size="small">
        <:body>
          {{#each @kandidatenlijst as |lijst|}}
            <tr>
              <td
                {{on "click" (fn this.selectKieslijst lijst)}}
                class="clickable-cell
                  {{if (eq this.selectedKieslijst.id lijst.id) 'selected'}}"
              >
                {{lijst.lijstnaam}}
              </td>
            </tr>
          {{/each}}
        </:body>
      </AuTable>
    </div>

    <div class="au-o-grid__item au-u-2-6@medium au-u-flex">
      <div class="vertical-btn-group">
        <AuButton {{on "click" this.openSplitKieslijstModal}}>
          Splitsen
        </AuButton>
        <AuButton {{on "click" this.keepKieslijst}}>
          Behouden
        </AuButton>
        <AuButton {{on "click" this.revertSplitKieslijst}}>
          Terugzetten
        </AuButton>
      </div>
    </div>

    <div class="au-o-grid__item au-u-2-6@medium">
      <AuTable @size="small">
        <:body>
          {{#each @kandidatenlijst as |lijst|}}
            {{#each lijst.resulterendeFracties as |fractie|}}
              <tr>
                <td
                  {{on "click" (fn this.selectFractie fractie)}}
                  class="clickable-cell
                    {{if (eq this.selectedFractie.id fractie.id) 'selected'}}"
                >
                  {{fractie.naam}}
                </td>
              </tr>
            {{/each}}
          {{/each}}
        </:body>
      </AuTable>
    </div>
  </div>
</div>

<AuModal
  @title="Splits kieslijst in fracties"
  @modalOpen={{this.splitKieslijstModalOpen}}
  @closable={{true}}
  @closeModal={{this.closeSplitKieslijstModal}}
>
  <div class="au-o-box">
    <div>
      <AuLabel>
        Fractie 1
      </AuLabel>
      <AuInput
        @width="block"
        id="fractie-split-1"
        placeholder="Vul een eerste fractie in"
        {{on "input" this.setValueFractie1}}
      />
    </div>
    <div>
      <AuLabel>
        Fractie 2
      </AuLabel>
      <AuInput
        @width="block"
        id="fractie-split-2"
        placeholder="Vul een tweede fractie in"
        {{on "input" this.setValueFractie2}}
      />
    </div>
    <AuToolbar class="au-u-margin-top" as |Group|>
      <Group>
        <AuButtonGroup>
          <AuButton
            {{on "click" this.splitKieslijst}}
            @disabled={{not this.hasChanges}}
          >
            {{if this.hasChanges "Pas aan" "Onveranderd"}}
          </AuButton>
          <AuButton
            {{on "click" this.closeSplitKieslijstModal}}
            @skin="secondary"
          >
            Annuleer
          </AuButton>
        </AuButtonGroup>
      </Group>
    </AuToolbar>
  </div>
</AuModal>