<AuToolbar
  @size="large"
  @nowrap="true"
  class="au-u-padding-bottom-none"
  as |Group|
>
  <Group>
    <div class="au-o-flow">
      <AuHeading @skin="2">Samenstellen fracties</AuHeading>
    </div>
  </Group>
</AuToolbar>

<div class="au-o-box">
  <div class="au-o-grid au-o-grid--small">
    <div class="au-o-grid__item au-u-2-6@medium">
      <AuTable @size="small">
        <:body>
          {{#each @kandidatenlijst as |lijst|}}
            <tr>
              <td
                {{on "click" (fn this.selectKieslijst lijst)}}
                class="clickable-cell
                  {{if (eq this.selectedKieslijst lijst.id) 'selected'}}"
              >
                {{lijst.lijstnaam}}
              </td>
            </tr>
          {{/each}}
        </:body>
      </AuTable>
    </div>

    <div class="au-o-grid__item au-u-2-6@medium au-u-flex">
      <div class="vertical-btn-group">
        <AuButton {{on "click" this.tmp}} class="au-u-text-center">
          Splitsen
        </AuButton>
        <AuButton {{on "click" this.tmp}}>
          Behouden
        </AuButton>
        <AuButton {{on "click" this.tmp}}>
          Terugzetten
        </AuButton>
      </div>
    </div>
  </div>
</div>