{{#if (await this.isBurgemeester)}}
  <Mandaat::BurgemeesterSelector
    @bestuursorgaanInTijd={{@bestuursorgaan}}
    @readOnly={{@isBehandeld}}
  />
{{else}}
  <div class="au-u-flex au-u-flex--between au-u-margin-left au-u-margin-right">
    <AuHeading @skin="3" class="au-u-flex-self-start">Samenstelling
      {{@bestuursorgaan.isTijdsspecialisatieVan.naam}}</AuHeading>
    {{#unless @isBehandeld}}
      <AuContent @skin="small" class="au-u-flex-self-end">
        {{#if (or (await @bestuursorgaan.isGR) (await @bestuursorgaan.isCBS))}}
          {{! template-lint-disable no-inline-styles }}
          <AuButton
            style="background-color: #007A37; border-color: #007A37;"
            @icon="table-row-end-add"
            @loadingMessage="Genereren"
          >
            Genereer rijen
          </AuButton>
        {{/if}}
        {{#if (or (await this.isRMW) (await this.isLidVanVB))}}
          <AuButton
            @skin="secondary"
            @icon="synchronize"
            @loading={{this.mirrorTable.isRunning}}
            @loadingMessage="Aan het synchroniseren"
            {{on "click" (perform this.mirrorTable)}}
          >
            {{#if (await this.isRMW)}}
              Neem over van Gemeenteraad
            {{/if}}
            {{#if (await this.isLidVanVB)}}
              Neem over van College van Burgemeester en Schepenen
            {{/if}}
          </AuButton>
        {{/if}}
        <AuButton
          @icon="add"
          @loading={{this.onCreate.isRunning}}
          @loadingMessage="Aan het toevoegen"
          {{on "click" this.createMandataris}}
        >
          Toevoegen
        </AuButton>
      </AuContent>
    {{/unless}}
  </div>
  {{#if (await @bestuursorgaan.isBCSD)}}
    <Verkiezingen::BcsdVoorzitterAlert
      @bcsdBestuursorgaanInTijd={{@bestuursorgaan}}
      @bestuursorganenInTijd={{@bestuursorganen}}
    />
  {{/if}}

  {{#if
    (and
      (or this.mirrorTable.isRunning this.onCreate.isRunning)
      this.skeletonRowsOfMirror
    )
  }}
    <div class="au-o-box">
      <Skeleton::Table @columns={{5}} @rows={{this.skeletonRowsOfMirror}} />
    </div>
  {{else}}
    <Verkiezingen::DraftMandatarisList
      @readOnly={{@isBehandeld}}
      @bestuursorgaan={{@bestuursorgaan}}
      @page={{0}}
      @size={{9999}}
      @title=""
      @showFractie={{true}}
      @showFunctie={{true}}
      @showRangorde={{eq
        @bestuursorgaan.isTijdsspecialisatieVan.classificatie.uri
        this.CBSClassification
      }}
      @showBevoegdheid={{eq
        @bestuursorgaan.isTijdsspecialisatieVan.classificatie.uri
        this.CBSClassification
      }}
      @showStartEndDate={{false}}
      @form={{@form}}
      @buildMetaTtl={{this.buildMetaTtl}}
    />
  {{/if}}

  <AuModalContainer />
  <AuModal
    @title={{(concat
      "Voeg mandataris toe aan " @bestuursorgaan.isTijdsspecialisatieVan.naam
    )}}
    @modalOpen={{this.isCreating}}
    @closable={{true}}
    @closeModal={{this.cancel}}
  >
    <div class="au-o-box">
      <Form::NewInstance
        @onCreate={{perform this.onCreate}}
        @form={{@form}}
        @buildSourceTtl={{this.buildSourceTtl}}
        @buildMetaTtl={{this.buildMetaTtl}}
      />
    </div>
  </AuModal>
{{/if}}