{{#if (await this.isBurgemeester)}}
  <Mandaat::BurgemeesterSelector
    @bestuursorgaanInTijd={{@bestuursorgaan}}
    @readOnly={{@isBehandeld}}
  />
{{else}}
  <AuToolbar
    @size="large"
    @nowrap="true"
    class="au-u-padding-bottom-none au-u-margin-bottom-none"
    as |Group|
  >
    <Group class="au-u-margin-bottom-none">
      <div class="au-o-flow">
        <AuHeading @skin="3">Samenstelling
          {{@bestuursorgaan.isTijdsspecialisatieVan.naam}}</AuHeading>
      </div>
    </Group>
  </AuToolbar>
  {{#if (await @bestuursorgaan.isBCSD)}}
    <Verkiezingen::BcsdVoorzitterAlert
      @bcsdBestuursorgaanInTijd={{@bestuursorgaan}}
      @bestuursorganenInTijd={{@bestuursorganen}}
    />
  {{/if}}

  {{#if
    (and
      (or this.mirrorTable.isRunning this.onCreate.isRunning)
      this.skeletonRowsOfMirror
    )
  }}
    <div class="au-o-box">
      <Skeleton::Table @columns={{5}} @rows={{this.skeletonRowsOfMirror}} />
    </div>
  {{else}}
    <Verkiezingen::DraftMandatarisList
      @readOnly={{@isBehandeld}}
      @bestuursorgaan={{@bestuursorgaan}}
      @sort={{@sort}}
      @page={{0}}
      @size={{9999}}
      @title=""
      @showFractie={{true}}
      @showFunctie={{true}}
      @showRangorde={{eq
        @bestuursorgaan.isTijdsspecialisatieVan.classificatie.uri
        this.CBSClassification
      }}
      @showBevoegdheid={{eq
        @bestuursorgaan.isTijdsspecialisatieVan.classificatie.uri
        this.CBSClassification
      }}
      @showStartEndDate={{false}}
    />
  {{/if}}

  {{#unless @isBehandeld}}
    <AuContent @skin="small au-u-flex au-u-flex--between ">
      <AuButton
        @skin="naked"
        @icon="add"
        @loading={{this.onCreate.isRunning}}
        @loadingMessage="Aan het toevoegen"
        {{on "click" this.createMandataris}}
      >Toevoegen</AuButton>
      {{#if (or (await this.isRMW) (await this.isLidVanVB))}}
        <AuButton
          @skin="naked"
          @icon="synchronize"
          @loading={{this.mirrorTable.isRunning}}
          @loadingMessage="Aan het synchroniseren"
          {{on "click" (perform this.mirrorTable)}}
        >
          {{#if (await this.isRMW)}}
            Neem over van Gemeenteraad
          {{/if}}
          {{#if (await this.isLidVanVB)}}
            Neem over van College van Burgemeester en Schepenen
          {{/if}}
        </AuButton>
      {{/if}}
    </AuContent>
  {{/unless}}
  <AuModalContainer />
  <AuModal
    @title={{(concat
      "Voeg mandataris toe aan " @bestuursorgaan.isTijdsspecialisatieVan.naam
    )}}
    @modalOpen={{this.isCreating}}
    @closable={{true}}
    @closeModal={{this.cancel}}
  >
    <div class="au-o-box">
      <Form::NewInstance
        @onCreate={{perform this.onCreate}}
        @form={{@form}}
        @buildSourceTtl={{this.buildSourceTtl}}
        @buildMetaTtl={{this.buildMetaTtl}}
      />
    </div>
  </AuModal>
{{/if}}