{{#if (await @bestuursorgaan.isBurgemeester)}}
  <Mandaat::BurgemeesterSelector
    @bestuursorgaanInTijd={{@bestuursorgaan}}
    @readOnly={{@isBehandeld}}
    @onUpdateBurgemeester={{@onUpdateBurgemeester}}
    @bestuursperiode={{@bestuursperiode}}
    @bestuurseenheid={{@bestuurseenheid}}
    @form={{@form}}
    @buildMetaTtl={{this.buildMetaTtl}}
  />
{{else}}
  <div class="au-u-flex au-u-flex--column au-u-flex--row-when-medium">
    <div
      class="au-u-flex au-u-flex--between au-u-margin-left au-u-margin-right"
    >
      <AuHeading
        @skin="3"
        class="au-u-flex-self-start au-u-margin-bottom-small"
      >Samenstelling
        {{@bestuursorgaan.isTijdsspecialisatieVan.naam}}</AuHeading>
    </div>
    <div class="au-u-flex au-u-flex--end au-u-margin-left au-u-margin-right">
      {{#unless @isBehandeld}}
        <AuContent @skin="small" class="au-u-flex-self-end">
          {{! template-lint-disable no-inline-styles }}
          <AuButton
            style="background-color: #007A37; border-color: #007A37;"
            class="au-u-margin-top-none"
            @icon="table-row-end-add"
            @loadingMessage="Genereren"
            {{on "click" (fn (mut this.isGeneratingRows) true)}}
          >
            Genereer rijen
          </AuButton>

          <AuButton
            @icon="add"
            @loading={{this.onCreate.isRunning}}
            class="au-u-margin-top-none"
            @loadingMessage="Aan het toevoegen"
            {{on "click" this.createMandataris}}
          >
            Voeg toe
          </AuButton>
          {{#if
            (or
              (await @bestuursorgaan.isRMW) (await @bestuursorgaan.isVastBureau)
            )
          }}
            <div class="au-u-flex--inline">
              <Shared::Tooltip
                @showTooltip={{true}}
                @tooltipText={{if
                  (await @bestuursorgaan.isRMW)
                  "Neem de mandatarissen over van de gemeenteraad"
                  "Neem de mandatarissen over van het College van Burgemeester en Schepenen"
                }}
                @alignment="right"
              >
                <AuButton
                  @skin="secondary"
                  @icon="synchronize"
                  class="au-u-margin-top-none"
                  @loading={{this.mirrorTable.isRunning}}
                  @loadingMessage="Aan het synchroniseren"
                  {{on "click" (perform this.mirrorTable)}}
                >
                  {{#if (await @bestuursorgaan.isRMW)}}
                    Neem over van Gemeenteraad
                  {{/if}}
                  {{#if (await @bestuursorgaan.isVastBureau)}}
                    Neem over van CBS
                  {{/if}}
                </AuButton>
              </Shared::Tooltip>
            </div>
          {{/if}}

        </AuContent>
      {{/unless}}
    </div>
  </div>
  <Verkiezingen::VoorzitterAlert
    @bestuursorgaanIT={{@bestuursorgaan}}
    @mandatarissen={{this.mandatarissen}}
  />

  {{#if (await @bestuursorgaan.isCBS)}}
    <Verkiezingen::BurgemeesterAlert
      @collegeBestuursorgaanInTijd={{@bestuursorgaan}}
    />
  {{/if}}

  <Shared::AlertGroup>
    <Verkiezingen::BcsdVoorzitterAlert
      @bestuursorgaanInTijd={{@bestuursorgaan}}
      @bestuursperiode={{@bestuursperiode}}
      @mandatarissen={{this.mandatarissen}}
      @trigger={{this.installatievergadering.recomputeBCSDNeededTime}}
    />
    <Verkiezingen::WarningAmountMandatarissenForOrgaanAlert
      @bestuursorgaanInTijd={{@bestuursorgaan}}
      @mandatarissen={{this.mandatarissen}}
      @trigger={{this.installatievergadering.recomputeBCSDNeededTime}}
    />
  </Shared::AlertGroup>

  {{#if
    (and
      (or
        this.initialLoad.isRunning
        this.mirrorTable.isRunning
        this.getMandatarissen.isRunning
      )
      this.skeletonRowsOfMirror
    )
  }}
    <div class="au-o-box au-u-padding-top-small">
      <Skeleton::Table @columns={{5}} @rows={{this.skeletonRowsOfMirror}} />
    </div>
  {{else}}
    <Verkiezingen::DraftMandatarisList
      @readOnly={{@isBehandeld}}
      @mandatarissen={{this.mandatarissen}}
      @updateMandatarissen={{perform this.getMandatarissen}}
      @title=""
      @showFractie={{true}}
      @showFunctie={{true}}
      @showStart={{true}}
      @showRangorde={{or
        (eq
          @bestuursorgaan.isTijdsspecialisatieVan.classificatie.uri
          this.CBSClassification
        )
        (eq
          @bestuursorgaan.isTijdsspecialisatieVan.classificatie.uri
          this.gemeenteRaadClassification
        )
      }}
      @showBeleidsdomein={{eq
        @bestuursorgaan.isTijdsspecialisatieVan.classificatie.uri
        this.CBSClassification
      }}
      @showStartEndDate={{false}}
      @form={{@form}}
      @buildMetaTtl={{this.buildMetaTtl}}
    />
  {{/if}}

  <AuModal
    @title={{(concat
      "Voeg mandataris toe aan " @bestuursorgaan.isTijdsspecialisatieVan.naam
    )}}
    @modalOpen={{this.isCreating}}
    @closable={{true}}
    @closeModal={{this.cancel}}
  >
    <div class="au-o-box">
      <SemanticForms::NewInstance
        @onCreate={{this.onCreate}}
        @form={{@form}}
        @buildSourceTtl={{this.buildSourceTtl}}
        @buildMetaTtl={{this.buildMetaTtl}}
      />
    </div>
  </AuModal>

  <AuModal
    @title={{(concat
      "Genereer rijen voor " @bestuursorgaan.isTijdsspecialisatieVan.naam
    )}}
    @modalOpen={{this.isGeneratingRows}}
    @closable={{true}}
    @closeModal={{(fn (mut this.isGeneratingRows) false)}}
  >
    <div class="au-o-box">
      <Verkiezingen::GenerateRows
        @bestuursorgaan={{@bestuursorgaan}}
        @onCancel={{(fn (mut this.isGeneratingRows) false)}}
        @onCreated={{perform this.getMandatarissen}}
      />
    </div>
  </AuModal>
{{/if}}