<div class="order-input-as-string">
  <AuButton
    hideText={{true}}
    @icon="dash"
    @skin="secondary"
    class="order-input-as-string--minus"
    @disabled={{this.isMinusDisabled}}
  />
  <AuInput
    value={{@rangorde}}
    placeholder="bv. eerste, 1 of 1ste"
    @warning={{this.inputWarningMessage}}
    {{on "keyup" (perform this.transformRangorde)}}
  />
  <AuButton
    hideText={{true}}
    @skin="secondary"
    @icon="plus"
    class="order-input-as-string--plus"
    @disabled={{this.isplusDisabled}}
  />
</div>
<AuHelpText @warning={{this.inputWarningMessage}}>
  {{this.inputWarningMessage}}
</AuHelpText>