{{page-title "Report"}}

<AuMainContainer as |main|>
  <main.content>
    <AuBodyContainer id="content" class="au-c-body-container--scroll">
      <AuToolbar @size="large" as |Group|>
        <Group>
          <AuHeading @skin="2">
            Validatierapport
          </AuHeading>
        </Group>
        <Group>
          <RefreshValidationsButton />
        </Group>
      </AuToolbar>
      <div class="au-u-padding">
        {{#if this.isEmptyResult}}
          <AuAlert @skin="success" @icon="check">
            De data binnen deze bestuurseenheid is conform de validatieregels.
          </AuAlert>
        {{/if}}
        {{#if this.reportIsRunning}}
          <AuAlert @skin="info" @icon="clock">
            <p>
              Het validatierapport wordt gegenereerd. Dit kan even duren. Deze
              pagina herlaadt automatisch wanneer het rapport klaar is. U kan
              ondertussen de applicatie blijven gebruiken.
            </p>
            {{#if this.validatie.lastValidationDuration}}
              <p>De vorige validatie duurde
                {{this.validatie.lastValidationDuration}}</p>
            {{/if}}
          </AuAlert>
        {{else}}
          <div class="au-u-box au-u-padding-bottom">
            <AuDataTable
              @content={{this.allValidationErrors}}
              @noDataMessage="Geen validatieresultaten gevonden"
              @size={{this.allValidationErrors.length}}
              @hidePagination={{true}}
              as |t|
            >
              <t.content as |c|>
                <c.header>
                  <th class="au-u-padding-small">Entiteit</th>
                  <th class="au-u-padding-small">Boodschap</th>
                </c.header>

                <c.body as |result|>
                  <ValidationReportRow @result={{result.instance}} />
                </c.body>
              </t.content>
            </AuDataTable>
          </div>
        {{/if}}
      </div>
    </AuBodyContainer>
  </main.content>
</AuMainContainer>