{{page-title "Report"}}

<AuMainContainer as |main|>
  <main.content>
    <AuToolbar @size="large" as |Group|>
      <Group>
        <AuHeading @skin="2">
          Validatierapport -
          {{moment-format this.model.report.created "DD-MM-YYYY HH:mm:ss"}}
        </AuHeading>
      </Group>
      <Group>
        <RefreshValidationsButton />
      </Group>
    </AuToolbar>
    <AuBodyContainer id="content">
      <div class="au-c-body-container au-c-body-container--scroll au-u-padding">
        {{#each @model.resultsByTargetClass as |instanceGroup|}}
          <div class="au-u-box au-u-margin-top no-pagination">
            <AuHeading @skin="3" class="au-u-margin-bottom">
              {{instanceGroup.class.label}}
            </AuHeading>

            <AuDataTable
              @content={{instanceGroup.instances}}
              @noDataMessage="Geen validatieresultaten gevonden"
              @size={{instanceGroup.instances.length}}
              as |t|
            >
              <t.content as |c|>
                <c.header>
                  <th class="au-u-padding-small">Entiteit</th>
                  <th class="au-u-padding-small">Boodschap</th>
                </c.header>

                <c.body as |result|>
                  <td>
                    <LinkTo
                      @route={{result.context.route}}
                      @model={{result.context.modelId}}
                      class="au-c-link au-u-medium"
                    >
                      {{result.label}}
                    </LinkTo>
                  </td>
                  <td>
                    {{result.result.resultMessage}}
                  </td>

                </c.body>
              </t.content>
            </AuDataTable>
          </div>
        {{/each}}
      </div>
    </AuBodyContainer>
  </main.content>
</AuMainContainer>