{{page-title "Report"}}

<AuMainContainer as |main|>
  <main.content>
    <AuToolbar @size="large" as |Group|>
      <Group>
        <AuHeading @skin="2">
          Validatierapport
        </AuHeading>
      </Group>
      <Group>
        <RefreshValidationsButton />
      </Group>
    </AuToolbar>
    <AuBodyContainer id="content">
      <div class="au-c-body-container au-c-body-container--scroll au-u-padding">
        {{#if this.isEmptyResult}}
          <AuAlert @skin="success" @icon="check">
            De data binnen deze bestuurseenheid is conform de validatieregels.
          </AuAlert>
        {{/if}}
        {{#if this.reportIsRunning}}
          <AuAlert @skin="info" @icon="clock">
            <p>
              Het validatierapport wordt gegenereerd. Dit kan even duren. Deze
              pagina herlaadt automatisch wanneer het rapport klaar is en u kan
              ondertussen de applicatie blijven gebruiken.
            </p>
            {{#if this.validatie.lastValidationDuration}}
              <p>De vorige validatie duurde
                {{this.validatie.lastValidationDuration}}</p>
            {{/if}}
          </AuAlert>
        {{else}}
          {{#each this.resultsByTargetClass as |instanceGroup|}}
            <div class="au-u-box au-u-margin-top no-pagination">
              <AuHeading @skin="3" class="au-u-margin-bottom">
                {{instanceGroup.class.label}}
              </AuHeading>

              <AuDataTable
                @content={{instanceGroup.instances}}
                @noDataMessage="Geen validatieresultaten gevonden"
                @size={{instanceGroup.instances.length}}
                as |t|
              >
                <t.content as |c|>
                  <c.header>
                    <th class="au-u-padding-small">Entiteit</th>
                    <th class="au-u-padding-small">Boodschap</th>
                  </c.header>

                  <c.body as |result|>
                    <ValidationReportRow @result={{result}} />
                  </c.body>
                </t.content>
              </AuDataTable>
            </div>
          {{/each}}
        {{/if}}
      </div>
    </AuBodyContainer>
  </main.content>
</AuMainContainer>