{{page-title "Instellingen"}}

<div
  class="au-c-main-container au-u-padding au-u-flex--column"
  {{did-insert (perform this.prepareSettings)}}
>
  {{#if this.prepareSettings.isRunning}}
    <AuLoader
      @hideMessage={{this.hideMessage}}
      @centered={{true}}
    >Instellingen</AuLoader>
  {{else}}
    <h2 class="au-u-h2">Bestuurseenheid</h2>
    <AuHr @size="default" />
    <div class="au-u-margin-top-small">
      <AuLabel for="input">Contact email</AuLabel>
      <AuInput
        @width="block"
        @icon="mail"
        @iconAlignment="left"
        value={{this.bestuurseenheid.email}}
        id="email-bestuurseenheid"
        {{on "keyup" (perform this.validateEmailBestuurseenheid)}}
      />
    </div>
  {{/if}}
</div>