{{page-title "Instellingen"}}

<div class="au-c-main-container au-u-padding au-u-flex--column">
  <h2 class="au-u-h2">{{this.bestuurseenheidLabel}}</h2>
  <AuHr @size="default" />
  <div class="au-u-margin-top-small">
    <Form::Instance
      @instanceId={{this.model.bestuurseenheid.contact.instanceId}}
      @form={{this.model.bestuurseenheid.contact.form}}
      @onSave={{perform this.saveBestuurseenheidSettings}}
      @showHistory={{false}}
    />
  </div>
</div>