{{page-title "Meldingen"}}

<AuBodyContainer>
  <AuBodyContainer @scroll={{true}} id="content">
    <AuToolbar @size="large" as |Group|>
      <Group>
        <AuHeading @skin="2">Systeem meldingen</AuHeading>
      </Group>
    </AuToolbar>

    <div class="au-u-margin-bottom au-u-padding-left au-u-padding-right">
      <AuTabs as |Tab|>
        <Tab>
          <AuLink
            @skin="primary"
            class={{this.getActiveClass "unread"}}
            {{on "click" this.showUnReadNotifications}}
          >
            Ongelezen
          </AuLink>
        </Tab>
        <Tab>
          <AuLink
            @skin="primary"
            class={{this.getActiveClass "read"}}
            {{on "click" this.showReadNotifications}}
          >
            Gelezen
          </AuLink>
        </Tab>
        <Tab>
          <AuLink
            @skin="primary"
            class={{this.getActiveClass "archived"}}
            {{on "click" this.showArchivedNotifications}}
          >Gearchiveerd
          </AuLink>
        </Tab>
      </AuTabs>
    </div>

    <div class="au-u-padding-left au-u-padding-right">
      <AuDataTable
        @content={{this.notifications}}
        @sort={{@sort}}
        @page={{this.page}}
        @noDataMessage="Geen systeem meldingen gevonden."
        as |t|
      >
        <t.content as |c|>
          <c.header>
            <AuDataTableThSortable
              @field="code.label"
              @label="Type"
              @currentSorting={{this.sort}}
            />
            <AuDataTableThSortable
              @field="created-at"
              @currentSorting={{this.sort}}
              @label="Aangemaakt op"
            />
            <AuDataTableThSortable
              @field="subject"
              @label="Onderwerp"
              class="no-sorting"
            />
            <AuDataTableThSortable
              @field="message"
              @label="Bericht"
              class="no-sorting"
            />
            <th class="no-sorting"><span
                class="au-c-data-table__header-title au-c-data-table__header-title--sortable"
              >Links</span></th>
            <th>{{! Actions dropdown }}</th>
          </c.header>
          <c.body as |notification|>
            <SystemNotificationRow
              @notification={{notification}}
              @updateTable={{this.updateTable}}
            />
          </c.body>
        </t.content>
      </AuDataTable>
    </div>
  </AuBodyContainer>
</AuBodyContainer>