{{page-title "Meldingen"}}

<AuToolbar @border="bottom" @size="large" as |Group|>
  <Group>
    <AuHeading @skin="2">Systeem meldingen</AuHeading>
  </Group>
</AuToolbar>

<AuDataTable
  @content={{@model.notifications}}
  @sort={{@sort}}
  @page={{@page}}
  @size={{@size}}
  @isLoading={{false}}
  @noDataMessage="Geen systeem meldingen gevonden."
  as |t|
>
  <t.content as |c|>
    <c.header>
      <AuDataTableThSortable
        @field="subject"
        @currentSorting={{@sort}}
        @label="Onderwerp"
      />
      <AuDataTableThSortable
        @field="message"
        @currentSorting={{@sort}}
        @label="Bericht"
      />
      <AuDataTableThSortable
        @field="createdAt"
        @currentSorting={{@sort}}
        @label="Aangemaakt op"
      />
      <th>{{! Actions dropdown }}</th>
    </c.header>
    <c.body as |notification|>
      <td>{{notification.subject}}</td>
      <td>{{notification.message}}</td>
      <td>{{moment-format notification.createdAt "DD-MM-YYYY HH:mm:ss"}}</td>
      <td>
        <AuDropdown
          @skin={{this.skin}}
          @icon="three-dots"
          @hideText={{true}}
          role="menu"
        >
          <AuButton @skin="link" @icon="check" role="menuitem">
            Markeer als gelezen
          </AuButton>
          <AuButton @skin="link" @icon="archive" role="menuitem">
            Archiveren
          </AuButton>
        </AuDropdown>
      </td>
    </c.body>
  </t.content>
</AuDataTable>